[data-src-search-box] {
  .search-input {
    // margin: 0;
    float: right;
    width: 580px;

    @media only screen and (max-width: 375px) {
      width: 100%;
    }

    @media only screen and (min-width: 376px) and (max-width: 600px) {
      width: 100%;
    }

    form {
      @include display(flex);
      margin-top: 5px !important;
      background: #fff;
      position: relative;
      width: 100%;
    }

    input {
      outline-width: 0;
      background: none;
      width: 90%;
      height: 25px;
      padding: 10px 15px;
      font-weight: 300;
      font-size: 16px;
      color: #000;
      font-family: "Titillium Web", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      @include boxshadow(none);
      -webkit-appearance: none;
      display: block;
      transition: background 0.2s ease-out, border-color 0.2s ease-out;
      @include placeholder (tint($color-text, 20%), italic);
    }

    button {
      position: relative;
      top: 0;
      right: 0;
      cursor: pointer;
      border-width: 0;
      outline-width: 0;
      font-size: 20px;
      padding: 11px;
      background: none;
      color: #555;
      @include transition(all 0.15s linear);

      &:hover, &:focus, &:active {
        background: $color-kcblue;
        border-color: $color-kcblue;
      }

      .button-text {
        display: none;
      }
    }
  }
}
