[data-src-search-paginator] {
  ul {
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    width: 90%;
    padding: 0 0 35px 0;

    li {
      display: inline-block;
      margin-right: -0.25em;

      & > a, & > span {
        display: inline-block;
        line-height: 2;
        padding: 0 0.75em;
      }

      & > span {
        font-family: $font-family-primary;
        font-style: bold;
        font-weight: normal;
      }
    }
  }
}
