[data-src-search-results] {
  .search-results {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      margin: 0;
      padding: 1em 0.5em;

      .title {
        font-family: $font-family-primary;
        font-style: bold;
        font-weight: normal;
        display: block;
        font-size: 15px;
        margin-bottom: 0.5em;
      }

      .excerpt {
        font-size: 12px;

        em {
          font-family: $font-family-primary;
          font-style: bold;
          font-weight: normal;
        }
      }

      &.loading {
        text-align: center;
      }

      &.no-results, &.results-count {
        font-family: $font-family-primary;
        font-style: italic;
        font-weight: normal;
        color: tint($color-text, 40%);
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
