<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block metaTitle %}Carina by Rackspace - High-performance, instant-on Docker containers{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}Carina by Rackspace - A high performance, instant-on &amp; portable container environment for developers.{% endblock %}">
        <meta name="og:title" content="{% block ogTitle %}Carina by Rackspace - High-performance, instant-on Docker containers{% endblock %}">
        <meta name="og:description" content="{% block ogDescription %}Carina by Rackspace - A high performance, instant-on &amp; portable container environment for developers.{% endblock %}">
        <meta name="og:image" content="{% block ogImage %}{{ deconst.assets.assets_getcarina_com_dist_img_og_image_png }}{% endblock %}">
        <meta name="og:type" content="site">
        <meta name="twitter:title" content="{% block twitterTitle %}Carina by Rackspace - High-performance, instant-on Docker containers{% endblock %}">
        <meta name="twitter:description" content="{% block twitterDescription %}Carina by Rackspace - A high performance, instant-on &amp; portable container environment for developers.{% endblock %}">
        <meta name="twitter:creator" content="{% block twitterCreator %}@getcarina{% endblock %}">
        <meta name="twitter:site" content="@getcarina">

        <meta name="google-site-verification" content="-qoXCz5J658-HCVb3o1x3AOOOKFGNNvW0tKfw8PKTyQ" />

        {% if deconst.env.PRESENTER_DEVMODE == 'true' %}
            {% set cssUrl = '/assets/getcarina.com/src/css/main.css' %}
        {% else %}
            {% set cssUrl = deconst.assets.assets_getcarina_com_dist_css_main_css %}
        {% endif %}
        <link rel="stylesheet" href="{{ cssUrl }}">

        {% block headScripts %}{% endblock %}
    {% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
  {% block body %}{% endblock %}
  {% include "_includes/ga.html" %}
  {% block footScripts %}
    {% if deconst.env.PRESENTER_DEVMODE == 'true' %}
        {% set jsUrl = '/assets/getcarina.com/src/js/bundle.js' %}
    {% else %}
        {% set jsUrl = deconst.assets.assets_getcarina_com_dist_js_site_min_js %}
    {% endif %}
    <script src="{{ jsUrl }}" async></script>
  {% endblock %}
</body>
</html>
