[data-carina-search-box] {
  .search-input {
    margin: 0;
    width: 100%;

    form {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
    }

    input {
      -webkit-appearance: none;
      background: fadeout(white, 10%);
      border: solid 1px #ccc;
      border-right-width: 0px;
      display: block;
      font-family: Arial;
      font-size: 14px;
      line-height: 32px;
      margin: 0;
      outline: none;
      padding: 0 0.5em;
      transition: background 0.2s ease-out, border-color 0.2s ease-out;
      width: 100%;

      &:focus {
        background: white;
        border-color: $rax-blue;
      }

      &::-webkit-input-placeholder {
        color: tint($text-color, 20%);
        font-style: italic;
      }
    }

    button {
      background: tint($rax-blue, 15%);
      border-color: $rax-blue;
      border-left-color: transparent;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      width: auto;

      &:hover, &:focus, &:active {
        background: $rax-blue;
        border-color: $rax-blue;
      }

      .button-text {
        display: none;
      }
    }
  }
}
