                        <h3>Contents</h3>
                        <div class="sidebar-container">
                        {% if deconst.content.envelope.toc %}
                        {{ deconst.content.envelope.toc|pruneRoot|limitListDepth(2) }}
                        {# TODO #}
                        {% endif %}
                        </div>

                        <h3>Related Articles</h3>
                        <div>
                        {% if deconst.content.envelope.related %}
                        {{ deconst.content.envelope.related|pruneRoot|limitListDepth(2) }}
                        {# TODO #}
                        {% endif %}
                        </div>

                        <h3>Have Feedback?</h3>
                        <p>We love customer feedback. Help us improve our products and service by <a href="">leaving yours</a>.</p>
                        {# TODO #}
