                        <p class="comment"><i class="fa fa-comments-o"></i> Continue the conversation in the <a href="https://community.rackspace.com/feedback/f/68">Rackspace Community</a>.</p>

                        <aside class="cta">
                            <h3>Experience what Rackspace has to offer.</h3>
                            <p class="button"><a href="https://cart.rackspace.com/cloud/">Learn More</a></p>
                            {#
                             # SSDEV-435 - remove click to chat
                            <p>Still have questions? Open a <a href="#chat">chat</a> with a sales representative.</p>
                            #}
                        </aside>
                        
                        {% include "_includes/legal-footer.html" %}
