{% if deconst.content.envelope.meta.github_edit_url %}
   <div class="contributing-container">
      <p class="button-wp"><a href="{{ deconst.content.envelope.meta.github_edit_url }}"><i class="fa fa-github"></i>Edit this article</a></p>
   </div>
{% endif %}

{% set buyURL = deconst.content.envelope.meta.product_url %}

    <div class="contributing-container">
      <p class="button-cart">
        {% if buyURL  == "exchange" or buyURL == "rackspace-email" or buyURL == "rackspace-email-archiving" or buyURL == "skype-for-business"%}
          <a class="active" id="side-apps" href="https://cart.rackspace.com/{{ "apps" }}">Buy Now</a>
        {% elif buyURL  == "office-365"%}
          <a class="active" id="side-office" href="https://cart.rackspace.com/{{ "office365" }}">Buy Now</a>
        {% elif buyURL  != "dedicated-hosting"%}
          <a class="active" id="side-cloud" href="https://cart.rackspace.com/{{ "cloud" }}">Buy Now</a>
        {% endif %}
      </p>
    </div>
