<div id='rax-footer-wrapper'>
    <div id='rax-footer-container' class='rax-clearfix'>
        <div class='rax-footer-col'>
            <h4>Support Network</h4>
            <ul>
                <li><a href='https://support.rackspace.com' target='_blank'>Support Network Home</a></li>
                <li><a href='https://support.rackspace.com/how-to' target='_blank'>Rackspace How-To</a></li>
                <li><a href='https://community.rackspace.com' target='_blank'>Rackspace Community</a></li>
                <li><a href='https://developer.rackspace.com/docs' target='_blank'>API Documentation</a></li>
                <li><a href='https://developer.rackspace.com' target='_blank'>Developer Center</a></li>
            </ul>
        </div>
        <div class='rax-footer-col rax-footer-about'>
            <h4>About Rackspace</h4>
            <div class='rax-clearfix'>
                <ul class='rax-footer-about-list'>
                    <li><a href='http://www.rackspace.com/about/'>About</a></li>
                    <li><a href='http://stories.rackspace.com' target='_blank'>Customer Stories</a></li>
                    <li><a href='http://www.rackspace.com/events/'>Events</a></li>
                    <li><a href='http://www.rackspace.com/programs/'>Programs</a></li>
                </ul>
                <ul class='rax-footer-about-list'>
                    <li><a href='http://blog.rackspace.com/category/newsroom'>News</a></li>
                    <li><a href='http://www.rackspace.com/information/contactus/'>Contact Information</a></li>
                    <li><a href='http://www.rackspace.com/information/legal/'>Legal</a></li>
                    <li><a href='http://talent.rackspace.com/' target='_blank'>Careers</a></li>
                </ul>
            </div>
        </div>
        <div class='rax-footer-col'>
            <h4>Blogs</h4>
            <ul>
                <li><a href='http://blog.rackspace.com' target='_blank'>The Rackspace Blog</a></li>
                <li><a href='https://developer.rackspace.com/blog/' target='_blank'>Developer Blog</a></li>
            </ul>
        </div>
        <div class='rax-footer-col'>
            <h4>Site Information</h4>
            <ul>
                <li><a href='http://www.rackspace.com/information/legal/privacystatement' target='_blank'>Privacy Statement</a></li>
                <li><a href='http://www.rackspace.com/information/legal/websiteterms' target='_blank'>Website Terms</a></li>
                <li><a href='http://www.rackspace.com/information/legal/copyrights_trademarks' target='_blank'>Trademarks</a></li>
                <li><a href="/docs/style-guide/quickstart/">Style Guide for Technical Content</a></li>
                <li><a href='http://www.rackspace.com/sitemap' target='_blank'>Sitemap</a></li>
            </ul>
        </div>
    </div>
    <div id="rax-basement-wrapper">
        <div id="rax-basement-container" class="rax-clearfix">
            <p>&copy; 2017 Rackspace US, Inc.</p>
        </div>
    </div>
</div>
