<!-- Font Includes -->
<link href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
	<script src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
<![endif]-->

<div id='rax-support-header'>
    <div id='rax-eyebrow-wrapper'>
        <div id='rax-eyebrow-container' class='rax-clearfix'>
            <div id='rax-eyebrow-utility'>
                <ul>
                    <li><a href='tel:+18009614454'>US Support: 1-800-961-4454</a></li>
                    <li><a href='tel:+08009880300'>UK Support: 0800-988-0300</a></li>
                    <li><a href="https://www.rackspace.com/information/contactus#form">Email Us</a></li>
                </ul>
            </div>
            <div id='rax-eyebrow-login' class='rax-dropdown-menu'>
                <ul>
                    <li>
                        <span class='rax-btn'>Log In</span>
                        <ul>
                           <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                           <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                           <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                           <li><a href="https://cp.rackspace.com">Email Admin Login</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id='rax-eyebrow-signup' class='rax-dropdown-menu'>
                <ul>
                    <li>
                        <span class='rax-btn'>Sign Up</span>
                       <ul>
                           <li><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
                           <li><a href="https://cart.rackspace.com/apps">Email &amp; Apps</a></li>
                       </ul>
                    </li>
                </ul>
            </div>
            <div id='rax-eyebrow-status'>
                <p><a href='https://status.rackspace.com'>System Status</a></p>
            </div>
        </div>
    </div>
    <div id='rax-support-nav-wrapper'>
       <div id='rax-support-nav-container'>
            <nav id='nav-global'>
                <a class="rax-logo" href='http://www.rackspace.com'>Rackspace</a><a id='raxhs-support' class="raxhs-tab {% if deconst.request.path.match('^/$') %}active{% endif %}" href='http://support.rackspace.com'>Support Home</a><a id='raxhs-how-to' class="raxhs-tab {% if deconst.request.path.match('how-to/?') %}active{% endif %}" href='https://support.rackspace.com/how-to/'>How-To</a><a id='raxhs-community' class='raxhs-tab' href='https://community.rackspace.com'>Community</a><a id='raxhs-api' class='raxhs-tab' href='https://developer.rackspace.com/docs'>API Documentation</a><a id='raxhs-developer' class='raxhs-tab' href='https://developer.rackspace.com'>Developers</a><a id='raxhs-whitepapers' class="raxhs-tab {% if deconst.request.path.match('whitepapers/$') %}active{% endif %}" href='https://support.rackspace.com/whitepapers'>White Papers</a>
            </nav>
        </div>
    </div>
    <div id='rax-support-banner-wrapper'>
        <div id='rax-support-banner-container'>
            <div class='rax-support-banner-utility rax-clearfix'>
                <a href='http://support.rackspace.com'>
                    <aside id='rax-header-link'>
                        <h1><span>Rackspace</span> Support Network</h1>
                    </aside>
                </a>
                <div class="search">
                  {% if deconst.request.path.match('search/?') %}
                    {% set pageType = "search" %}
                  {% endif %}
                  <div data-src-search-box {% if pageType == "search" %}data-load-initial="1" data-focus="1"{% endif %}></div>
                </div>
            </div>
        </div>
    </div>
</div>
