<!-- Font Includes -->
<link href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
	<script src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
<![endif]-->

<div id='rax-support-header'>
    <div id='rax-eyebrow-wrapper'>
        <div id='rax-eyebrow-container' class='rax-clearfix'>
            <div id='rax-eyebrow-utility'>
                <ul>
                    <li><a href='tel:+18009614454'>US Support: 1-800-961-4454</a></li>
                    <li><a href='tel:+08009880300'>UK Support: 0800-988-0300</a></li>
                    <li><a href="https://www.rackspace.com/information/contactus#form">Email Us</a></li>
                </ul>
            </div>
            <div id='rax-eyebrow-login' class='rax-dropdown-menu'>
                <ul>
                    <li>
                        <span class='rax-btn'>Log In</span>
                        <ul>
                           <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                           <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                           <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                           <li><a href="https://cp.rackspace.com">Email Admin Login</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id='rax-eyebrow-signup' class='rax-dropdown-menu'>
                <ul>
                    <li>
                        <span class='rax-btn'>Sign Up</span>
                       <ul>
                           <li><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
                           <li><a href="https://cart.rackspace.com/apps">Email &amp; Apps</a></li>
                       </ul>
                    </li>
                </ul>
            </div>
            <div id='rax-eyebrow-status'>
                <p><a href='https://status.rackspace.com'>System Status</a></p>
            </div>
        </div>
    </div>
    <div id='rax-support-nav-wrapper'>
       <div id='rax-support-nav-container'>
            <nav id='nav-global'>
                <a class="rax-logo" href='http://www.rackspace.com'>Rackspace</a><a id='raxhs-support' class="raxhs-tab {% if deconst.request.path.match('^/$') %}active{% endif %}" href='http://support.rackspace.com'>Support Home</a><a id='raxhs-how-to' class="raxhs-tab {% if deconst.request.path.match('how-to/?') %}active{% endif %}" href='https://support.rackspace.com/how-to/'>How-To</a><a id='raxhs-community' class='raxhs-tab' href='https://community.rackspace.com'>Community</a><a id='raxhs-api' class='raxhs-tab' href='https://developer.rackspace.com/docs'>API Documentation</a><a id='raxhs-developer' class='raxhs-tab' href='https://developer.rackspace.com'>Developers</a>
            </nav>
        </div>
    </div>
    <div class="rax-support-maintenance-banner">
      <div class="rax-support-maintenance-banner-container">
        <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 16 16">
          <path id="hxPath" d="M14.832 13.3c.438.88-.016 1.697-.944 1.698C11.925 15.001 9.962 15 8 15c-1.973 0-3.944.002-5.914 0-.608 0-1.054-.39-1.084-.985a1.395 1.395 0 0 1 .145-.663C3.123 9.44 5.104 5.533 7.088 1.627c.2-.393.5-.634.925-.627.433.007.72.272.923.674 1.68 3.317 3.364 6.632 5.046 9.947.284.56.57 1.117.851 1.68zm-6.332.2c.275 0 .5-.225.5-.5v-1c0-.275-.225-.5-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zm.065-3c.268 0 .52-.249.507-.5l.175-5c.032-.299-.203-.5-.472-.5h-1.55a.48.48 0 0 0-.475.5l.148 5c.008.275.235.5.504.5h1.163z"></path>
        </svg>
        <p class="rax-support-maintenance-banner-content">
          NOTICE: Rackspace Engineers will be performing a scheduled maintenance on the infrastructure for support.rackspace.com and developer.rackspace.com on October 23, 2018 and October 24, 2018. During this maintenance, both sites will be down for a few hours between 10:00 PM CDT and 8:00 AM CDT, and customers will not be able to access the How-To or the API documentation. If you have any questions or concerns in regard to this maintenance, please do not hesitate to contact a member of our support team.
        </p>
      </div>
    </div>
    <div id='rax-support-banner-wrapper'>
        <div id='rax-support-banner-container'>
            <div class='rax-support-banner-utility rax-clearfix'>
                <a href='http://support.rackspace.com'>
                    <aside id='rax-header-link'>
                        <h1><span>Rackspace</span> Support Network</h1>
                    </aside>
                </a>
                <div class="search">
                  {% if deconst.request.path.match('search/?') %}
                    {% set pageType = "search" %}
                  {% endif %}
                  <div data-src-search-box {% if pageType == "search" %}data-load-initial="1" data-focus="1"{% endif %}></div>
                </div>
            </div>
        </div>
    </div>
</div>
