<!-- Font Includes -->
<link href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
	<script src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
<![endif]-->
{% set ctaURL = deconst.content.envelope.meta.title %}
<div id='rax-support-header'>
    <div id='rax-eyebrow-wrapper'>
        <div id='rax-eyebrow-container' class='rax-clearfix'>
            <a class='rax-logo' href='https://www.rackspace.com'></a>
            <div id='rax-eyebrow-login' class='rax-dropdown-menu'>
                <ul>
                    <li>
                        <span class='rax-btn'>Log In</span>
                        <ul>
                            <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                            <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                            <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                            <li><a href="https://cp.rackspace.com">Cloud Office Control Panel</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id='rax-eyebrow-signup' class='rax-dropdown-menu'>
                <ul>
                    <li>
                        <span class='rax-btn'>Buy Now</span>
                        <ul>
                            <li><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
                            <li><a href="https://cart.rackspace.com/apps/signups/chooseApps/rax:1">Rackspace Email</a></li>
                            <li><a href="https://cart.rackspace.com/apps/signups/chooseApps/hex:1">Hosted Exchange</a></li>
                            <li><a href="https://cart.rackspace.com/aws">Fanatical Support for AWS</a></li>
                            <li><a href="https://cart.rackspace.com/gcp">Managed Google Cloud Platform</a></li>
                            <li><a href="https://cart.rackspace.com/office365">Office 365</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id='rax-eyebrow-status'>
                <p><a href='https://status.rackspace.com'>System Status</a></p>
            </div>
        </div>
    </div>
    <div id='rax-support-nav-wrapper'>
        <div id='rax-support-nav-container'>
            <nav id='nav-global'>
                <ul>
                    <li><a class="rax-logo" href='https://www.rackspace.com'>Rackspace</a></li>
                    <li><a id='raxhs-support' {% if deconst.request.path.match('^/$') %}active{% endif %}"
                            href='https://support.rackspace.com'>Support Home</a></li>
                    <li><a id='raxhs-how-to' {% if deconst.request.path.match('how-to/?') %}active{% endif %}"
                            href='https://support.rackspace.com/how-to/'>How-To</a>
                    </li>
                    <li><a id='raxhs-api' href='https://developer.rackspace.com/docs'>Developer Documentation</a></li>
                    <li><a href="#">Blogs &#9660;</a>
                        <ul>
                            <li><a href='https://developer.rackspace.com/blog/'>Technical Blog</a></li>
                            <li><a href='https://www.rackspace.com/blog/'>Rackspace Blog</a></li>
                            <li><a href='https://www.rackspace.com/solve/'>Solve: Thought Leadership</a></li>
                        </ul>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
    <div id='rax-support-banner-wrapper'>
        <div id='rax-support-banner-container'>
            <div class='rax-support-banner-utility rax-clearfix'>
                <a href='https://support.rackspace.com'>
                    <aside id='rax-header-link'>
                        <h1> Support Network</h1>
                    </aside>
                </a>
                <div class="search">
                    {% if deconst.request.path.match('search/?') %}
                    {% set pageType = "search" %}
                    {% endif %}
                    <div data-src-search-box {% if pageType == "search" %}data-load-initial="1" data-focus="1"
                        {% endif %}></div>
                </div>
            </div>
        </div>
    </div>
    <div id="banner-announcement-container">
      <div class="banner-announcement">
        {% if (ctaURL  == "Connect to a cloud server") or
           (ctaURL == "Cloud Servers") or
           (ctaURL == "Check Rackspace Cloud status") or
           (ctaURL == "Cloud DNS") or
           (ctaURL == "Create a cloud server") or
           (ctaURL == "Create a backup") or
           (ctaURL == "Cloud Files") or
           (ctaURL == "Cloud Servers – All Articles") or
           (ctaURL == "Cloud Backup") or
           (ctaURL == "Connect to a Cloud Databases instance") or
           (ctaURL == "Multi-factor authentication from the Cloud Control Panel") or
           (ctaURL == "Cloud Load Balancers") or
           (ctaURL == "Create and attach a Cloud Block Storage volume") or
           (ctaURL == "Cloud Databases") or
           (ctaURL == "Getting started with Rackspace Public Cloud")%}
          <p>Try out the <a href='https://www.rackspace.com/openstack/public'>OpenStack Public Cloud</a> today!</p>
        {% elif (ctaURL  == "Create a DKIM TXT record") or
           (ctaURL == "Rackspace Email and Hosted Exchange settings") or
           (ctaURL == "Identifying suspicious email") or
           (ctaURL == "Set up DNS records for Cloud Office email") or
           (ctaURL == "Change a Microsoft Exchange mailbox password") or
           (ctaURL == "Open ports in the Linux firewall to access POP and IMAP mail servers") or
           (ctaURL == "Rackspace Email") or
           (ctaURL == "Export email address data from Outlook 2016 for Windows") or
           (ctaURL == "Manage multi-factor authentication for users in Office 365") or
           (ctaURL == "Manually configure iOS devices for email hosted on Exchange 2013") or
           (ctaURL == "Create an SPF TXT record") or
           (ctaURL == "Add a domain in Office 365") or
           (ctaURL == "Manually configure Outlook 2013 for email hosted on Exchange 2013") or
           (ctaURL == "Outlook Web Access for Exchange") or
           (ctaURL == "Configure email clients and mobile devices for email hosted on Exchange") or
           (ctaURL == "Export or import a set of rules from Outlook") or
           (ctaURL == "Recover deleted email in Webmail") or
           (ctaURL == "Manually configure Outlook 2010 for email hosted on Exchange 2010") or
           (ctaURL == "Set up Autodiscover for Outlook") or
           (ctaURL == "Set up Microsoft Exchange email forwarding") or
           (ctaURL == "Getting started with Rackspace Hosted Email") or
           (ctaURL == "Manually configure iOS devices for email hosted on Exchange 2010") or
           (ctaURL == "Migrate your email by using the Self-Service Migration Tool") or
           (ctaURL == "View and read email headers in the Outlook Web App")%}
          <p>Try <a href='https://www.rackspace.com/email-hosting'>Microsoft or Rackspace email</a>, free for 14 days!</p>
        {% else %}
          <p>End-to-End Multicloud Solutions.&nbsp;&nbsp;&nbsp;<strong>Solving Together.&trade;</strong>&nbsp;&nbsp;&nbsp;Learn more at <a href='https://www.rackspace.com/'>Rackspace.com</a></p>
        {% endif %}
      </div>
      <div id="banner-maintenance-container">
        <div class="banner-maintenance">
          <p><strong>Maintenance notice:</strong> support.rackspace.com will undergo maintenance on 08/20/2020.<br>
            You may notice irregularities in site performance.</p>
        </div>
      </div>
    </div>
</div>
