<div class="list-sort-container clearfix">
    <div class="row">
        <div class="eight columns">
            <dl>
                <dt>Sort by:</dt>
                <dd><a id="list-title" href="javascript:void(0);">Title</a><i class="fa fa-caret-down"></i></dd>
                <dd><a id="list-date" href="javascript:void(0);">Date</a><i class="fa fa-caret-down"></i></dd>
            </dl>
        </div>
        <div class="four columns">
            <form id='filter' class='clearfix' method='' action='javascript:void(0);'>
                <input type='text' id='filter-input' name='filter-form' placeholder='Filter List&hellip;' />
                <button type='' id='filter-button'><i class='fa fa-search'></i></button>
            </form>
        </div>
    </div>
</div>
