                        <ul class="breadcrumbs">
                            <li><a href="{{ siteUrl }}">Knowledge Center</a></li>
                            <li>{{ product }}</li>
                        </ul>

                        <h2 class="less-margin">{{ title }}</h2>

                        <ul class="meta">
                            {% if created_by %}
                            <li>By: {{ created_by }}</li>
                            {% if created_date %}<li>On: {{ created_date }}</li>{% endif %}
                            {% endif %}
                        </ul>
