<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">

<div id="share-bar">

    <h4>Share this article:</h4>

    <div class="share-buttons">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://developer.rackspace.com/{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" >
            <i class="fab fa-facebook"></i>
        </a>

        <a  href="https://twitter.com/intent/tweet?text=Check%20out%20this%20handy%20tutorial%20from%20Rackspace:{{ page.title }}&url={{site.url }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" >
            <i class="fab fa-twitter"></i>
        </a>

        <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on LinkedIn" >
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>

</div>
