<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div id="share-bar">

    <h4>Share this information:</h4>

    <div class="share-buttons">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" style="text-decoration: none!important"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" >
            <i class="fa fa-facebook-official share-button"></i>
        </a>

        <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&hashtags=rackspace" style="text-decoration: none!important"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" >
            <i class="fa fa-twitter share-button"></i>
        </a>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }} &title={{ page.title }}&summary={{ page.description }}&source={{ site.title }}" style="text-decoration: none!important"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on LinkedIn" >
            <i class="fa fa-linkedin share-button"></i>
        </a>

        <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" style="text-decoration: none!important"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Reddit" >
            <i class="fa fa-reddit-alien share-button"></i>
        </a>
    </div>

</div>
