<footer>
    <div id='footer-wrapper'>
        <div id='footer-container' class='clearfix'>
            <div class='footer-col'>
                <h4>Support</h4>
                <ul>
                    <li><a href='http://support.rackspace.com/' target='_blank'>Support Home</a></li>
                    <li><a href='http://www.rackspace.com/knowledge_center/'>Knowledge Center</a></li>
                    <li><a href='https://community.rackspace.com' target='_blank'>Rackspace Community</a></li>
                    <li><a href='http://docs.rackspace.com/' target='_blank'>API Documentation</a></li>
                    <li><a href='http://developer.rackspace.com' target='_blank'>Developer Center</a></li>
                </ul>
            </div>
            <div class='footer-col footer-about'>
                <h4>About Rackspace</h4>
                <div class='clearfix'>
                    <ul class='footer-about-list'>
                        <li><a href='http://www.rackspace.com/about/'>Our Story</a></li>
                        <li><a href='http://stories.rackspace.com' target='_blank'>Case Studies</a></li>
                        <li><a href='http://www.rackspace.com/events/'>Events</a></li>
                        <li><a href='http://www.rackspace.com/programs/'>Programs</a></li>
                        <li><a href='http://www.rackspace.com/blog/newsroom/'>Newsroom</a></li>
                    </ul>
                    <ul class='footer-about-list'>
                        <li><a href='http://www.rackspace.com/blog/'>The Rackspace Blog</a></li>
                        <li><a href='http://developer.rackspace.com/blog/' target='_blank'>Developer Blog</a></li>
                        <li><a href='http://www.rackspace.com/information/contactus/'>Contact Information</a></li>
                        <li><a href='http://www.rackspace.com/information/legal/'>Legal</a></li>
                        <li><a href='http://talent.rackspace.com/' target='_blank'>Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class='footer-col'>
                <h4>Blogs</h4>
                <ul>
                    <li><a href='http://blog.rackspace.com' target='_blank'>The Rackspace Blog</a></li>
                    <li><a href='https://developer.rackspace.com/blog/' target='_blank'>Developer Blog</a></li>
                    <li><a href='http://stories.rackspace.com/' target='_blank'>Customer Stories</a></li>
                    <li><a href='http://www.rackspace.com/blog/new-products/' target='_blank'>New Products</a></li>
                </ul>
            </div>
            <div class='footer-col'>
                <ul>
                    <li><a href='http://www.rackspace.com/information/legal/privacystatement' target='_blank'>Privacy Statement</a></li>
                    <li><a href='http://www.rackspace.com/information/legal/websiteterms' target='_blank'>Website Terms</a></li>
                    <li><a href='http://www.rackspace.com/information/legal/copyrights_trademarks' target='_blank'>Trademarks</a></li>
                    <li><a href='http://www.rackspace.com/sitemap' target='_blank'>Sitemap</a></li>
                    <li><a href='https://feedback.rackspace.com/' target='_blank'>Feedback</a></li>
                </ul>
            </div>
        </div>
        <div id="basement-wrapper">
            <div id="basement-container" class="clearfix">
                <p>&copy; 2015 Rackspace US, Inc.</p>
            </div>
        </div>
    </div>
</footer>
