<header>
    <div id='support-header'>
        <div id='eyebrow-wrapper'>
            <div id='eyebrow-container' class='clearfix'>
                <div id='eyebrow-utility'>
                    <ul>
                        <li><a href='tel:+18009614454'>Support: 1-800-961-4454</a></li>
                        <li><a href='http://feedback.rackspace.com'>Feedback</a></li>
                    </ul>
                </div>
                <div id='eyebrow-login' class='dropdown-menu'>
                    <ul>
                        <li>
                            <span class='btn'>Log In</span>
                            <ul>
                               <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                               <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                               <li><a href="https://manage.rackspacecloud.com/pages/Login.jsp">Cloud Sites Control Panel</a></li>
                               <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                               <li><a href="https://cp.rackspace.com">Email Admin Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id='eyebrow-signup' class='dropdown-menu'>
                    <ul>
                        <li>
                            <span class='btn'>Sign Up</span>
                           <ul>
                               <li><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
                               <li><a href="https://cart.rackspace.com/cloud/sites">Cloud Sites</a></li>
                               <li><a href="https://cart.rackspace.com/apps">Email &amp; Apps</a></li>
                           </ul>
                        </li>
                    </ul>
                </div>
                <div id='eyebrow-status'>
                    <p><a href='https://status.rackspace.com'>System Status</a></p>
                </div>
            </div>
        </div>
        <div id='banner-announcement-container' class="clearfix" style='display:none'>
            <div class='banner-announcement'>
                <i id='banner-announcement-icon' class='fa fa-warning'></i>
                <p id="banner-announcement-content-text"></p>
                <a id='banner-announcement-close' class="tooltip" href="javascript:void(0)" title="Don't show this again.">&times;</a>
            </div>
        </div>
        <div id='support-nav-wrapper'>
           <div id='support-nav-container'>
                <nav id='nav-global'>
                    <a class="logo" href='http://www.rackspace.com'>Rackspace</a><a id='raxhs-support' class='raxhs-tab' href='http://docs.rackspace.com'>Support Home</a><a id='raxhs-knowledge' class='raxhs-tab' href='http://www.rackspace.com/knowledge_center/'>How-to</a><a id='raxhs-community' class='raxhs-tab' href='https://community.rackspace.com'>Community</a><a id='raxhs-support' class='raxhs-tab' href='http://developer.rackspace.com'>Developers</a></nav>
            </div>
        </div>
        <div id='support-banner-wrapper'>
            <div id='support-banner-container'>
                <div class='support-banner-utility clearfix'>
                    <a href='http://support.rackspace.com'>
                        <aside id='header-link'>
                            <h1><span>Rackspace</span> Fanatical Support</h1>
                        </aside>
                    </a>
                    <div id='support-search-container'>
                        <form id='support-search' class='clearfix' method='' action='javascript:void(0);'>
                            <input type='text' id='support-search-input' name='support-form' placeholder='Search our Support Network' />
                            <button type='' id='support-search-button'><i class='fa fa-search'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
