
<a class="home-link" href="/whitepapers/"><i class="fa fa-home"></i>White Papers Home</a>

{% if deconst.content.envelope.meta.product != "undefined" %}
<h3>{{ deconst.content.envelope.meta.product }}</h3>

{# article, page, product #}
{% set pageType = deconst.content.envelope.meta.type %}

{% elif deconst.request.path.match('-all-whitepapers/$') %}
    {% set pageType = "all-whitepapers" %}
{% endif %}

{# has no trailing slash #}
{% set productURL = deconst.content.envelope.meta.product_url %}

<ul class="area">
  <li{% if pageType == "all-whitepapers" %} class="active"{% endif %}><a href="/whitepapers/{{ productURL + "-all-whitepapers/" }}">All {{ deconst.content.envelope.meta.product }} White Papers</a></li>
</ul>

{#
 # SSDEV-456 removed until operational

<h3>Contents</h3>
<div class="sidebar-container">
</div>
#}

{% if deconst.content.envelope.meta.github_edit_url %}
<hr/>

<div class="contributing-container">
    <p class="button-wp"><a href="{{ deconst.content.envelope.meta.github_edit_url }}"><i class="fa fa-github"></i>Edit This Article</a></p>
</div>
{% endif %}
