<div class="beta-alert" data-carina-beta-alert data-ng-cloak>
  <div class="message">
    Carina<sup>&trade;</sup> by Rackspace is in public beta. See the <a href="http://www.rackspace.com/information/legal/carinatestterms" target="_blank">Terms of Service</a>. Bugs &amp; feature enhancements can be filed on <a href="https://github.com/getcarina/feedback/issues" target="_blank">GitHub</a>.
    <a href="" class="dismiss-link" data-ng-click="betaAlert.dismiss()">&times;</a>
  </div>
</div>
<header class="site-header">
  <div class="header-nav">
    {% if deconst.request.path != '/' %}
    <a href="https://getcarina.com/" class="logo">
        {% if deconst.env.PRESENTER_DEVMODE == 'true' %}
            {% set logoUrl = '/assets/getcarina.com/src/img/carina-horizontal-color-40px.svg' %}
        {% else %}
            {% set logoUrl = deconst.assets.assets_getcarina_com_dist_img_carina_horizontal_color_40px_svg %}
        {% endif %}
        <img src="{{ logoUrl }}" alt="Rackspace Logo" />
    </a>
    {% endif %}
    <ul class="header-links">
      <li{% if deconst.request.path == '/' %} class="active"{% endif %}>
        <a href="/">Home</a>
      </li>
      <li{% if deconst.request.path.match('/docs') %} class="active"{% endif %}>
        <a href="/docs/"><span class="long">Documentation</span><span class="short">Docs</span></a>
      </li>
      <li{% if deconst.request.path.match('/blog') %} class="active"{% endif %}>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <a href="https://community.getcarina.com/">Community</a>
      </li>
      <li class="separator"></li>
      <li><a href="https://app.getcarina.com/app/login">Log In</a></li>
    </ul>
  </div>
</header>
