<header class="site-header">
  <div class="header-nav">
    <a href="http://developer.rackspace.com/" class="logo">
        {% if deconst.env.PRESENTER_DEVMODE == 'true' %}
            {% set logoUrl = '/assets/getcarina.com/src/img/rackspace-logo.svg' %}
        {% else %}
            {% set logoUrl = deconst.assets.assets_getcarina_com_dist_img_rackspace_logo_svg %}
        {% endif %}
        <img src="{{ logoUrl }}" alt="Rackspace Logo" />
    </a>
    <ul class="header-links">
      <li{% if deconst.request.path == '/' %} class="active"{% endif %}>
        <a href="/">Home</a>
      </li>
      <li{% if deconst.request.path.match('/docs') %} class="active"{% endif %}>
        <a href="/docs"><span class="long">Documentation</span><span class="short">Docs</span></a>
      </li>
      <li>
        <a href="https://community.getcarina.com/">Community</a>
      </li>
      <li class="separator"></li>
      <li><a href="https://app.getcarina.com/app/login">Log In</a></li>
    </ul>
  </div>
</header>
