{% extends "_layouts/base.html" %}

{% block metaTitle %}{{ deconst.content.envelope.title + ' | Carina by Rackspace' }}{% endblock %}
{% block metaDescription %}{{ deconst.content.envelope.meta.description|fallback(super()) }}{% endblock %}
{% block ogTitle %}{{ deconst.content.envelope.title + ' | Carina by Rackspace' }}{% endblock %}
{% block ogDescription %}{{ deconst.content.envelope.meta.description|fallback(super()) }}{% endblock %}
{% block twitterTitle %}{{ deconst.content.envelope.title + ' | Carina by Rackspace' }}{% endblock %}
{% block twitterDescription %}{{ deconst.content.envelope.meta.description|fallback(super()) }}{% endblock %}

{% block bodyClass %}{{ deconst.content.envelope.meta.bodyClass }}{% endblock %}

{% block bodyContent %}
  {{ deconst.content.envelope.body }}
{% endblock %}
