{% extends "_layouts/base.html" %}

{% block metaTitle %}{{ deconst.content.envelope.title + ' | Carina by Rackspace' }}{% endblock %}
{% block metaDescription %}{{ deconst.content.envelope.meta.description|fallback(super()) }}{% endblock %}
{% block ogTitle %}{{ deconst.content.envelope.title + ' | Carina by Rackspace' }}{% endblock %}
{% block ogDescription %}{{ deconst.content.envelope.meta.description|fallback(super()) }}{% endblock %}
{% block twitterTitle %}{{ deconst.content.envelope.title + ' | Carina by Rackspace' }}{% endblock %}
{% block twitterDescription %}{{ deconst.content.envelope.meta.description|fallback(super()) }}{% endblock %}

{% block bodyClass %}docs-single{% endblock %}

{% block bodyContent %}
  <section class="docs-section hero">
    <div class="section-container">
      <div class="section-grid">
        <div class="background">
          {% include "_partials/docs-hero-short.svg" %}
        </div>
        <div class="text">
          <h1 class="article-title"><span>{{ deconst.content.envelope.title }}</span></h1>
          <div class="attribution">
            <span class="author">{{ deconst.content.envelope.meta.author }}</span>
            <span class="date">{{ deconst.content.envelope.meta.date|date('MMMM D, YYYY') }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="docs-section article">
    <div class="section-container">
      <div class="section-grid">
        <article>
          {{ deconst.content.envelope.body }}
        </article>
      </div>
    </div>
  </section>
  {% include "_partials/inline-signup.html" %}
{% endblock %}
