{% extends "_layouts/base.html" %}

{% block metaTitle %}Documentation, Tutorials and Best Practices | Carina by Rackspace{% endblock %}
{% block metaDescription %}Getting Started Guides and Tutorials for Carina by Rackspace, the high-powered Docker container environment for developers{% endblock %}
{% block ogTitle %}Documentation, Tutorials and Best Practices | Carina by Rackspace{% endblock %}
{% block ogDescription %}Getting Started Guides and Tutorials for Carina by Rackspace, the high-powered Docker container environment for developers{% endblock %}
{% block twitterTitle %}Documentation, Tutorials and Best Practices | Carina by Rackspace{% endblock %}
{% block twitterDescription %}Getting Started Guides and Tutorials for Carina by Rackspace, the high-powered Docker container environment for developers{% endblock %}

{% block bodyClass %}docs-home{% endblock %}
{% block bodyContent %}
  <section class="docs-section hero">
    <div class="section-container">
      <div class="section-grid">
        <div class="background">
          {% include "_partials/docs-hero.svg" %}
        </div>
        <div class="text">
          <h1 class="headline"><span>Carina<sup>&trade;</sup> Help Center</span></h1>
          <p class="tagline"><span>All the resources you need to go from development to a container based application hero.</span></p>
          <div class="search">
            <div data-carina-search-box></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ deconst.content.envelope.body }}
{% endblock %}
