/* line 1, assets/containers.rackspace.com/src/css/less/reset.less */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 22, assets/containers.rackspace.com/src/css/less/reset.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* line 26, assets/containers.rackspace.com/src/css/less/reset.less */
body {
  line-height: 1;
}
/* line 29, assets/containers.rackspace.com/src/css/less/reset.less */
ol,
ul {
  list-style: none;
}
/* line 32, assets/containers.rackspace.com/src/css/less/reset.less */
blockquote,
q {
  quotes: none;
}
/* line 35, assets/containers.rackspace.com/src/css/less/reset.less */
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
/* line 41, assets/containers.rackspace.com/src/css/less/reset.less */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 46, assets/containers.rackspace.com/src/css/less/reset.less */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}
@font-face {
  font-family: 'lato-light';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'lato-light-italic';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'lato-regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'lato-bold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'lato-bolid-italic';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'lato-regular-italic';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
/* line 1, assets/containers.rackspace.com/src/css/less/typography.less */
body,
html {
  font-family: 'lato-regular', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #404040;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* line 9, assets/containers.rackspace.com/src/css/less/typography.less */
em,
i {
  font-family: 'lato-regular-italic', arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}
/* line 12, assets/containers.rackspace.com/src/css/less/typography.less */
em strong,
i strong,
em b,
i b {
  font-family: 'lato-bold-italic', arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}
/* line 17, assets/containers.rackspace.com/src/css/less/typography.less */
strong,
b {
  font-family: 'lato-bold', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
/* line 20, assets/containers.rackspace.com/src/css/less/typography.less */
strong em,
b em,
strong i,
b i {
  font-family: 'lato-bold-italic', arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}
/* line 25, assets/containers.rackspace.com/src/css/less/typography.less */
a {
  color: #3498db;
  cursor: pointer;
  text-decoration: none;
}
/* line 30, assets/containers.rackspace.com/src/css/less/typography.less */
a:hover,
a:focus,
a:active {
  color: #2f89c5;
  text-decoration: underline;
}
/* line 35, assets/containers.rackspace.com/src/css/less/typography.less */
a:visited {
  color: #3498db;
}
/* line 40, assets/containers.rackspace.com/src/css/less/typography.less */
p {
  margin-bottom: 1.5em;
}
/* line 44, assets/containers.rackspace.com/src/css/less/typography.less */
h1,
.h1 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 257.14285714%;
}
/* line 49, assets/containers.rackspace.com/src/css/less/typography.less */
h2,
.h2 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 214.28571429%;
}
/* line 54, assets/containers.rackspace.com/src/css/less/typography.less */
h3,
.h3 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 171.42857143%;
}
/* line 59, assets/containers.rackspace.com/src/css/less/typography.less */
h4,
.h4 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128.57142857%;
}
/* line 64, assets/containers.rackspace.com/src/css/less/typography.less */
h5,
.h5 {
  font-family: 'lato-bold', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-transform: uppercase;
}
/* line 70, assets/containers.rackspace.com/src/css/less/typography.less */
h6,
.h6 {
  font-family: 'lato-bold', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #9f9f9f;
  text-transform: uppercase;
}
/* line 76, assets/containers.rackspace.com/src/css/less/typography.less */
ol {
  list-style-type: decimal;
  padding-left: 1.4em;
  margin-bottom: 1.5em;
}
/* line 82, assets/containers.rackspace.com/src/css/less/typography.less */
ul {
  list-style-type: disc;
  padding-left: 1.4em;
  margin-bottom: 1.5em;
}
/* line 89, assets/containers.rackspace.com/src/css/less/typography.less */
ol li,
ul li {
  margin-bottom: 0.5em;
}
/* line 92, assets/containers.rackspace.com/src/css/less/typography.less */
ol li ul,
ul li ul {
  margin-top: 0.5em;
}
/* line 98, assets/containers.rackspace.com/src/css/less/typography.less */
code {
  background: #f2f2f2;
  border-radius: 2px;
  color: #1f5b83;
  padding: 0 0.2em;
  font-family: 'Monaco', 'Consolas', 'Courier New', monospace;
}
/* line 106, assets/containers.rackspace.com/src/css/less/typography.less */
pre code {
  background: none;
  border-radius: 0;
  color: #e0e0d7;
  padding: 0;
}
/* line 113, assets/containers.rackspace.com/src/css/less/typography.less */
pre {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0.5em;
}
/* line 119, assets/containers.rackspace.com/src/css/less/typography.less */
pre::-webkit-scrollbar {
  background: transparent;
  height: 10px;
  width: 10px;
}
/* line 125, assets/containers.rackspace.com/src/css/less/typography.less */
pre::-webkit-scrollbar-track:horizontal {
  background: transparent;
}
/* line 129, assets/containers.rackspace.com/src/css/less/typography.less */
pre::-webkit-scrollbar-thumb:horizontal {
  background: #5e6470;
  border-radius: 10px;
}
/* line 135, assets/containers.rackspace.com/src/css/less/typography.less */
dl {
  margin-bottom: 1.5em;
}
/* line 138, assets/containers.rackspace.com/src/css/less/typography.less */
dl dt {
  font-family: 'lato-bold', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
/* line 142, assets/containers.rackspace.com/src/css/less/typography.less */
dl dd {
  margin-bottom: 1em;
}
@media (min-width: 30em) {
  /* line 147, assets/containers.rackspace.com/src/css/less/typography.less */
  dl dt {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-right: -0.26rem;
    margin-left: 0px;
    vertical-align: top;
    width: calc( 25%  -  0px );
    padding-right: 1em;
    text-align: right;
  }
  /* line 153, assets/containers.rackspace.com/src/css/less/typography.less */
  dl dd {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    margin-right: -0.26rem;
    margin-left: 0px;
    vertical-align: top;
    width: calc( 75%  -  0px );
  }
}
/* line 159, assets/containers.rackspace.com/src/css/less/typography.less */
sup {
  font-size: 40%;
  vertical-align: super;
}
/* line 164, assets/containers.rackspace.com/src/css/less/typography.less */
hr {
  background: transparent;
  border-top: dotted 1px rgba(64, 64, 64, 0.7);
  height: 1px;
  margin: 2em 0;
}
/* line 2, assets/containers.rackspace.com/src/css/less/components/heading-accent.less */
h1 .accent,
h2 .accent,
h3 .accent,
h4 .accent,
h5 .accent,
h6 .accent {
  display: inline-block;
}
/* line 5, assets/containers.rackspace.com/src/css/less/components/heading-accent.less */
h1 .accent.red,
h2 .accent.red,
h3 .accent.red,
h4 .accent.red,
h5 .accent.red,
h6 .accent.red {
  border-bottom: solid 2px #e74c3c;
}
/* line 9, assets/containers.rackspace.com/src/css/less/components/heading-accent.less */
h1 .accent.yellow,
h2 .accent.yellow,
h3 .accent.yellow,
h4 .accent.yellow,
h5 .accent.yellow,
h6 .accent.yellow {
  border-bottom: solid 2px #efc75e;
}
/* line 13, assets/containers.rackspace.com/src/css/less/components/heading-accent.less */
h1 .accent.blue,
h2 .accent.blue,
h3 .accent.blue,
h4 .accent.blue,
h5 .accent.blue,
h6 .accent.blue {
  border-bottom: solid 2px #739eaf;
}
/* line 20, assets/containers.rackspace.com/src/css/less/components/heading-accent.less */
h2 .accent {
  line-height: 40px;
}
/* .highlight .hll { background-color: #333333 } */
/* line 3, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight {
  font-family: 'Monaco', 'Consolas', 'Courier New', monospace;
  color: #ffffff ;
  padding: 1em;
  margin-bottom: 3em;
  line-height: 1.1em;
  font-size: 1.0em;
  border: none;
  border-radius: 3px;
}
/* line 13, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight pre {
  background-color: inherit;
  border: none;
  color: inherit;
}
/* line 20, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight span,
.highlight code {
  font-family: 'Monaco', 'Consolas', 'Courier New', monospace;
}
/* line 25, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight {
  background: #3b3f45;
  color: #e0e0d7;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 29, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .hll {
  background-color: #49483e;
}
/* line 31, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .c {
  color: #75715e;
}
/* line 32, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}
/* line 33, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .k {
  color: #66d9ef;
}
/* line 34, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .l {
  color: #ae81ff;
}
/* line 35, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .n {
  color: #f8f8f2;
}
/* line 36, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .o {
  color: #f92672;
}
/* line 37, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .p {
  color: #e0e0d7;
}
/* line 38, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .cm {
  color: #9d9d97;
}
/* line 39, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .cp {
  color: #9d9d97;
}
/* line 40, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .c1 {
  color: #9d9d97;
}
/* line 41, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .cs {
  color: #9d9d97;
}
/* line 42, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .ge {
  font-style: italic;
}
/* line 43, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .gs {
  font-weight: bold;
}
/* line 44, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .kc {
  color: #66d9ef;
}
/* line 45, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .kd {
  color: #66d9ef;
}
/* line 46, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .kn {
  color: #f92672;
}
/* line 47, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .kp {
  color: #66d9ef;
}
/* line 48, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .kr {
  color: #66d9ef;
}
/* line 49, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .kt {
  color: #66d9ef;
}
/* line 50, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .ld {
  color: #e6db74;
}
/* line 51, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .m {
  color: #ae81ff;
}
/* line 52, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .s {
  color: #ffcc66;
}
/* line 53, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .na {
  color: #a6e22e;
}
/* line 54, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .nb {
  color: #f8f8f2;
}
/* line 55, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .nc {
  color: #a6e22e;
}
/* line 56, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .no {
  color: #66d9ef;
}
/* line 57, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .nd {
  color: #a6e22e;
}
/* line 58, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .ni {
  color: #f8f8f2;
}
/* line 59, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .ne {
  color: #a6e22e;
}
/* line 60, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .nf {
  color: #a6e22e;
}
/* line 61, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .nl {
  color: #f8f8f2;
}
/* line 62, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .nn {
  color: #f8f8f2;
}
/* line 63, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .nx {
  color: #a6e22e;
}
/* line 64, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .py {
  color: #f8f8f2;
}
/* line 65, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .nt {
  color: #f92672;
}
/* line 66, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .nv {
  color: #f8f8f2;
}
/* line 67, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .ow {
  color: #f92672;
}
/* line 68, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .w {
  color: #f8f8f2;
}
/* line 69, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .mf {
  color: #ae81ff;
}
/* line 70, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .mh {
  color: #ae81ff;
}
/* line 71, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .mi {
  color: #ae81ff;
}
/* line 72, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .mo {
  color: #ae81ff;
}
/* line 73, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .sb {
  color: #e6db74;
}
/* line 74, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .sc {
  color: #e6db74;
}
/* line 75, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .sd {
  color: #e6db74;
}
/* line 76, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .s2 {
  color: #e6db74;
}
/* line 77, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .se {
  color: #ae81ff;
}
/* line 78, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .sh {
  color: #e6db74;
}
/* line 79, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .si {
  color: #e6db74;
}
/* line 80, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .sx {
  color: #e6db74;
}
/* line 81, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .sr {
  color: #e6db74;
}
/* line 82, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .s1 {
  color: #e6db74;
}
/* line 83, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .ss {
  color: #e6db74;
}
/* line 84, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .bp {
  color: #f8f8f2;
}
/* line 85, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .vc {
  color: #f8f8f2;
}
/* line 86, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .vg {
  color: #f8f8f2;
}
/* line 87, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .vi {
  color: #f8f8f2;
}
/* line 88, assets/containers.rackspace.com/src/css/less/components/highlight.less */
.highlight .il {
  color: #ae81ff;
}
/* line 1, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header {
  height: 60px;
}
/* line 4, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header .header-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 90%;
}
/* line 8, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header .logo {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 130px;
}
/* line 15, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header .logo img {
  display: inline-block;
  height: auto;
  vertical-align: middle;
  width: 100%;
}
/* line 23, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header .header-links {
  float: right;
  margin: 0;
  padding: 0;
}
/* line 28, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header .header-links li {
  display: inline-block;
  height: 60px;
  margin: 0;
  vertical-align: middle;
}
/* line 34, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header .header-links li a {
  color: #404040;
  display: inline-block;
  letter-spacing: -0.03em;
  line-height: 30px;
  margin: 15px 0.5em 0 0.5em;
  text-transform: uppercase;
  vertical-align: middle;
}
/* line 43, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header .header-links li a:hover,
.site-header .header-links li a:focus,
.site-header .header-links li a:active {
  color: #303030;
  outline: none;
  text-decoration: none;
  text-shadow: 0px 0px 0px black;
}
/* line 51, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header .header-links li.active a {
  border-bottom: solid 1px #404040;
  text-shadow: 0px 0px 0px black;
}
/* line 57, assets/containers.rackspace.com/src/css/less/components/site-header.less */
.site-header .header-links li.separator {
  background: #404040;
  height: 30px;
  width: 1px;
}
/* line 1, assets/containers.rackspace.com/src/css/less/components/site-footer.less */
.site-footer {
  background: #404040;
  color: white;
}
/* line 5, assets/containers.rackspace.com/src/css/less/components/site-footer.less */
.site-footer a {
  color: white;
}
/* line 9, assets/containers.rackspace.com/src/css/less/components/site-footer.less */
.site-footer .footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 90%;
}
/* line 13, assets/containers.rackspace.com/src/css/less/components/site-footer.less */
.site-footer .footer-grid {
  display: block;
  width: calc(100% +  0px );
  margin-left: 0px;
  overflow: hidden;
  vertical-align: top;
}
/* line 17, assets/containers.rackspace.com/src/css/less/components/site-footer.less */
.site-footer .footer-links {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 0px;
  vertical-align: top;
  width: calc( 100%  -  0px );
  margin: 23px 0 23px 0;
  padding: 0;
}
/* line 22, assets/containers.rackspace.com/src/css/less/components/site-footer.less */
.site-footer .footer-links li {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  list-style-type: none;
}
/* line 28, assets/containers.rackspace.com/src/css/less/components/site-footer.less */
.site-footer .footer-links li + li {
  border-left: solid 1px white;
  margin-left: 5px;
  padding-left: 8px;
}
/* line 2, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home input[type="email"],
body.home input[type="password"] {
  font-family: 'lato-regular', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: white;
  border: solid 1px #404040;
  display: block;
  font-size: 14px;
  padding: 0.9em 1em;
  margin-bottom: 14px;
  -webkit-transition: border 0.1s ease-in-out;
  -ms-transition: border 0.1s ease-in-out;
  transition: border 0.1s ease-in-out;
  width: 280px;
}
/* line 14, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home input[type="email"]:focus,
body.home input[type="password"]:focus {
  outline: none;
  border: solid 1px #0dafcc;
}
/* line 20, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home button[type="submit"] {
  font-family: 'lato-regular', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  border-radius: 1px;
  display: inline-block;
  padding: 1em 3em;
  text-decoration: none;
  -webkit-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  background: #e6e6e6;
  border: solid 1px #d9d9d9;
  color: #404040;
  background: #8ad284;
  border: solid 1px #83c87d;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 0.9em 1em;
  -webkit-transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
  transition: background 0.1s ease-in-out, border 0.1s ease-in-out;
}
/* line 31, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home button[type="submit"]:hover,
body.home button[type="submit"]:focus {
  outline: none;
  background: #83c87d;
  border: solid 1px #689e63;
}
/* line 38, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section {
  padding: 40px 0;
}
/* line 4, assets/containers.rackspace.com/src/css/less/components/sections.less */
body.home .home-section .section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 90%;
}
/* line 8, assets/containers.rackspace.com/src/css/less/components/sections.less */
body.home .home-section .section-grid {
  display: block;
  width: calc(100% +  50px );
  margin-left: -50px;
  overflow: hidden;
  vertical-align: top;
}
/* line 41, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section h2 {
  margin-bottom: 0.6em;
}
/* line 47, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-message {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 60%  -  50px );
}
/* line 50, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-message .headline {
  font-size: 285.71428571%;
  line-height: 1.1;
  text-transform: uppercase;
}
/* line 56, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-message .tagline {
  text-transform: uppercase;
}
/* line 61, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero button[type="submit"] {
  padding: 0.9em 2.5em;
}
/* line 65, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-graphic {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 40%  -  50px );
}
/* line 68, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-graphic img {
  display: block;
  margin: 0 auto;
}
/* line 73, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-graphic #chunk-5 {
  animation: chunk-5 5s 0.4s ease-in-out infinite;
}
/* line 77, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-graphic #chunk-6 {
  animation: chunk-6 8s ease-in-out infinite;
}
/* line 81, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-graphic #chunk-7 {
  animation: chunk-7 4s ease-in-out infinite;
}
/* line 85, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-graphic #chunk-8 {
  animation: chunk-8 6s 3s ease-in-out infinite;
}
/* line 89, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.hero .hero-graphic #chunk-10 {
  animation: chunk-10 4s 0.2s ease-in-out infinite;
}
/* line 95, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.features {
  text-align: center;
}
/* line 98, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.features .summary {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
  margin-bottom: 20px;
  padding: 0 15%;
}
/* line 103, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.features .summary h2 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128.57142857%;
  text-transform: uppercase;
}
/* line 109, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.features .feature {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 33.33333333%  -  50px );
}
/* line 112, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.features .feature img {
  height: auto;
  margin-bottom: 10px;
  max-width: 100px;
}
/* line 118, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.features .feature h3 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128.57142857%;
  margin-bottom: 20px;
}
/* line 125, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.cp-demo {
  background: #f0f5fc;
}
/* line 128, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.cp-demo .section-grid {
  display: block;
  width: calc(100% +  0px );
  margin-left: 0px;
  overflow: hidden;
  vertical-align: top;
}
/* line 132, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.cp-demo .text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 0px;
  vertical-align: top;
  width: calc( 40%  -  0px );
}
/* line 135, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.cp-demo .text h2 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128.57142857%;
  text-transform: uppercase;
}
/* line 140, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.cp-demo .demo {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 0px;
  vertical-align: top;
  width: calc( 60%  -  0px );
}
/* line 143, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.cp-demo .demo .demo-frame {
  background: url('/assets/containers.rackspace.com/src/img/laptop-frame.svg') 0% 0% no-repeat;
  padding: 4.3% 16.7%;
}
/* line 147, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.cp-demo .demo .demo-frame img {
  width: 100%;
  height: 100%;
}
/* line 155, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.resources {
  text-align: center;
}
/* line 158, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.resources .summary {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
  margin-bottom: 20px;
  padding: 0 15%;
}
/* line 163, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.resources .summary h2 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128.57142857%;
  text-transform: uppercase;
}
/* line 169, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.resources .resource {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 33.33333333%  -  50px );
  text-align: left;
}
/* line 174, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.resources .resource .image {
  background: #e0e0e0;
  margin-bottom: 10px;
  padding: 20px 0;
}
/* line 179, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.resources .resource .image img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}
/* line 186, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.resources .resource h3 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128.57142857%;
  margin-bottom: 20px;
}
/* line 192, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.resources .resources-button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
}
/* line 195, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.resources .resources-button a {
  border-radius: 1px;
  display: inline-block;
  padding: 1em 3em;
  text-decoration: none;
  -webkit-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  background: #0dafcc;
  border: solid 1px #0c9eb8;
  color: white;
}
/* line 29, assets/containers.rackspace.com/src/css/less/mixins/button.less */
body.home .home-section.resources .resources-button a:hover {
  background: #0b95ad;
}
/* line 201, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.sign-up {
  background: #f0f5fc;
  text-align: center;
}
/* line 205, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.sign-up .heading,
body.home .home-section.sign-up .form,
body.home .home-section.sign-up .more-info {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
}
/* line 209, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.sign-up .heading,
body.home .home-section.sign-up .form {
  margin-bottom: 30px;
}
/* line 213, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.sign-up .form {
  display: block;
  width: calc(100% +  18px );
  margin-left: -18px;
  overflow: hidden;
  vertical-align: top;
  margin: 0 auto 30px auto;
  max-width: 800px;
}
/* line 218, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.sign-up .form .username,
body.home .home-section.sign-up .form .password {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 18px;
  vertical-align: top;
  width: calc( 40%  -  18px );
}
/* line 222, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.sign-up .form .submit {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 18px;
  vertical-align: top;
  width: calc( 20%  -  18px );
}
/* line 226, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.sign-up .form input[type="email"],
body.home .home-section.sign-up .form input[type="password"],
body.home .home-section.sign-up .form button[type="submit"] {
  width: 100%;
}
/* line 231, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.sign-up .more-info {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
/* line 238, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.news .blog,
body.home .home-section.news .product {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 50%  -  50px );
}
/* line 241, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.news .blog h2,
body.home .home-section.news .product h2 {
  border-bottom: solid 1px #e6e6e6;
  font-size: 171.42857143%;
}
/* line 246, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.news .blog h3,
body.home .home-section.news .product h3 {
  font-size: 128.57142857%;
}
/* line 250, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.news .blog .news-list,
body.home .home-section.news .product .news-list {
  margin: 0;
  padding: 0;
}
/* line 254, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.news .blog .news-list .news-item,
body.home .home-section.news .product .news-list .news-item {
  list-style-type: none;
}
/* line 257, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.news .blog .news-list .news-item + .news-item,
body.home .home-section.news .product .news-list .news-item + .news-item {
  margin-top: 40px;
}
/* line 261, assets/containers.rackspace.com/src/css/less/pages/home.less */
body.home .home-section.news .blog .news-list .news-item .detail,
body.home .home-section.news .product .news-list .news-item .detail {
  font-family: 'lato-regular-italic', arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #666666;
}
@keyframes chunk-5 {
  /* line 272, assets/containers.rackspace.com/src/css/less/pages/home.less */
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  /* line 276, assets/containers.rackspace.com/src/css/less/pages/home.less */
  40% {
    transform: translate3d(-82%, -51%, 0);
  }
  /* line 280, assets/containers.rackspace.com/src/css/less/pages/home.less */
  60% {
    transform: translate3d(-82%, -51%, 0);
  }
  /* line 284, assets/containers.rackspace.com/src/css/less/pages/home.less */
  100% {
    transform: translate3d(0%, 0%, 0);
  }
}
@keyframes chunk-6 {
  /* line 290, assets/containers.rackspace.com/src/css/less/pages/home.less */
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  /* line 294, assets/containers.rackspace.com/src/css/less/pages/home.less */
  40% {
    transform: translate3d(181%, -156%, 0);
  }
  /* line 298, assets/containers.rackspace.com/src/css/less/pages/home.less */
  60% {
    transform: translate3d(181%, -156%, 0);
  }
  /* line 302, assets/containers.rackspace.com/src/css/less/pages/home.less */
  100% {
    transform: translate3d(0%, 0%, 0);
  }
}
@keyframes chunk-7 {
  /* line 308, assets/containers.rackspace.com/src/css/less/pages/home.less */
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  /* line 312, assets/containers.rackspace.com/src/css/less/pages/home.less */
  40% {
    transform: translate3d(14%, -12%, 0);
  }
  /* line 316, assets/containers.rackspace.com/src/css/less/pages/home.less */
  60% {
    transform: translate3d(14%, -12%, 0);
  }
  /* line 320, assets/containers.rackspace.com/src/css/less/pages/home.less */
  100% {
    transform: translate3d(0%, 0%, 0);
  }
}
@keyframes chunk-8 {
  /* line 326, assets/containers.rackspace.com/src/css/less/pages/home.less */
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  /* line 330, assets/containers.rackspace.com/src/css/less/pages/home.less */
  40% {
    transform: translate3d(83%, -72%, 0);
  }
  /* line 334, assets/containers.rackspace.com/src/css/less/pages/home.less */
  60% {
    transform: translate3d(83%, -72%, 0);
  }
  /* line 338, assets/containers.rackspace.com/src/css/less/pages/home.less */
  100% {
    transform: translate3d(0%, 0%, 0);
  }
}
@keyframes chunk-10 {
  /* line 344, assets/containers.rackspace.com/src/css/less/pages/home.less */
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  /* line 348, assets/containers.rackspace.com/src/css/less/pages/home.less */
  40% {
    transform: translate3d(0%, 25%, 0);
  }
  /* line 352, assets/containers.rackspace.com/src/css/less/pages/home.less */
  60% {
    transform: translate3d(0%, 25%, 0);
  }
  /* line 356, assets/containers.rackspace.com/src/css/less/pages/home.less */
  100% {
    transform: translate3d(0%, 0%, 0);
  }
}
/* line 2, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section {
  padding: 40px 0;
}
/* line 4, assets/containers.rackspace.com/src/css/less/components/sections.less */
body.docs-home .docs-section .section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 90%;
}
/* line 8, assets/containers.rackspace.com/src/css/less/components/sections.less */
body.docs-home .docs-section .section-grid {
  display: block;
  width: calc(100% +  50px );
  margin-left: -50px;
  overflow: hidden;
  vertical-align: top;
}
/* line 5, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section h2 {
  margin-bottom: 0.6em;
}
/* line 11, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.hero .background {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
  position: absolute;
  width: 980px;
  height: auto;
  max-width: 100%;
}
/* line 19, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.hero .text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
  height: 380px;
  padding-top: 75px;
}
/* line 26, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles {
  background: #f0f5fc;
}
/* line 29, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .intro {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
  text-align: center;
}
/* line 33, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .intro h2 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128.57142857%;
  text-transform: uppercase;
}
/* line 40, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .featured-sets .set {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 33.33333333%  -  50px );
}
/* line 43, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .featured-sets .set .image {
  background: #e0e0e0;
  margin-bottom: 10px;
  padding: 20px 0;
}
/* line 48, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .featured-sets .set .image img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}
/* line 55, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .featured-sets .set h3 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128.57142857%;
  margin-bottom: 5px;
}
/* line 60, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .featured-sets .set ul {
  margin: 0;
  padding: 0;
}
/* line 64, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .featured-sets .set ul li {
  list-style-type: none;
}
/* line 67, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .featured-sets .set ul li + li {
  margin-top: 15px;
}
/* line 71, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .featured-sets .set ul li h4 {
  font-size: 100%;
}
/* line 75, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.featured-articles .featured-sets .set ul li a {
  text-decoration: underline;
}
/* line 85, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles {
  padding: 40px 0;
}
/* line 4, assets/containers.rackspace.com/src/css/less/components/sections.less */
body.docs-home .docs-section.all-articles .section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 90%;
}
/* line 8, assets/containers.rackspace.com/src/css/less/components/sections.less */
body.docs-home .docs-section.all-articles .section-grid {
  display: block;
  width: calc(100% +  50px );
  margin-left: -50px;
  overflow: hidden;
  vertical-align: top;
}
/* line 88, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .heading,
body.docs-home .docs-section.all-articles .tools,
body.docs-home .docs-section.all-articles .articles {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
}
/* line 92, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .heading {
  text-align: center;
}
/* line 95, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .heading h2 {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 128.57142857%;
  text-transform: uppercase;
}
/* line 101, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .tools {
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 10px;
}
/* line 105, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .tools ul {
  margin: 0;
  padding: 0;
}
/* line 109, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .tools ul li {
  display: inline-block;
  list-style-type: none;
}
/* line 113, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .tools ul li + li {
  margin-left: 20px;
}
/* line 117, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .tools ul li a {
  font-family: 'lato-light', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #404040;
  font-size: 128.57142857%;
}
/* line 127, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .articles ul {
  margin: 0;
  padding: 0;
}
/* line 131, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .articles ul li {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 0 0;
}
/* line 136, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .articles ul li + li {
  border-top: solid 1px #d9d9d9;
}
/* line 140, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .articles ul li h3 {
  font-size: 128.57142857%;
  line-height: 1;
  margin-bottom: 5px;
}
/* line 146, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .articles ul li .excerpt {
  margin-bottom: 10px;
}
/* line 150, assets/containers.rackspace.com/src/css/less/pages/docs-home.less */
body.docs-home .docs-section.all-articles .articles ul li .details {
  font-family: 'lato-regular-italic', arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #707070;
  margin-bottom: 5px;
}
/* line 2, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section {
  padding: 40px 0;
}
/* line 4, assets/containers.rackspace.com/src/css/less/components/sections.less */
body.docs-single .docs-section .section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  width: 90%;
}
/* line 8, assets/containers.rackspace.com/src/css/less/components/sections.less */
body.docs-single .docs-section .section-grid {
  display: block;
  width: calc(100% +  50px );
  margin-left: -50px;
  overflow: hidden;
  vertical-align: top;
}
/* line 5, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section h2 {
  margin-bottom: 0.6em;
}
/* line 11, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section.hero .background {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
  position: absolute;
  width: 980px;
  height: auto;
  max-width: 100%;
}
/* line 19, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section.hero .text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  margin-right: -0.26rem;
  margin-left: 50px;
  vertical-align: top;
  width: calc( 100%  -  50px );
  height: 380px;
  padding-top: 75px;
  text-align: center;
}
/* line 25, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section.hero .text h1 {
  font-size: 342.85714286%;
  line-height: 1.61;
}
/* line 29, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section.hero .text h1 > span {
  background: rgba(255, 255, 255, 0.9);
  line-height: 1;
  padding: 0.2em;
}
/* line 36, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section.hero .text .attribution {
  font-family: 'lato-regular-italic', arial, sans-serif;
  font-style: italic;
  font-weight: normal;
}
/* line 39, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section.hero .text .attribution > span {
  background: rgba(255, 255, 255, 0.9);
  padding: 2px;
}
/* line 47, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section.article {
  font-size: 114.28571429%;
}
/* line 48, assets/containers.rackspace.com/src/css/less/pages/docs-single.less */
body.docs-single .docs-section.article .section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 90%;
}
