@charset "utf-8";

@import "normalize",
        "clearfix",
        "reset",
        "skeleton",
        "variables",
        "mixins",
        "header",
        "footer",
        "syntax",
        "headerstyle",
        "components/search-box",
        "components/search-paginator",
        "components/search-results",
        "components/carousel",
        "pages/search",
        "landingpage",
        "maintenancebanner",
        "share-bar",

        url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700),
        url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700),
        url(https://fonts.googleapis.com/css?family=Source+Code+Pro),
        url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

html, body {
  height: 100%;
  line-height: 1.0;
}

a {
    -moz-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

// Mixins

@mixin centered-container($maxWidth) {
    margin-left: auto;
    margin-right: auto;
    max-width: $maxWidth;
    width: 90%;
}

// Page Content

.nine.content {
    width: 77%; //Temp fix
}

.content {
    margin-left: 0;
    padding: 35px 0 10px 40px;
    font-family: $font-family-primary;
    color: #474747;
    border-left: 1px solid #ccc;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* IE 8+ */

    // Page Content: HEADERS

    h2, h3, h4, h5, h6 {
        margin-bottom: 30px;
        font-family: $font-family-secondary;
    }

    h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 28px;

        &.less-margin {margin-bottom: 10px;}
    }

    h3 {font-size: 24px; font-weight: 600;}

    h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 15px;
    }

    h5 {font-size: 17px; font-weight: 400;}

    h6 {font-size: 14px; font-weight: 600;}

    // Page Content: BODY

    strong {font-weight: 700;}
    em {font-style: italic;}

    p {
        margin-bottom: 35px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;

        // Paragraph types

        &.lead {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 15px;
        }

        &.callout-note {
            padding: 20px;
            background: #E5F1FC;
            border-top: 1px solid $color-kcblue;

            a {
                color: $color-text;
                text-decoration: underline;
            }
        }

        &.callout-important {
            padding: 20px;
            background: #ffebbf;
            border-top: 1px solid #bfa66f;

            a {
                // color: #247AAA;
                color: $color-text;
                text-decoration: underline;
            }
        }

        &.callout-tip {
            padding: 20px;
            background: #57a95b;
            border-top: 1px solid #b0f2b3;

            a {
                color: $color-text;
                text-decoration: underline;
            }
        }

        &.callout-warning {
            padding: 20px;
            background: #F7DFE3;
            border-top: 1px solid #990021;

            a {
                color: $color-text;
                text-decoration: underline;
            }
        }

        &.comment {
            margin: 50px 0;
            padding: 30px 0;
            font-size: 20px;
            text-align: center;
            border-top: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;

            i {
                font-size: 36px;
                margin-right: 5px;
                vertical-align: sub;
                color: $color-kcblue;
            }
        }
    }

    a {
        color: $color-kcblue;
        text-decoration: none;
        font-weight: 600;

        &:hover {text-decoration: underline;}
    }

    ol, ul {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 40px;

        li {margin-bottom: 20px;}

        // Nested Lists

        ol, ul {margin: 20px 0 0 20px;}
    }

    ol {
        list-style-type: decimal;
        list-style-position: outside;
        margin-left: 20px;

        ol {list-style-type: lower-alpha;}
    }

    ul {
        list-style-type: circle;
        list-style-position: outside;
        margin-left: 20px;
    }

    code {
        font-family: $font-family-code;
        color: inherit;
        background: #ededed;
        white-space: nowrap;
        padding: 2px 4px;
    }

    pre > code {
        display: block;
        white-space: pre;
        padding: 20px;
        background: #3B3F45;
        font-family: $font-family-code;
        color: #fff;

        margin-bottom: 30px;
        font-size: 13px;
        line-height: 15px;
        overflow: auto;

    }

    hr {
        margin-bottom: 40px;
        border-width: 0;
        border-top: 1px solid #E1E1E1;
    }

    img {
        border: 2px solid #ddd;
        max-width: 100%;

        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* IE 8+ */
    }

    // Page Content: UTILITY LISTS

    table {
        border-collapse: collapse;
        border-spacing: 0;

        margin-bottom: 35px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        width: 100%;

        th {
            white-space: nowrap;
            background: $color-kcblue;
            color: #fff;
            border-right: 1px solid #fff;
            font-weight: 400;

            &:last-child {border-right-color: $color-kcblue;}

        }

        td {border: 1px solid #ddd;}

        th, td {
            padding: 10px;
            text-align: left;
        }

        code:last-child, pre:last-child, p:last-child, ul:last-child, ol:last-child {margin-bottom: 0;}

    }

    ul {
        &.breadcrumbs {
            font-family: $font-family-secondary;
            font-size: 11px;
            list-style: none;
            margin: 0;

            li {
                display: inline-block;
                margin: 0 7px 0 0;

                &:after {
                    content: "/";
                    margin-left: 7px;
                }

                &:last-child:after {content: " ";}
            }
        }

        &.meta {
            font-size: 14px;
            font-weight: 400;
            list-style: none;
            padding-bottom: 5px;
            margin: 0 0 40px 0;
            border-bottom: 1px solid $color-kcblue;

            li {
                display: inline-block;
                margin: 0 20px 0 0;

                a {font-weight: 300;}
            }

        }

        &.pagination {
            margin: 0;

            li {
                display: inline-block;
                a {
                    padding: 10px;

                    &.active {
                        pointer-events: none;
                        color: $color-text;
                    }
                }

                &:first-child a {padding-left: 0;}

            }
        }

    }

    .cta {
        text-align: center;

        h3 {
            font-weight: 400;
            font-size: 28px;
        }

        .button {
            margin-bottom: 20px;

            a {
                background: #5AAA28;
                display: inline-block;
                padding: 20px 25px;
                font-size: 16px;
                color: #fff;
                font-weight: 400;

                &:hover {
                    text-decoration: none;
                    background: #499917;
                }
            }
        }
    }

    // Article-list Sort -- OUT OF SCOPE

    .list-sort-container {
        margin: 20px 0 30px;

        .row {
            padding: 10px;
            background: #f2f5f5;
            border-top: 1px solid #bfbfbf;
            color: #666;

            // Sort & number of results

            dl {
                font-size: 14px;
                font-family: $font-family-secondary;
                font-weight: 400;
                margin-top: 10px;
                dd, dt {
                    display: inline-block;
                    margin-left: 11px;

                    a {color: #666;}

                    i {margin-left: 3px;}

                    &:first-child {margin: 0;}
                }
            }

            // Filter field

            #filter {
                position: relative;
                width: 100%;
                background: #fff;
                border: 1px solid #bfbfbf;

                input[type='text']#filter-input {
                    border-width: 0;
                    outline-width: 0;
                    background: none;
                    width: 85%;
                    padding: 5px 7px;
                    font-weight: 300;
                    font-size: 14px;
                    font-family: $font-family-secondary;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;

                    &:focus {
                        outline-width: 0;
                        background: none;
                    }

                    &::-webkit-input-placeholder {font-style: italic;}
                    &:-moz-placeholder {font-style: italic;}
                    &::-moz-placeholder {font-style: italic;}
                    &:-ms-input-placeholder {font-style: italic;}
                }

                button#filter-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    border-width: 0;
                    outline-width: 0;
                    font-size: 13px;
                    padding: 9px;
                    background: none;
                    color: #555;

                    -moz-transition: all 0.15s linear;
                    -webkit-transition: all 0.15s linear;
                    transition: all 0.15s linear;

                    &:hover {color: #111;}
                }

            }

            /* CSS styles for Tags for reimplementation, pending content strategy

            &.tags {
                border-top-color: #fff;

                dl {
                    margin-top: 3px;

                    dt {margin-right: 10px;}
                    dd {
                        margin: 0 5px 5px 0;
                        padding: 1px 5px 3px 7px;

                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;

                        background: $color-kcblue;
                        color: #fff;

                        a {
                            font-size: 18px;
                            color: #fff;
                            margin-left: 3px;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            &.tags-list {
                border-top-width: 0;
                display: none;

                ul {
                    font-size: 14px;
                    font-family: $font-family-secondary;
                    font-weight: 300;
                    margin: 0 0 0 0;

                    li {
                        display: inline-block;
                        margin: 0 5px 5px 0;

                        a {
                            -moz-transition: none;
                            -webkit-transition: none;
                            transition: none;

                            padding: 0 5px;
                            color: #666;

                            &:hover {
                                text-decoration: none;
                                background: $color-kcblue;
                                color: #fff;

                                -webkit-border-radius: 3px;
                                -moz-border-radius: 3px;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            } */
        }
    }

    &.inactive {display: none;}

    // Home-page styles and mods

    &.home {
        border-left: none;
        padding: 0 0 0 0;

        h2 {
            font-size: 28px;
            font-weight: 300;
            margin: 30px 0 0 0;
        }

        p.lead {
            font-size: 16px;
            margin-bottom: 35px;
        }

        hr {margin-bottom: 30px;}

        .filter-product-type {

            ul {
                margin: 0 0 40px 0;
                list-style-type: none;

                li {
                    font-family: $font-family-secondary;
                    display: inline;

                    &:last-child {padding-right: 0px;}

                    a {
                        padding: 5px 25px;
                        font-size: 16px;
                        color: #888;
                        font-weight: 400;

                        &.active {
                            background: $color-kcblue;
                            color: #fff;

                            &:hover {text-decoration: none;}
                        }

                        &.inactive {
                            background: #f3f3f3;

                            &:hover {
                                text-decoration: none;
                                background:$color-kcblue;
                                color: #fff;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        &.product-type-cloud {

            h3 {
                font-style: italic;
                margin-bottom: 15px;
                font-size: 18px;
                font-weight: 300;
                color: #999;
            }

            .icon {
                background-repeat: no-repeat;
                background-position: top left;
                background-size: 35px 35px;

                h4 {
                    line-height: 16px;

                    a {
                        text-transform: uppercase;
                        padding-left: 45px;
                        font-size: 16px;
                        font-weight: 600;
                        display: block;

                        span {
                            font-size: 13px;
                            display: block;
                            font-weight: 400;
                        }
                    }
                }
            }

            .servers {
                background-image: url($assets_support_rackspace_com_dist_img_icon_servers_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_servers_svg);
            }

            .images {
                background-image: url($assets_support_rackspace_com_dist_img_icon_images_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_images_svg);
            }

            .vmware {
                background-image: url($assets_support_rackspace_com_dist_img_icon_vmware_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_vmware_svg);
            }

            .networks {
                background-image: url($assets_support_rackspace_com_dist_img_icon_networks_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_networks_svg);
            }

            .dns {
                background-image: url($assets_support_rackspace_com_dist_img_icon_dns_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_dns_svg);
            }

            .load-balancers {
                background-image: url($assets_support_rackspace_com_dist_img_icon_load_balancers_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_load_balancers_svg);
            }

            .rackconnect {
                background-image: url($assets_support_rackspace_com_dist_img_icon_rackconnect_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_rackconnect_svg);
            }

            .files {
                background-image: url($assets_support_rackspace_com_dist_img_icon_files_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_files_svg);
            }

            .block-storage {
                background-image: url($assets_support_rackspace_com_dist_img_icon_block-storage_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_block-storage_svg);
            }

            .cdn {
                background-image: url($assets_support_rackspace_com_dist_img_icon_cdn_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_cdn_svg);
            }

            .databases {
                background-image: url($assets_support_rackspace_com_dist_img_icon_databases_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_databases_svg);
            }

            .queues {
                background-image: url($assets_support_rackspace_com_dist_img_icon_queues_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_queues_svg);
            }

            .backup {
                background-image: url($assets_support_rackspace_com_dist_img_icon_backup_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_backup_svg);
            }

            .metrics {
                background-image: url($assets_support_rackspace_com_dist_img_icon_metrics_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_metrics_svg);
            }

            .monitoring {
                background-image: url($assets_support_rackspace_com_dist_img_icon_monitoring_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_monitoring_svg);
            }

            .orchestration {
                background-image: url($assets_support_rackspace_com_dist_img_icon_orchestration_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_orchestration_svg);
            }

            .auto-scale {
                background-image: url($assets_support_rackspace_com_dist_img_icon_auto_scale_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_auto_scale_svg);
            }

            .intelligence {
                background-image: url($assets_support_rackspace_com_dist_img_icon_intelligence_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_intelligence_svg);
            }

            .private {
                background-image: url($assets_support_rackspace_com_dist_img_icon_private_cloud_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_private_cloud_svg);
            }

        }

        &.product-type-email {
            margin-top: 30px;

            .icon {
                background-repeat: no-repeat;
                background-position: top left;
                background-size: 35px 35px;

                h4 {
                    line-height: 11px;

                    a {
                        text-transform: uppercase;
                        padding-left: 45px;
                        font-size: 16px;
                        font-weight: 600;
                        display: block;

                        span {
                            font-size: 13px;
                            display: block;
                            font-weight: 400;
                        }
                    }
                }
            }

            .email {
                background-image: url($assets_support_rackspace_com_dist_img_icon_email_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_email_svg);
            }

            .skype {
                background-image: url($assets_support_rackspace_com_dist_img_icon_skype_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_skype_svg);
            }

            .exchange {
                background-image: url($assets_support_rackspace_com_dist_img_icon_exchange_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_exchange_svg);
            }

            .email-archiving {
                background-image: url($assets_support_rackspace_com_dist_img_icon_email-archiving_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_email-archiving_svg);
            }

            .office-365 {
                background-image: url($assets_support_rackspace_com_dist_img_icon_office-365_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_office-365_svg);
            }

            .email-wizard {
                background-image: url($assets_support_rackspace_com_dist_img_icon_wizard_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_wizard_svg);
                background-repeat: no-repeat;
                position: relative;
                margin-bottom: 20px;

                h4 {
                    padding: 7px 0 0 60px;
                    margin-bottom: 5px;
                }

                p {
                    padding-left: 60px;
                    margin-bottom: 20px;
                }

                aside.cta {
                    text-align: right;

                    #email-button {
                        border: 1px solid #499917;
                        background: none;
                        color: #499917;
                        padding: 12px 50px;
                        margin-top: 7px;
                        white-space: nowrap;

                        &:hover {
                            background: #499917;
                            color: #fff;
                        }
                    }
                }
            }
        }

        &.product-type-security {

            h3 {
                font-style: italic;
                margin-bottom: 15px;
                font-size: 18px;
                font-weight: 300;
                color: #999;
            }

            .icon {
                background-repeat: no-repeat;
                background-position: top left;
                background-size: 35px 35px;

                h4 {
                    line-height: 16px;

                    a {
                        text-transform: uppercase;
                        padding-left: 45px;
                        font-size: 16px;
                        font-weight: 600;
                        display: block;

                        span {
                            font-size: 13px;
                            display: block;
                            font-weight: 400;
                        }
                    }
                }
            }
            .pdr {
                background-image: url($assets_support_rackspace_com_dist_img_icon_rackspace_pdr_png);
                background-image: none, url($assets_support_rackspace_com_dist_img_icon_rackspace_pdr_svg);
            }

          }

          &.product-type-managed {
              margin-top: 30px;

              .icon {
                  background-repeat: no-repeat;
                  background-position: top left;
                  background-size: 35px 35px;

                  h4 {
                      line-height: 11px;

                      a {
                          text-transform: uppercase;
                          padding-left: 45px;
                          font-size: 16px;
                          font-weight: 600;
                          display: block;

                          span {
                              font-size: 13px;
                              display: block;
                              font-weight: 400;
                          }
                      }
                  }
              }
              .managed-operations {
                  background-image: url($assets_support_rackspace_com_dist_img_icon_managed-operations_png);
                  background-image: none, url($assets_support_rackspace_com_dist_img_icon_managed-operations_svg);
              }
            }

        &.one-half {margin-left: 0px;}

        #inf-guide-callout {
            margin-top: 25px;

            h4 {margin-bottom: 5px;}

            aside.cta {
                text-align: right;

                #guide-button {
                    border: 1px solid #499917;
                    background: none;
                    color: #499917;
                    padding: 12px 50px;
                    margin-top: 7px;
                    white-space: nowrap;

                    &:hover {
                        background: #499917;
                        color: #fff;
                    }
                }
            }

        }
    }

    &.contact {
        margin-top: 20px;
        padding: 1px 0 25px 0;

        div {
            &:first-of-type {margin-left: 0px;}

            h3 {
                color: #666;
                font-size: 16px;
                font-weight: 300;

                span {
                    display: block;
                    font-weight: 600;
                    padding-bottom: 7px;
                }
                em {margin-left: 15px;}
            }
        }
    }

    #product-type-email #product-type-cloud,
    #product-type-getstart {display: none;}

    //first class to clear margin right
    .primary {margin-left: 0px;}

    //Card styles for 'Most relevent content section'
    /* Styles for cards for reimplementation on support home after jan 22nd.
    .card {
        border: solid 1px #bfbfbf;
        border-top: solid 9px $color-kcblue;
        padding: 5px 10px 7px 10px;
        text-align: center;
        &:first-of-type {
            margin-left: 0px;
        }
        &:hover {
            cursor: pointer;
            transition: all .2s;
            -moz-box-shadow: 1px 1px 5px #999;
            -webkit-box-shadow: 1px 1px 5px #999;
            box-shadow: 1px 1px 5px #999;
        }
        img {
            width: 65px;
            height: 65px;
            display: block;
            border: none;
            margin: 10px auto;
        }
        span {
            margin: 10px 0;
        }
        p {
            padding-top: 10px;
            line-height: 1;
        }
    }

    */

    // Article-list styles and mods

    &.article-list {

        h4 {
            font-weight: 400;
            margin-bottom: 3px;
            color: $color-kcblue;
            &:hover {
                text-decoration: underline;
            }
        }

        ul.meta {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom-color: #ddd;

            dl {

                dt, dd {
                    display: inline-block;
                    margin: 0 5px 0 0;
                }
                dd {
                    &:after {
                        margin-left: 5px;
                        content: "|";
                    }
                    &:last-child:after {content: "";}
                }
            }
        }
    }

    // Product Guide styles and mods (formerly Getting Started)

    &.product-guide {

        ul {
            font-family: $font-family-secondary;
            font-size: 18px;
            font-weight: 400;
            list-style: none;
            margin-left: 0;

            &.meta {
                font-size: 14px;
                font-family: $font-family-primary;
            }
            &.breadcrumbs {font-size: 11px;}
        }
    }

    // FAQs styles and mods

    &.faq {
        h4 {
            font-weight: 400;
            margin-bottom: 20px;
            padding-left: 25px;
            background: url($assets_support_rackspace_com_dist_img_icon_plus_svg) 0 3px no-repeat;

            &:hover{
                cursor: pointer;
                color: $color-kcblue;
            }

            &.active {background: url($assets_support_rackspace_com_dist_img_icon_minus_svg) 0 3px no-repeat}
        }

        hr {margin-top: 30px;}
    }

}

.river {
    width: 100%;
    min-width: 960px;
    background: #F2F5F5;
}

// Page Sidebar

.sidebar {
    min-height: 100%;
    padding: 35px 20px 30px 0;
    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 16px;
    color: #474747;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* IE 8+ */

    h3 {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
    }

    a {
        font-weight: 400;
        text-decoration: none;
        color: #777;

        &:hover {color: $color-kcblue;}

        &.home-link {
            display: block;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #E1E1E1;

            i {margin-right: 5px;}
        }
    }

    ul {
        margin-bottom: 40px;

        li {margin-bottom: 13px;}

        // Page Sidebar LISTS

        &.area {
            li.active {
                display: block;
                padding: 7px 10px;
                background: $color-kcblue;
                pointer-events: none;

                a {color: #fff;}
            }
        }

        &.nav {
            li.active {
                padding-left: 6px;
                border-left: 3px solid $color-kcblue;
                font-weight: 700;
                pointer-events: none;

                a {color: $color-text;}
            }
        }

    }

    hr {
        margin-bottom: 40px;
        border-width: 0;
        border-top: 1px solid #E1E1E1;
    }

    p {
        color: #757575;
        margin-bottom: 40px;

        a {
            color: $color-kcblue;

            &:hover {text-decoration: underline;}
        }
    }

    .button-wp {
        a {
            display: block;
            border: 1px solid $color-kcblue;
            padding: 12px 35px;
            margin-bottom: 35px;
            white-space: nowrap;
            font-weight: 600;

            &:hover {
                background: $color-kcblue;
                color: #fff;
                text-decoration: none;
            }

            i {margin-right: 10px;}
        }
    }
}

// To-top link

#results-top {
    position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 9999;
    padding: 5px 10px;
	font-size: 26px;
	color: #fff;
	background: #888;
}

#results-top:hover {
	color: #fff;
	background: #333;
}

// Code

// Misc

.sticky {                       // Dude!!! The best!
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

// Search Results

.support-results-container {
    padding-top: 30px;
    width: 960px !important;
    margin: 0 auto;
    font-family: $font-family-primary;
}

div.not-found-message {
        @include centered-container(480px);
        padding: 80px 0;
        text-align: center;

        h1 {
            margin-bottom: 1em;
            font-family: $font-family-secondary;
            font-size: 257.143%;
            font-style: normal;
            font-weight: 400;
            color: #474747;
        }

        p {
            margin-bottom: 1em;
            font-family: $font-family-primary;
            color: #474747;
        }
    }

// Legal Disclaimer

.legal-container {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid $color-kcblue;

    p {
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 15px;
    }

    img {margin-bottom: 10px;}
}

// Redesign banner hiding

div.banner-redesign-container {
  display: none;
}

div.dropdown {
  margin: 20px;
  border-radius: 5px;
  height: 29px;
  width: 270px;
  background-color: ghostwhite;
  color: #fff;
  content: &dtrif;;
  align: right;
}

.dropdown select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;

}
