@charset "utf-8";

@import 'mixins';
@import "variables";

@import "pages/product-guide";
@import "components/search-box";
@import "components/search-paginator";
@import "components/search-results";
@import "components/carousel";
@import "components/page-sidebar";
@import "components/article-list";
@import "components/filters";
@import "components/article-list-sort";
@import "components/utility-lists";
@import "components/sticky";
@import "views/normalize";
@import "views/clearfix";
@import "views/reset";
@import "views/skeleton";
@import "views/header";
@import "views/footer";
@import "views/syntax";
@import "views/headerstyle";
@import "views/maintenancebanner";
@import "views/share-bar";
@import "views/pagecontent";
@import "views/legaldisclaimer";
@import "views/searchresults";
@import "pages/search";
@import "pages/landingpage";
@import "pages/homepage";
@import "pages/faqpage",

        url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700),
        url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700),
        url(https://fonts.googleapis.com/css?family=Source+Code+Pro),
        url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

//  I believe this is a catch-all that has been overriding change to elements. Uncomment if it is needed after all.
/**html, body {
  height: 100%;
  line-height: 1.2em;
}

a {
    -moz-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
**/
// No idea what this does
.river {
    width: 100%;
    min-width: 960px;
    background: #F2F5F5;


// To-top link

/**#results-top {
    position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 9999;
    padding: 5px 10px;
	font-size: 26px;
	color: #fff;
	background: #888;
}

#results-top:hover {
	color: #fff;
	background: #333;
}**/

// Code
}
