<section class="recent-posts">
    <h5>Popular Posts</h5>
    <div class="tab-links">
        <a href="" data-ng-click="clickPostTab('month')" data-ng-class="{'active': isSectionActive('month')}">Last 30 Days</a>
        <a href="" data-ng-click="clickPostTab('forever')" data-ng-class="{'active': isSectionActive('forever')}">All Time</a>
    </div>
    <ol data-ng-show="isSectionActive('month')">
        <li><a href="/blog/neutron-networking-l3-agent/">Neutron Networking: Neutron Routers and the L3 Agent</a></li>
        <li><a href="/blog/powershell-101-from-a-linux-guy/">PowerShell 101 From a Linux Guy</a></li>
        <li><a href="/blog/ansible-and-docker/">Ansible and Docker</a></li>
        <li><a href="/blog/openstack-orchestration-in-depth-part-1-introduction-to-heat/">OpenStack Orchestration In Depth, Part I: Introduction to Heat</a></li>
        <li><a href="/blog/neutron-networking-vlan-provider-networks/">Neutron Networking: VLAN Provider Networks</a></li>
    </ol>
    <ol data-ng-show="isSectionActive('forever')">
        <li><a href="/blog/developer-love-welcome-to-the-rackspace-cloud-developer-discount/">Developer love: Welcome to the Rackspace Cloud Developer Discount</a></li>
        <li><a href="/blog/introducing-loggerfs/">Introducing LoggerFS</a></li>
        <li><a href="/blog/welcome-to-performance-cloud-servers-have-some-benchmarks/">Welcome to Performance Cloud Servers; have some benchmarks!</a></li>
        <li><a href="/blog/neutron-networking-l3-agent/">Neutron Networking: Neutron Routers and the L3 Agent</a></li>
        <li><a href="/blog/neutron-networking-vlan-provider-networks/">Neutron Networking: VLAN Provider Networks</a></li>
    </ol>
</section>
