h2.front-page-heading {
  text-align: center;
}
p.front-blurb {
  text-align: center;
  font-weight: 200;
  color: #666;
  padding-bottom: 40px;
}
div.button-links {
  height: 70px;
  margin: 20px 0;
  display: flex;
}
a.front-link {
  display: inline-block;
  border: 1px solid #1E82D7;
  padding: 20px 35px;
  position: relative;
  width: 90%;
  &:link {
    text-align: center;
    color: #1E82D7;
    text-decoration: none;
    .caret {
      color: #1E82D7;
    }
  }
  &:hover {
    background: #1E82D7;
    color: #fff;
    .caret {
      color: #fff;
      padding-left: 8px;
    }
  }
}
