// Transform
@mixin transform($content) {
  -webkit-transform: $content;
      -ms-transform: $content;
          transform: $content;
}

//Container
@mixin centered-container($max-width: 960px) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
    width: 90%;
}

// Buttons
@mixin button($style: 'default') {
    border-radius: 1px;
    display: inline-block;
    padding: 1em 3em;
    text-decoration: none;
    @include transition(background 0.1s ease-in-out);

    & when ($style = 'default') {
        background: shade(white, 10%);
        border: solid 1px shade(white, 15%);
        color: $text-color;
    }

    & when ($style = 'blue') {
        background: $theme-blue;
        border: solid 1px shade($theme-blue, 10%);
        color: white;

        &:hover {
            background: shade($theme-blue, 15%);
        }
    }

    & when ($style = 'teal') {
        background: $theme-teal;
        border: solid 1px shade($theme-teal, 10%);
        color: white;

        &:hover {
            background: shade($theme-teal, 15%);
        }
    }

    & when ($style = 'green') {
        background: $theme-green;
        border: solid 1px shade($theme-green, 10%);
        color: white;

        &:hover {
            background: shade($theme-green, 15%);
        }
    }

    & when ($style = 'yellow') {
        background: $rax-yellow;
        border: solid 1px shade($rax-yellow, 10%);
        color: $text-color;

        &:hover {
            background: shade($rax-yellow, 15%);
        }
    }

    & when ($style = 'red') {
        background: $rax-red;
        border: solid 1px shade($rax-red, 10%);
        color: white;

        &:hover {
            background: shade($rax-red, 15%);
        }
    }

    & when ($style = 'smoke') {
        background: fadeout(black, 60%);
        border: solid 1px white;
        color: white;

        &:hover {
            background: fadeout(white, 90%);
        }
    }
}

// Clearfix

@mixin clearfix() {
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Transition

@mixin transition($content) {
    -webkit-transition: $content;
       -moz-transition: $content;
        -ms-transition: $content;
            transition: $content;
}

//Display

@mixin display($content) {
  display: -webkit-$content;
  display: -moz-$content;
  display: -ms-$content;
  display: -o-$content;
  display: $content;
}

//Placeholder

@mixin placeholder($color,$fontstyle) {
  &::-webkit-input-placeholder {
    color: $color;
    font-style: $fontstyle
  };
  &::-moz-input-placeholder {
    color: $color;
    font-style: $fontstyle
  };
  &::-ms-input-placeholder {
    color: $color;
    font-style: $fontstyle
  };
  &::-o-input-placeholder {
    color: $color;
    font-style: $fontstyle
  };
  &::placeholder {
    color: $color;
    font-style: $fontstyle
  }
}

//Box shadow
@mixin boxshadow($content) {
  -webkit-box-shadow: $content;
     -moz-box-shadow: $content;
          box-shadow: $content;
}

//Box sizing
@mixin boxsize($content) {
  -webkit-box-sizing: $content;
     -moz-box-sizing: $content;
          box-sizing: $content;
}

@mixin animate($content) {
  -webkit-animation: $content;
     -moz-animation: $content;
       -o-animation: $content;
          animation: $content;
}
