<section class="categories">
    <h5>Categories</h5>
    <ul>
        <li><a href="/blog/categories/openstack">Openstack</a></li>
        <li><a href="/blog/categories/devops">DevOps</a></li>
        <li><a href="/blog/categories/community">Community</a></li>
        <li><a href="/blog/categories/developers">Developer Experience</a></li>
        <li><a href="/blog/categories/security">Security</a></li>
        <li><a href="/blog/categories/deployment">Deployment</a></li>
        <li><a href="/blog/categories/sdks">SDKs</a></li>
        <li><a href="/blog/categories/tools">Tools</a></li>
    </ul>
</section>
