<div class="header-nav">
    <nav class="header-nav-container">
        <ul>
            <li class="logo">
                <a href="http://www.rackspace.com/">
                    {% if deconst.env.PRESENTER_DEVMODE == 'true' %}
                    {% set logoUrl = '/assets/src/img/rackspace-logo.svg' %}
                    {% else %}
                    {% set logoUrl = deconst.assets.assets_dist_img_rackspace_logo_svg %}
                    {% endif %}
                    <img src="{{ logoUrl }}" alt="Rackspace Logo" />
                </a>
            </li>
            <li>
                <a href="/"><span class="wordy">Developer</span> Home</a>
            </li>
            <li>
                <a href="/docs/">Developer Documentation</a>
            </li>
            <li class="header-nav"><a href="#">Blogs &#9660;</a>
                <ul>
                    <li>
                        <a href="/blog/">Technical Blog</a>
                    </li>
                    <li>
                        <a href="https://rackspace.com/blog/">Rackspace Blog</a>
                    </li>
                    <li>
                        <a href="https://rackspace.com/solve/">Solve: Thought Leadership</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="https://support.rackspace.com/">Support Documentation</a>
            </li>
            <li class="search">
                <div data-drc-search-box></div>
                <div data-drc-search-results></div>
            </li>
        </ul>
    </nav>
</div>
