<header class="site-header">
    <div class="header-links">
        <div class="header-links-container">
          <div id='rax-eyebrow-utility'>
              <ul>
                  <li><a href='tel:+18009614454'>US Support: 1-800-961-4454</a></li>
                  <li><a href='tel:+08009880300'>UK Support: 0800-988-0300</a></li>
                  <li><a href="https://www.rackspace.com/information/contactus#form">Email Us</a></li>
              </ul>
          </div>
            <ul class="portal-links">
                <li class="btn-link sign-up">
                    <a href="https://cart.rackspace.com/cloud">Sign Up</a>
                </li>
                <li class="btn-link">
                   <span>Log In</span>
                    <ul>
                        <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                        <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                        <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                        <li><a href="https://cp.rackspace.com">Cloud Office Control Panel</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% include "_includes/header-nav.html" %}
    <div class="header-headline">
        <div class="header-headline-container">
            <{{ headlineTag }}>
                {% if headlineAccent %}
                    <span class="headline-accent">{{ headlineAccent }}</span>
                {% endif %}
                {% if headline %}
                    {{ headline }}
                {% endif %}
            </{{ headlineTag }}>
            <br>
            {% if tagline %}
                <p class="tagline">{{ tagline }}</p>
            {% endif %}
        </div>
    </div>
</header>
