<footer class="site-footer">
    <div class="footer-container">
      <div class="docs-links">
        <h5>Docs</h5>
        <ul>
          <li><a href="">Autoscale</a></li>
          <li><a href="">CDN</a></li>
          <li><a href="">Cloud Block Storage</a></li>
          <li><a href="">Cloud Databases</a></li>
          <li><a href="">Cloud DNS</a></li>
          <li><a href="">Cloud Files</a></li>
          <li><a href="">Cloud Identity</a></li>
        </ul>
        <ul>
          <li><a href="">Cloud Images</a></li>
          <li><a href="">Cloud Load Balancers</a></li>
          <li><a href="">Cloud Monitoring</a></li>
          <li><a href="">Cloud Networks</a></li>
          <li><a href="">Cloud Queues</a></li>
          <li><a href="">Cloud Servers</a></li>
          <li><a href="">Orchestration</a></li>
        </ul>
      </div>
      <div class="sdk-links">
        <h5>Sdks</h5>
        <ul>
          <li><a href="">Go</a></li>
          <li><a href="">Java</a></li>
          <li><a href="">.Net</a></li>
          <li><a href="">Node</a></li>
          <li><a href="">PHP</a></li>
          <li><a href="">Python</a></li>
          <li><a href="">Ruby</a></li>
        </ul>
      </div>
      <div class="partner-links">
        <h5>Partner Tools</h5>
        <ul>
          <li><a href="http://help.airbrake.io/kb/api-2/api-overview">Airbrake</a></li>
          <li><a href="http://documentation.mailgun.com/api_reference.html">Mailgun</a></li>
          <li><a href="http://docs.objectrocket.com/">ObjectRocket</a></li>
          <li><a href="http://redistogo.com/documentation/api">RedisToGo</a></li>
        </ul>
      </div>
      <div class="community-links">
        <h5>Community</h5>
        <ul>
          <li><a href="">Developer Blog</a></li>
          <li><a href="">Developer Forum</a></li>
          <li><a href="">Popular Topics</a></li>
          <li><a href="">Events</a></li>
        </ul>
      </div>
      <span class="copyright">&copy;2015 Rackspace US, Inc.</span>
    </div>
</footer>
    <div class="basement-container">
        <ul>
          <li><span>&copy;2015 Rackspace US, Inc.</span></li>
          <li class="text-link"><a href="http://www.rackspace.com/about/">About Rackspace</a></li>
          <li class="text-link"><a href="http://ir.rackspace.com/">Investors</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/talent/">Careers</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/information/legal/privacystatement">Privacy Statement</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/information/legal/websiteterms">Website Terms</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/information/legal/copyrights_trademarks">Trademarks</a></li>
        </ul>
    </div>
