<header class="site-header">
    <div class="header-links">
        <div class="header-links-container">
          <div class="phone-chat-links">
            </div>
            <ul class="portal-links">
                <li class="btn-link sign-up">
                    <span>Buy Now</span>
                        <ul>
                          <li><a href="https://cart.rackspace.com/cloud">Rackspace Cloud</a></li>
                          <li><a href="https://cart.rackspace.com/apps">Email &amp; Apps</a></li>
                          <li><a href="https://cart.rackspace.com/aws">Fanatical Support for AWS</a></li>
                          <li><a href="https://cart.rackspace.com/gcp">Managed Google Cloud Platform</a></li>
                          <li><a href="https://cart.rackspace.com/office365">Office 365</a></li>
                        </ul>
                </li>
                <li class="btn-link">
                   <span>Log In</span>
                    <ul>
                        <li><a href="https://my.rackspace.com/portal/auth/login">MyRackspace Portal</a></li>
                        <li><a href="https://mycloud.rackspace.com">Cloud Control Panel</a></li>
                        <li><a href="https://apps.rackspace.com">Rackspace Webmail Login</a></li>
                        <li><a href="https://cp.rackspace.com">Cloud Office Control Panel</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    {% include "_includes/header-nav.html" %}
    <div class="header-headline">
        <div class="header-headline-container">
            <{{ headlineTag }}>
                {% if headline %}
                    {{ headline }}
                {% endif %}
            </{{ headlineTag }}>
            <br>
            {% if tagline %}
                <p class="tagline">{{ tagline }}</p>
            {% endif %}
        </div>
    </div>
    <div class="header-announcement">
      <div class="banner">
        <p>End-to-End Multicloud Solutions.&nbsp;&nbsp;&nbsp;<strong>Together, We'll Solve It.&trade;</strong>&nbsp;&nbsp;&nbsp;Learn more at <a href='https://www.rackspace.com/'>Rackspace.com</a></p>
      </div>
    </div>
</header>
