<footer class="site-footer">
    <div class="footer-container">
      <div class="docs-links">
        <h5>Docs</h5>
        <ul>
          <li><a href="/docs/auto-scale/getting-started/">Autoscale</a></li>
          <li><a href="/docs/cdn/getting-started/">CDN</a></li>
          <li><a href="/docs/cloud-block-storage/getting-started/">Cloud Block Storage</a></li>
          <li><a href="/docs/cloud-databases/getting-started/">Cloud Databases</a></li>
          <li><a href="/docs/cloud-dns/getting-started/">Cloud DNS</a></li>
          <li><a href="/docs/cloud-files/getting-started/">Cloud Files</a></li>
          <li><a href="/docs/cloud-identity/getting-started/">Cloud Identity</a></li>
        </ul>
        <ul>
          <li><a href="/docs/cloud-images/getting-started/">Cloud Images</a></li>
          <li><a href="/docs/cloud-load-balancers/getting-started/">Cloud Load Balancers</a></li>
          <li><a href="/docs/cloud-monitoring/getting-started/">Cloud Monitoring</a></li>
          <li><a href="/docs/cloud-networks/getting-started/">Cloud Networks</a></li>
          <li><a href="/docs/cloud-queues/getting-started/">Cloud Queues</a></li>
          <li><a href="/docs/cloud-servers/getting-started/">Cloud Servers</a></li>
          <li><a href="/docs/orchestration/getting-started/">Cloud Orchestration</a></li>
        </ul>
      </div>
      <div class="sdk-links">
        <h5>Sdks</h5>
        <ul>
          <li><a href="/sdks/golang">Go</a></li>
          <li><a href="/sdks/java">Java</a></li>
          <li><a href="/sdks/dot-net">.Net</a></li>
          <li><a href="/sdks/node-js">Node</a></li>
          <li><a href="/sdks/php">PHP</a></li>
          <li><a href="/sdks/python">Python</a></li>
          <li><a href="/sdks/ruby">Ruby</a></li>
        </ul>
      </div>
      <div class="partner-links">
        <h5>Partner Tools</h5>
        <ul>
          <li><a href="http://help.airbrake.io/kb/api-2/api-overview">Airbrake</a></li>
          <li><a href="http://documentation.mailgun.com/api_reference.html">Mailgun</a></li>
          <li><a href="http://docs.objectrocket.com/">ObjectRocket</a></li>
          <li><a href="http://redistogo.com/documentation/api">RedisToGo</a></li>
        </ul>
      </div>
      <div class="community-links">
        <h5>Community</h5>
        <ul>
          <li><a href="/blog/">Developer Blog</a></li>
          <li><a href="https://community.rackspace.com/developers/default">Developer Forum</a></li>
          <li><a href="/community/">Events</a></li>
        </ul>
      </div>
      <span class="copyright">&copy;2015 Rackspace US, Inc.</span>
    </div>
</footer>
    <div class="basement-container">
        <ul>
          <li><span>&copy;2015 Rackspace US, Inc.</span></li>
          <li class="text-link"><a href="http://www.rackspace.com/about/">About Rackspace</a></li>
          <li class="text-link"><a href="http://ir.rackspace.com/">Investors</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/talent/">Careers</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/information/legal/privacystatement">Privacy Statement</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/information/legal/websiteterms">Website Terms</a></li>
          <li class="text-link"><a href="http://www.rackspace.com/information/legal/copyrights_trademarks">Trademarks</a></li>
        </ul>
    </div>
