body.docs {
    .header-headline {
        background-image: url('../img/docs-banner.jpg');
    }

    .content {
        font-size: 16px;
        
        a {
            text-decoration: underline;
        }

        .docs-section .description,
        .docs-section .code {
            width: 100%;
        }
    }


}
