body.docs-home {
  .docs-section {
    @include page-section();

    h2 {
      margin-bottom: 0.6em;
    }
  }

  .docs-section.hero {
    padding: 0;

    .section-container {
      margin: 0;
      max-width: 9999px;
      width: 100%;
    }

    .section-grid {
      margin: 0;
      width: 100%;
    }

    .background {
      position: absolute;

      height: auto;
      left: 50%;
      max-width: 980px;
      @include transform(translate(-50%, 0));
      width: 100%;
    }

    .text {
      padding: 40px 0;
      margin: 0 auto;
      max-width: 980px;
      width: 90%;
    }

    .search {
      margin: 0 auto;
      max-width: 980px;
      width: 100%;

      .search-input {
        width: 100%;
      }
    }

    h1, p {
      & > span {
        background: fadeout(white, 10%);
        line-height: 1;
        padding: 0.2em;
      }
    }

    @media (min-width: 640px) {
      .text {
        padding: 80px 0;
      }

      .search {
        .search-input {
          width: 50%;
        }
      }
    }

    @media (min-width: 768px) {
      .text {
        padding: 100px 0;
      }
    }

    @media (min-width: 960px) {
      .text {
        padding: 125px 0;
      }
    }

    @media (min-width: 1088px) {
      .text {
        padding: 150px 0;
      }
    }
  }

  .docs-section.featured-articles {
    background: #f0f5fc;

    .intro {
      @include grid-unit(1/1, 50px);
      text-align: center;

      h2 {
        @include h4();
        text-transform: uppercase;
      }
    }

    .featured-sets {
      .set {
        @include grid-unit(1/3, 50px);

        .image {
          background: shade(white, 12%);
          margin-bottom: 10px;
          padding: 20px 0;

          img {
            display: block;
            margin: 0 auto;
            max-width: 150px;
          }
        }

        h3 {
          @include h4();
          margin-bottom: 5px;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style-type: none;

            & + li {
              margin-top: 15px;
            }

            h4 {
              font-size: percentage((14/14));
            }

            a {

              text-decoration: underline;
            }
          }
        }
      }
    }

    @media (max-width: 639px) {
      display: none;
    }
  }

  .docs-section.all-articles {
    @include page-section();

    .heading, .tools, .articles {
      @include grid-unit(1/1, 50px);
    }

    .heading {
      text-align: center;

      h2 {
        @include h4();
        text-transform: uppercase;
      }
    }

    .tools {
      border-bottom: solid 1px shade(white, 15%);
      padding-bottom: 10px;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          list-style-type: none;

          & + li {
            margin-left: 8px;
          }

          a {
            @include lato('light');
            color: $color-text;
            display: inline-block;
            font-size: percentage((18/14));
            line-height: 2;

            &:hover, &:focus {
              color: darken($link-color, 15%);
              text-decoration: none;
            }

            &.active {
              color: $color-kcblue;
              border-bottom: solid 2px $color-kcblue;
            }
          }

          @media (min-width: 480px) {
            & + li {
              margin-left: 30px;
            }
          }
        }
      }
    }

    .articles {
      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          margin: 0;
          padding: 20px 0 0 0;

          & + li {
            border-top: solid 1px shade(white, 15%);
          }

          h3 {
            font-size: percentage((18/14));
            line-height: 1;
            margin-bottom: 5px;
          }

          .excerpt {
            margin-bottom: 10px;
          }

          .details {
            @include lato('regular', 'italic');
            color: tint($color-text, 25%);
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
