[@ drc/default.hbs @]
<div class="bodyitem twocol-layout clearfix">
  <div class="content">
    <h1>{{ metadata.title }}</h1>
    <ul class="blog-entries">
      {{#each included }}
      <li class="entry">
        {{! TODO replicate '| date_to_html_string' }}
        <span class="byline">{{ date }}</span>
        <h2 class="title"><a href="{{ url }}">{{ title }}</a></h2>
      </li>
      {{/each}}
    </ul>
    </div>
    [+ drc/common/sidebar.hbs +]
</div>
