<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{{ envelope.title }}}</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin" rel="stylesheet" type="text/css">
  <!-- our styles: -->
  <link href="/assets/css/main.css" rel="stylesheet" type='text/css'>
  [+ drc/common/vwo.hbs +]
  <script type="text/javascript" src="https://www.rackspace.com/data/client"></script>
</head>
<body>

[+ drc/common/header.hbs +]
<div class="container-fluid narrow-sidebar">
    <div class="row">
        <div class="col-md-4 side">
            <div class="parent-toctree">{{{ envelope.toc }}}</div>
        </div>
        <div class="col-md-8 main">{{{ envelope.body }}}</div>
    </div>
</div>
[+ drc/common/footer.hbs +]

<script src="/assets/js/main.js"></script>

[+ drc/common/ga.hbs +]
[+ drc/common/tealium.hbs +]
[+ drc/common/survey.hbs +]
[+ drc/common/remarketing.hbs +]

</body>
</html>
