<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block metaTitle %}Carina&trade;, by Rackspace{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}Carina&trade; by Rackspace® - A high performance, instant-on &amp; portable container environment for developers.{% endblock %}">
        <meta name="og:title" content="{% block ogTitle %}Carina&trade; by Rackspace®{% endblock %}">
        <meta name="og:description" content="{% block ogDescription %}Carina&trade; by Rackspace® - A high performance, instant-on &amp; portable container environment for developers.{% endblock %}">
        <meta name="og:image" content="{% block ogImage %}{{ deconst.assets.assets_dist_img_default_og_image_jpg }}{% endblock %}">
        <meta name="og:type" content="site">
        <meta name="twitter:title" content="{% block twitterTitle %}Rackspace Developer Center{% endblock %}">
        <meta name="twitter:description" content="{% block twitterDescription %}Carina&trade; by Rackspace® - A high performance, instant-on &amp; portable container environment for developers.{% endblock %}">
        <meta name="twitter:creator" content="{% block twitterCreator %}@getcarina{% endblock %}">
        <meta name="twitter:site" content="@getcarina">

        {% if deconst.env.PRESENTER_DEVMODE == 'true' %}
            {% set cssUrl = '/assets/boatboat.deconst.horse/src/css/main.css' %}
        {% else %}
            {% set cssUrl = deconst.assets.assets_boatboat_deconst_horse_dist_css_main_css %}
        {% endif %}
        <link rel="stylesheet" href="{{ cssUrl }}">

        {% block headScripts %}{% endblock %}
    {% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
  {% block body %}{% endblock %}
  {% include "_includes/ga.html" %}
  {% block footScripts %}
    {% if deconst.env.PRESENTER_DEVMODE == 'true' %}
        {% set jsUrl = '/assets/boatboat.deconst.horse/src/js/bundle.js' %}
    {% else %}
        {% set jsUrl = deconst.assets.assets_boatboat_deconst_horse_dist_js_site_min_js %}
    {% endif %}
    <script src="{{ jsUrl }}"></script>
  {% endblock %}
</body>
</html>
