.rax-support-maintenance-banner {
  background: #c40022;
  color: white;
  height: auto;
  padding: 10px !important;
  .rax-support-maintenance-banner-container {
    display: flex;
    flex-direction: row;
    .rax-support-maintenance-banner-content {
      flex-basis: content;
      flex-grow: 1;
      font-size: 1em;
      padding: 0 0.75rem;
    }
    svg {
      display: inline-block;
      fill: currentColor;
      flex-basis: content;
      flex-grow: 5;
      height: 2.5em;
      padding: 0 0.75rem;
      stroke: none;
      vertical-align: middle;
    }
  }
}
