$color-brand: #c40022;
$color-text: #414141;
$color-kcblue: #3498DB;

$font-family-primary: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-secondary: 'Titillium Web', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-code: 'Source Code Pro', 'Courier New', monospace;

@import "deconst-variables";
