$color-brand: #c40022;
$color-text: #474747;
$color-kcblue: #3498DB;

$font-family-primary: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-secondary: 'Titillium Web', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-code: 'Source Code Pro', 'Courier New', monospace;

$assets_support_rackspace_com_dist_css_main_css: '/assets/support.rackspace.com/dist/css/main.css';
$assets_support_rackspace_com_dist_css_main_css_map: '/assets/support.rackspace.com/dist/css/main.css.map';
$assets_support_rackspace_com_dist_css_main_min_css: '/assets/support.rackspace.com/dist/css/main.min.css';
$assets_support_rackspace_com_dist_img_icon_auto_scale_png: '/assets/support.rackspace.com/dist/img/icon-auto_scale.png';
$assets_support_rackspace_com_dist_img_icon_auto_scale_svg: '/assets/support.rackspace.com/dist/img/icon-auto_scale.svg';
$assets_support_rackspace_com_dist_img_icon_backup_png: '/assets/support.rackspace.com/dist/img/icon-backup.png';
$assets_support_rackspace_com_dist_img_icon_backup_svg: '/assets/support.rackspace.com/dist/img/icon-backup.svg';
$assets_support_rackspace_com_dist_img_icon_block_storage_png: '/assets/support.rackspace.com/dist/img/icon-block_storage.png';
$assets_support_rackspace_com_dist_img_icon_cdn_png: '/assets/support.rackspace.com/dist/img/icon-cdn.png';
$assets_support_rackspace_com_dist_img_icon_cdn_svg: '/assets/support.rackspace.com/dist/img/icon-cdn.svg';
$assets_support_rackspace_com_dist_img_icon_databases_png: '/assets/support.rackspace.com/dist/img/icon-databases.png';
$assets_support_rackspace_com_dist_img_icon_email_archiving_png: '/assets/support.rackspace.com/dist/img/icon-email_archiving.png';
$assets_support_rackspace_com_dist_img_icon_dns_png: '/assets/support.rackspace.com/dist/img/icon-dns.png';
$assets_support_rackspace_com_dist_img_icon_email_png: '/assets/support.rackspace.com/dist/img/icon-email.png';
$assets_support_rackspace_com_dist_img_icon_exchange_svg: '/assets/support.rackspace.com/dist/img/icon-exchange.svg';
$assets_support_rackspace_com_dist_img_icon_exchange_png: '/assets/support.rackspace.com/dist/img/icon-exchange.png';
$assets_support_rackspace_com_dist_img_icon_email_svg: '/assets/support.rackspace.com/dist/img/icon-email.svg';
$assets_support_rackspace_com_dist_img_icon_images_svg: '/assets/support.rackspace.com/dist/img/icon-images.svg';
$assets_support_rackspace_com_dist_img_icon_images_png: '/assets/support.rackspace.com/dist/img/icon-images.png';
$assets_support_rackspace_com_dist_img_icon_files_svg: '/assets/support.rackspace.com/dist/img/icon-files.svg';
$assets_support_rackspace_com_dist_img_icon_load_balancers_svg: '/assets/support.rackspace.com/dist/img/icon-load_balancers.svg';
$assets_support_rackspace_com_dist_img_icon_load_balancers_png: '/assets/support.rackspace.com/dist/img/icon-load_balancers.png';
$assets_support_rackspace_com_dist_img_icon_intelligence_png: '/assets/support.rackspace.com/dist/img/icon-intelligence.png';
$assets_support_rackspace_com_dist_img_icon_managed_operations_png: '/assets/support.rackspace.com/dist/img/icon-managed_operations.png';
$assets_support_rackspace_com_dist_img_icon_networks_png: '/assets/support.rackspace.com/dist/img/icon-networks.png';
$assets_support_rackspace_com_dist_img_icon_monitoring_svg: '/assets/support.rackspace.com/dist/img/icon-monitoring.svg';
$assets_support_rackspace_com_dist_img_icon_monitoring_png: '/assets/support.rackspace.com/dist/img/icon-monitoring.png';
$assets_support_rackspace_com_dist_img_icon_orchestration_png: '/assets/support.rackspace.com/dist/img/icon-orchestration.png';
$assets_support_rackspace_com_dist_img_icon_office_365_png: '/assets/support.rackspace.com/dist/img/icon-office_365.png';
$assets_support_rackspace_com_dist_img_icon_private_cloud_svg: '/assets/support.rackspace.com/dist/img/icon-private_cloud.svg';
$assets_support_rackspace_com_dist_img_icon_private_cloud_png: '/assets/support.rackspace.com/dist/img/icon-private_cloud.png';
$assets_support_rackspace_com_dist_img_icon_rackconnect_svg: '/assets/support.rackspace.com/dist/img/icon-rackconnect.svg';
$assets_support_rackspace_com_dist_img_icon_rackconnect_png: '/assets/support.rackspace.com/dist/img/icon-rackconnect.png';
$assets_support_rackspace_com_dist_img_icon_queues_png: '/assets/support.rackspace.com/dist/img/icon-queues.png';
$assets_support_rackspace_com_dist_img_icon_sharepoint_png: '/assets/support.rackspace.com/dist/img/icon-sharepoint.png';
$assets_support_rackspace_com_dist_img_icon_sharepoint_svg: '/assets/support.rackspace.com/dist/img/icon-sharepoint.svg';
$assets_support_rackspace_com_dist_img_icon_servers_svg: '/assets/support.rackspace.com/dist/img/icon-servers.svg';
$assets_support_rackspace_com_dist_img_icon_servers_png: '/assets/support.rackspace.com/dist/img/icon-servers.png';
$assets_support_rackspace_com_dist_img_icon_sites_png: '/assets/support.rackspace.com/dist/img/icon-sites.png';
$assets_support_rackspace_com_dist_img_icon_sites_svg: '/assets/support.rackspace.com/dist/img/icon-sites.svg';
$assets_support_rackspace_com_dist_img_icon_skype_png: '/assets/support.rackspace.com/dist/img/icon-skype.png';
$assets_support_rackspace_com_dist_img_icon_vmware_png: '/assets/support.rackspace.com/dist/img/icon-vmware.png';
$assets_support_rackspace_com_dist_img_icon_wizard_png: '/assets/support.rackspace.com/dist/img/icon-wizard.png';
$assets_support_rackspace_com_dist_img_icon_vmware_svg: '/assets/support.rackspace.com/dist/img/icon-vmware.svg';
$assets_support_rackspace_com_dist_img_icon_wizard_svg: '/assets/support.rackspace.com/dist/img/icon-wizard.svg';
$assets_support_rackspace_com_dist_img_icon_big_data_svg: '/assets/support.rackspace.com/dist/img/icon-big_data.svg';
$assets_support_rackspace_com_dist_img_icon_databases_svg: '/assets/support.rackspace.com/dist/img/icon-databases.svg';
$assets_support_rackspace_com_dist_img_icon_intelligence_svg: '/assets/support.rackspace.com/dist/img/icon-intelligence.svg';
$assets_support_rackspace_com_dist_img_icon_minus_svg: '/assets/support.rackspace.com/dist/img/icon-minus.svg';
$assets_support_rackspace_com_dist_img_icon_orchestration_svg: '/assets/support.rackspace.com/dist/img/icon-orchestration.svg';
$assets_support_rackspace_com_dist_img_icon_queues_svg: '/assets/support.rackspace.com/dist/img/icon-queues.svg';
$assets_support_rackspace_com_dist_img_icon_big_data_png: '/assets/support.rackspace.com/dist/img/icon-big_data.png';
$assets_support_rackspace_com_dist_img_icon_files_png: '/assets/support.rackspace.com/dist/img/icon-files.png';
$assets_support_rackspace_com_dist_img_icon_billing_svg: '/assets/support.rackspace.com/dist/img/icon-billing.svg';
$assets_support_rackspace_com_dist_img_icon_block_storage_svg: '/assets/support.rackspace.com/dist/img/icon-block_storage.svg';
$assets_support_rackspace_com_dist_img_icon_dns_svg: '/assets/support.rackspace.com/dist/img/icon-dns.svg';
$assets_support_rackspace_com_dist_img_icon_email_archiving_svg: '/assets/support.rackspace.com/dist/img/icon-email_archiving.svg';
$assets_support_rackspace_com_dist_img_icon_highfive_svg: '/assets/support.rackspace.com/dist/img/icon-highfive.svg';
$assets_support_rackspace_com_dist_img_icon_managed_operations_svg: '/assets/support.rackspace.com/dist/img/icon-managed_operations.svg';
$assets_support_rackspace_com_dist_img_icon_networks_svg: '/assets/support.rackspace.com/dist/img/icon-networks.svg';
$assets_support_rackspace_com_dist_img_icon_skype_svg: '/assets/support.rackspace.com/dist/img/icon-skype.svg';
$assets_support_rackspace_com_dist_img_icon_support_svg: '/assets/support.rackspace.com/dist/img/icon-support.svg';
$assets_support_rackspace_com_dist_js_site_min_js: '/assets/support.rackspace.com/dist/js/site.min.js';
$assets_support_rackspace_com_dist_img_icon_plus_svg: '/assets/support.rackspace.com/dist/img/icon-plus.svg';
$assets_support_rackspace_com_dist_img_bg_header_png: '/assets/support.rackspace.com/dist/img/bg_header.png';
$assets_support_rackspace_com_dist_img_icon_office_365_svg: '/assets/support.rackspace.com/dist/img/icon-office_365.svg';


@import "deconst-variables";
