// Featured List of Papers

.featured-list {
  display: block;
  margin-left: -20px;
  overflow: hidden;
  vertical-align: top;
  width: calc(100% + 35px);
}

div.featured {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 20px;
  margin-right: -0.26rem;
  vertical-align: top;
  width: calc(33.3333% - 25px)
}

.card {
  border-top: 8px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-out 0s;
  width: calc(100% - 2px);
  height: 270px;
  overflow-y: hidden;
}

.card.blue {
  border-top-color: $color-kcblue;
}

.card .card-content {
  -webkit-border-bottom-colors:none;
  -moz-border-bottom-colors: none;
  border-bottom-colors: none;
  -webkit-border-left-colors: none;
  -moz-border-left-colors: none;
  border-left-colors: none;
  -webkit-border-right-colors: none;
  -moz-border-right-colors: none;
  border-right-colors: none;
  -webkit-border-top-colors: none;
  -moz-border-top-colors: none;
  border-top-colors: none;
  align-items: stretch;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-color: -moz-use-text-color #e6e6e6 #e6e6e6;
  border-image: none;
  border-style: none solid solid;
  border-width: 0;
  display: flex;
  flex-direction: column;
  height: 262px;
  padding: 4px;
  position: relative;
}
.card .card-title {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: calc(0.5em + 8px) 20px 0.5em;
  text-align: center;
}

.card .card-body {
  flex-grow: 1;
  overflow: hidden;
  padding: 5px 20px;
  text-align: center;
}

.card .card-link {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.card-title h4 {
  font-size: 21px;
  font-weight: 200;
  line-height: 26px;
  margin-bottom: 0px;
}

.card-link a {
  font-size: 12px;
  font-style: unset;
  font-weight: 200;
  text-transform: uppercase;
}

h3.featuredHead {
  color: #999;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 25px;
}

.card-body > p {
  font-family: $font-family-secondary;
  margin-bottom: 0;
}

.card-link > p {
  margin-bottom: 0;
}

// Dropdown and All Content Section
@media screen and (min-width: 860px) {
    .dropdown {
        padding: 5px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
        border-radius: 3px;
        background: #303030;
        margin: 20px;
        height: 29px;
        width: 270px;
        background-color: ghostwhite;
        color: #fff;
        content: &dtrif;;
        float: right;
    }
    .allContentHeading {
      float: left;
      width: 50%;
    }
}

.allContentTop {
  display: inline-block;
  width: 100%;
  margin-top: 14px;
}

.dropdown button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: black;
  display: inline-block;
  font-size: 14px;
  width: 270px;
  height: 30px;
  text-align: left;
}

.dropdown option {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}

.dropdown option:last-child {
    margin-right:0px;
}

.dropdown a {
    color:#777;
    transition:color linear 0.15s;
}

.dropdown a:hover, .dropdown .current-item a {
    text-decoration:none;
    color:#66a992;
}

// Topic Heads
h3.topicHead {
  border-top: 1px solid #bfbfbf;
  color: #999;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 25px;
  margin-top: 10px;
  padding-top: 25px;
}

// Pieces for defining height for the View More/Less Javascript
.too-tall {
  overflow: hidden;
  height: 6em;
}

.just-right {
  height: auto;
}

// View More/Less styles
.show-more {
  color: #777;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

.show-more:hover {
    color: #1779dd;
}

// Content info
p.tagline {
  margin-bottom: 20px;
}

.topicList a {
  font-weight: 400;
}

.show-more > a {
  font-size: 16px;
}

// Paper list definitions
ul.paperList {
  margin-bottom: 0px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  list-style-position: outside;
  list-style-type: square;
  margin-left: 20px;
}

.topicList ul.paperList li {
  margin-bottom: 0;
  line-height: 1.75em;
  margin-left: 10px;
}

ul.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  width: 280px;
  margin-left: -6px;
}

.dropdown-menu.scrollable-menu > li {
  margin-bottom: 5px;
}

menu {
  display: block;
}

button {
  color: inherit;
  font: $font-family-secondary;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

//a {
//  color: #337ab7;
//  text-decoration: none;
//}

//a:hover,
//a:focus {
//  color: #23527c;
//  text-decoration: underline;
//}

//a:focus {
//  outline: 5px auto -webkit-focus-ring-color;
//  outline-offset: -2px;
//}

[role="button"] {
  cursor: pointer;
}

// .caret {
//   display: inline-block;
//   width: 0;
//   height: 0;
//   margin-left: 2px;
//   vertical-align: middle;
//   border-top: 4px dashed;
//   border-top: 4px solid \9;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
// }

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: float;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed;
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

#dropdownRow {
  height: inherit;
  width: inherit;
}

.fa.fa-caret-down {
  text-align: right;
  width: calc(27%);
}
