<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-grid">
      <ul class="footer-links">
        <li>&copy;2015 Rackspace US, Inc.</li>
        <li><a href="http://www.rackspace.com">About Rackspace</a></li>
        <li><a href="http://www.rackspace.com/talent/">Careers</a></li>
        <li><a href="http://www.rackspace.com/information/legal/privacystatement">Privacy Statement</a></li>
        <li><a href="http://www.rackspace.com/information/legal/websiteterms">Website Terms</a></li>
        <li><a href="http://www.rackspace.com/information/legal/copyrights_trademarks">Trademarks</a></li>
        <li><a href="http://www.rackspace.com/information/legal/aup/">Acceptable Use Policy</a></li>
        <li><a href="http://www.rackspace.com/information/legal/rsdp/">Security Vulnerability Reporting</a></li>
      </ul>
    </div>
  </div>
</footer>
