<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block metaTitle %}Document Title{% endblock %}</title>
    <meta name="description" content="{% block metaDescription %}Default meta description{% endblock %}">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/main.css">

    {% block headScripts %}
        {% include "_includes/vwo.html" %}
        <script type="text/javascript" src="https://www.rackspace.com/data/client"></script>
    {% endblock %}
</head>
<body>
    {% include "_includes/site-header.html" %}
    {% block content %}{% endblock %}
    {% include "_includes/site-footer.html" %}
    {% block footScripts %}
        {% include "_includes/ga.html" %}
        {% include "_includes/tealium.html" %}
        {% include "_includes/survey.html" %}
        {% include "_includes/remarketing.html" %}
    {% endblock %}
</body>
</html>
