{% extends "_layouts/base.html" %}

{% block metaTitle %}{{ ['Page Not Found', super()]|join(' - ') }}{% endblock %}
{% block bodyClass %}not-found{% endblock %}

{% set headlineTag = 'h2' %}
{% set headlineAccent = 'Rackspace' %}
{% set headline = 'Support Network' %}

{% block bodyContent %}
    <div class="not-found-message">
        <h1>Page Not Found</h1>
        <p>Sorry, we couldn't find the page you were looking for. The page might have moved or have been deleted.</p>
        <p>For information about Rackspace products and services, see:
          <ul>
            <li><a href="https://www.rackspace.com/">rackspace.com</a></li>
            <li><a href="https://support.rackspace.com/">support.rackspace.com</a></li>
            <li><a href="https://developer.rackspace.com/">developer.rackspace.com</a></li>
          </ul>
        </p>
    </div>
{% endblock %}
