{% extends "_layouts/base.html" %}

{% set title = "Knowledge Center | " + deconst.content.envelope.title %}
{% set product = deconst.content.envelope.metadata.products %}

{% set siteUrl = deconst.url.getSiteUrl(deconst.context, deconst.context.request.path) %}
{% set cssUrl = deconst.assets.assets_dist_css_main_css %} {# TODO #}
{% set jsUrl = deconst.assets.assets_dist_js_main_min_js %} {# TODO #}
{% set cssUrl = "http://16909682886ee5c2b59a-fffceaebb8c6ee053c935e8915a3fbe7.r35.cf2.rackcdn.com/main.css" %}
{% set jsUrl = "http://16909682886ee5c2b59a-fffceaebb8c6ee053c935e8915a3fbe7.r35.cf2.rackcdn.com/site.js" %}

{% block bodyContent %}
        {% set created_by = deconst.content.envelope.metadata.created_by  %}
        {% set created_date = deconst.content.envelope.metadata.created_date  %}
        <article>
            <div class="container">
                <div class="row">
                  <div class="three columns sidebar sticky">
                    {% include "_includes/article-sidebar.html" %}
                  </div>
                  <div class="nine columns content">
                    {% include "_includes/article-header.html" %}
                    {{ deconst.content.envelope.body }}
                    {% include "_includes/article-footer.html" %}
                  </div>
                </div>
            </div>
        </article>
{% endblock %}
