{% extends "_layouts/base.html" %}


{% block bodyContent %}
        {% set created_by = deconst.content.envelope.metadata.created_by  %}
        {% set created_date = deconst.content.envelope.metadata.created_date  %}
        <article>
            <div class="container">
                <div class="row">
                  <div class="three columns sidebar sticky">
                    {% include "_includes/article-sidebar.html" %}
                  </div>
                  <div class="nine columns content">
                    {% include "_includes/article-header.html" %}
                    {{ deconst.content.envelope.body }}
                    {% include "_includes/article-footer.html" %}
                  </div>
                </div>
            </div>
        </article>
{% endblock %}
