{% extends "_layouts/base.html" %}

{% block bodyClass %}search{% endblock %}

{% block bodyContent %}
<section class="search-section src-results">
  <div class="section-container">
    <div class="section-grid">
      <h4 class="search-results">Search Results</h4>
      <ul class="search-results">
        {% if deconst.request.query.q %}
          {% set r = deconst.request.query.q|search(pageNumber=query.page) %}
          <li class="results-count">
            {{ r.total }} result {%-if r.total != 1-%}s{%-endif-%}
          </li>
          {% for result in r.results %}
            <li>
              <a class="title" href="{{ result.url }}">{{ result.title }}</a>
              <div class="excerpt">{%-if result.excerpt-%}{{ result.excerpt }}{%-endif-%}</div>
              <div class="excerpt">{{ result.url }}</div>
            </li>
          {% else %}
            <li class="no-results">
              <em>No results found for '{{ deconst.request.query.q | escape }}'.</em>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}
