{% extends "_layouts/base.html" %}

{% block metaTitle %}{{ ["White Papers", super()]|join(' - ')}}{% endblock %}

{% block bodyClass %}home{% endblock %}

{% block bodyContent %}
  {{ deconst.content.envelope.body }}
{% endblock %}

{% block headerScripts %}
{% endblock %}

{% block footerScripts %}
  <script type="text/javascript" src="{{ jsUrl }}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      //setup the dropdown on the whitepaper site
      $('#topics').change(function() {
        var targetPosition = $($(this).val()).offset().top;
        $('html,body').animate({
          scrollTop: targetPosition
        }, 'slow');
      });
      // setup the show more/less on the whitepaper site
      $(".show-more a").each(function() {
        var $link = $(this);
        var $content = $link.parent().prev("div.topicList");

        console.log($link);

        var visibleHeight = $content[0].clientHeight;
        var actualHide = $content[0].scrollHeight - 1;

        console.log(actualHide);
        console.log(visibleHeight);

        if (actualHide > visibleHeight) {
          $link.show();
        } else {
          $link.hide();
        }
      });

      $(".show-more a").on("click", function() {
        var $link = $(this);
        var $content = $link.parent().prev("div.topicList");
        var linkText = $link.children("span").html();

        $content.toggleClass("too-tall, just-right");

        $link.children("span").html(getShowLinkText(linkText));
        $link.find('i').toggleClass('fa-chevron-down fa-chevron-up');

        return false;
      });

      function getShowLinkText(currentText) {
        var newText = '';

        if (currentText === "View more") {
          newText = "View less";
        } else {
          newText = "View more";
        }

        return newText;
      }
    });
  </script>
{% endblock %}
