{% extends "_layouts/base.html" %}


{% block bodyContent %}
        <article>
            <div class="container">
                <div class="row">
                  <div class="three columns sidebar sticky">
                    {% include "_includes/whitepaper-sidebar.html" %}
                  </div>
                  <div class="nine columns content">
                    {% include "_includes/whitepaper-header.html" %}
                    {{ deconst.content.envelope.body }}
                    {% include "_includes/whitepaper-footer.html" %}
                  </div>
                </div>
            </div>
        </article>
{% endblock %}
