{% extends "_layouts/base.html" %}

{% block bodyContent %}
    <div class="container">
        <div class="layout sidebar-left">
            <div class="header">
                {% block header %}{% endblock %}
            </div>
            <div class="body">
                <div class="background">
                    <div class="left"></div>
                    <div class="center"></div>
                    <div class="right"></div>
                </div>
                <div class="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
