body.home {
    .header-headline {
        background-image: url(@assets_dist_img_misc_banner_1_jpg);

        h2 {
            .titillium('light');
            background: fadeout(black, 60%);
            color: white;
            display: block;
            font-size: percentage((40/14));
            text-align: center;
            text-shadow: 0px 0px 2px fadeout(black, 70%);
            text-transform: uppercase;;
        }

        #headline-typer {
          .titillium();
          border-bottom: solid 2px white;
          display: inline-block;
          min-width: 10em;

          .word {
            line-height: 1;

            &:after {
              animation: blink 1s infinite linear;
              background: white;
              content: "";
              display: inline-block;
              height: 1em;
              margin-left: 0.1em;
              vertical-align: top;
              width: 1px;
            }
          }
        }

        br {
            display: none;
        }

        .tagline {
            color: white;
            font-size: percentage((18/14));
            margin-bottom: 0;
            text-align: center;
            text-transform: none;

            a {
              color: white;
              text-decoration: underline;

              &:hover, &:focus {
                color: @link-color;
              }
            }

            .get-started {
                .open-sans();
                .button('blue');
                font-size: 16px;
                letter-spacing: 0.04em;
                margin-top: 2em;
                text-decoration: none;
                text-transform: uppercase;

                &:hover, &:focus {
                  color: white;
                }
            }
        }

        @media (min-width: 769px) {
            padding: 180px 60px 120px 35px;

            h2 {
                background: transparent;
            }

            .tagline {
              margin: 0 auto;
              max-width: 760px;
            }

            br {
                display: block;
            }

        }
    }

    .box {
        text-align: center;
        padding: 80px 0;

        .container {
            .centered-container(960px);
        }
    }

    .box.docs-apis {

        h1 {
          .titillium('bold');
          margin-bottom: 0.25em;
        }

        h1 + p {
          margin: 0 auto;
          max-width: 760px;
        }

        .tools-promos {
            margin-top: 60px;
            .grid(20px);

            .promo {
                .grid-unit(1/1, 20px);
            }

            @media (min-width: 769px) {
                .grid(20px);

                .promo {
                    .grid-unit(1/3, 20px);
                }
            }
        }

        .card {
          &.yellow, &.red {
            border-top: solid 1px shade(white, 10%);
          }

          &.yellow {
            .card-action, .card-subtitle {
              color: @theme-yellow;
            }

            .card-subtitle:before {
              background: @theme-yellow;
            }

            .card-subtitle span:before,
            .card-subtitle span:after {
              background: @theme-yellow;
            }
          }

          &.red {
            .card-action, .card-subtitle {
              color: @theme-red;
            }

            .card-subtitle:before {
              background: @theme-red;
            }

            .card-subtitle span:before,
            .card-subtitle span:after {
              background: @theme-red;
            }
          }

          .card-image {
            padding-top: 20px;
            svg {
              height: 36px;
              width: 36px;
            }
          }


          .card-title {
            padding: 0.5em;
            padding-bottom: 0;
          }

          .card-subtitle {
            display: inline-block;
            line-height: 1;
            padding: 0 4em;
            text-transform: uppercase;

            &:before {
              content: "";
              display: block;
              position: absolute;
              height: 1px;
              width: 100%;
              left: 0;
              top: 0.5em;
            }

            span {
              background: white;
              padding: 0 0.5em;

              &:before, &:after {
                background: transparent;
                border-radius: 50%;
                content: "";
                display: block;
                height: 3px;
                position: absolute;
                top: ~"calc(0.5em + 2px)";
                width: 3px;
              }

              &:before {
                left: -4em;
              }

              &:after {
                right: -4em;
              }
            }
          }

          .card-body {
            padding: 3em 30px 3em 30px;
            padding-top: 3em;
          }

          .card-action {
            display: inline-block;
            font-size: 16px;
            margin-top: 1.5em;
            text-transform: uppercase;
          }
        }
    }

    .box.dev-support {
        border-top: solid 1px shade(white, 12%);

        h2 {
            font-size: percentage((36/14));
        }

        h2 + p {
            font-size: percentage((20/14));
            margin-bottom: 80px;
        }

        .icon {
            font-size: 50px;
            margin-bottom: 25px;
        }

        .comm-platforms {
            .grid(20px);

            .platform {
                .grid-unit(1/2, 20px);
                font-size: percentage((16/14));
            }

            @media (min-width: 769px) {
                .grid(40px);

                .platform {
                    .grid-unit(1/4, 40px);
                }
            }
        }
    }

    .box.rack-cli {
      border-top: solid 1px shade(white, 12%);
      background: #f0f5fc;

      .cli-grid {
        .grid(40px);
      }

      .cli-image {
        .grid-unit(7/12, 20px);
      }

      .cli-text {
        .grid-unit(5/12, 20px);
        text-align: left;
        font-size: 16px;

        .action {
          margin-top: 4em;
        }

        .download-button {
          .button('blue');
          padding: 0.5em 1.5em;
        }

        .info-button {
          .button('link');
          padding: 0.5em 1.5em;
        }
      }
    }

    .box.blog {
        border-top: solid 1px shade(white, 12%);
        .link-lists {
            .grid(40px);

            .link-list {
                .grid-unit(1/1, 40px);
                text-align: left;
            }

            @media (min-width: 550px) {
                .link-list {
                    .grid-unit(1/2, 40px);
                }
            }
        }

        h4 {
            font-size: percentage((28/14));
            margin-bottom: 20px;
        }

        ul {
            margin-bottom: 30px;
        }
    }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  39% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  89% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
