{% if deconst.content.envelope.disqus.include %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = '{{ deconst.content.envelope.disqus.short_name }}';

  {% if deconst.content.envelope.disqus.embed %}
    // var disqus_developer = 1;
    var disqus_identifier = '{{ deconst.url.getSiteUrl(deconst.context, deconst.context.request.path) }}';
    var disqus_url = '{{ deconst.url.getSiteUrl(deconst.context, deconst.context.request.path) }}';
    var disqus_script = 'embed.js';
  {% else %}
    var disqus_script = 'count.js';
  {% endif %}

  (function () {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());
</script>
{% endif %}
