<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block metaTitle %}Rackspace Developer Center{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}The Rackspace Developer Center gives developers tools and resources to build powerful, scalable apps on the only cloud backed by Fanatical Support®{% endblock %}">
        <meta name="og:title" content="{% block ogTitle %}Rackspace Developer Center{% endblock %}">
        <meta name="og:description" content="{% block ogDescription %}The Rackspace Developer Center gives developers tools and resources to build powerful, scalable apps on the only cloud backed by Fanatical Support®{% endblock %}">
        <meta name="og:image" content="{% block ogImage %}{{ deconst.assets.assets_dist_img_default_og_image_jpg }}{% endblock %}">
        <meta name="og:type" content="site">
        <meta name="twitter:title" content="{% block twitterTitle %}Rackspace Developer Center{% endblock %}">
        <meta name="twitter:description" content="{% block twitterDescription %}The Rackspace Developer Center gives developers tools and resources to build powerful, scalable apps on the only cloud backed by Fanatical Support®{% endblock %}">
        <meta name="twitter:creator" content="{% block twitterCreator %}@rackspace{% endblock %}">
        <meta name="twitter:site" content="@rackspace">

        <meta name="google-site-verification" content="-mqrRO0re82bACL147Jd8LJIAQ2JtzxoezhwMMJbS2s" />
        {% if deconst.env.PRESENTER_DEVMODE == 'true' %}
            {% set cssUrl = '/assets/src/css/main.css' %}
        {% else %}
            {% set cssUrl = deconst.assets.assets_dist_css_main_css %}
        {% endif %}
        <link rel="stylesheet" href="{{ cssUrl }}">

        {% block headScripts %}{% endblock %}
    {% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}" data-drc-code-sample-parent>
    {% block body %}{% endblock %}
    {% include "_includes/rackspace-client.html" %}
    {% include "_includes/ga.html" %}
    {% include "_includes/tealium.html" %}
    
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-81189538-2', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>
