{% extends "_layouts/raw.html" %}

{% set title = deconst.content.envelope.title %}
{% set product = deconst.content.envelope.meta.product %}
{% set created_by = deconst.content.envelope.meta.created_by  %}
{% set created_date = deconst.content.envelope.meta.created_date  %}
{% set last_modified_date =  deconst.content.envelope.meta.last_modified_date %}

{% set siteUrl = deconst.url.getSiteUrl(deconst.context, deconst.context.request.path) %}
{% set cssUrl = deconst.assets.assets_support_rackspace_com_dist_css_main_css %}
{% set jsUrl = deconst.assets.assets_support_rackspace_com_dist_js_site_min_js %}

{% set headlineTag = headlineTag if headlineTag else 'h2' %}

{% block body %}
  <div id="rax-header">{% include "_includes/header.html" %}</div>

  <div id="main-content">
    {% block bodyContent %}{% endblock %}
  </div>

  <div id="rax-footer">{% include "_includes/footer.html" %}</div>

  {% block headerScripts %}
  {% endblock %}
  {% block footerScripts %}<script type="text/javascript" src="{{ jsUrl }}"></script>{% endblock %}
{% endblock %}
