{% extends "_layouts/raw.html" %}

{% set title = "Knowledge Center | " + deconst.content.envelope.title %}
{% set product = deconst.content.envelope.metadata.product %}
{% set created_by = deconst.content.envelope.metadata.created_by  %}
{% set created_date = deconst.content.envelope.metadata.created_date  %}

{% set siteUrl = deconst.url.getSiteUrl(deconst.context, deconst.context.request.path) %}
{% set cssUrl = deconst.assets.assets_support_rackspace_com_dist_css_main_css %}
{% set jsUrl = deconst.assets.assets_support_rackspace_com_dist_js_site_min_js %}

{% set headlineTag = headlineTag if headlineTag else 'h2' %}

{% block body %}
  <div id="rax-header"></div>

  <div id="main-content">
    {% block bodyContent %}{% endblock %}
  </div>

  <div id="rax-footer"></div>

  <script type="text/javascript">
    injectTemplate("howto", "#rax-header", "#rax-footer", "#main-content");
  </script>
  {% block footerScripts %}{% endblock %}
{% endblock %}
