<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}
        <article>
            <div class="container">
                <div class="row content home">
                    <h2>Browse Our Documentation</h2>
                    <div class="filter-product-type">
                        <ul>
                            <li>
                                <a id="cloud-ctrl" class="active">Cloud Hosting</a>
                            </li>
                            <li>
                                <a id="office-ctrl" class="inactive">Cloud Office</a>
                            </li>
                            <li>
                                <a id="get-start-ctrl" class="inactive">Core User Guide</a>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row content home" id="cloud-display">
                    <div class="product-type-cloud">
                        
                        <h4>Compute</h4>
                        <div class="product-wrap twelve columns">
                            <div class="three columns icon servers primary">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Servers
                                    </a>
                                </h3>
                            </div>
                            <div class="three columns icon sites">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Sites
                                    </a>
                                </h3>
                            </div>
                            <div class="three columns icon images">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        images
                                    </a>
                                </h3>
                            </div>
                            <div class="three columns icon vmware">
                                <h3>
                                    <a href="#">
                                        <span>Managed</span>
                                        Vmware Services
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <h4>Network</h4>
                        <div class="product-wrap twelve columns">
                            <div class="primary three columns icon load-balancers">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Load Balancers
                                    </a>
                                </h3>
                            </div>
                            <div class="nine columns icon rackconnect">
                                <h3>
                                    <a href="#">
                                        <span>Rackspace</span>
                                        Rackconnect
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <h4>Storage</h4>
                        <div class="product-wrap twelve columns">
                            <div class="primary three columns icon files">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Files
                                    </a>
                                </h3>
                            </div>
                            <div class="three columns icon block-storage">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Block Storage
                                    </a>
                                </h3>
                            </div>
                            <div class="six columns icon cdn">
                                <h3>
                                    <a href="#">
                                        <span>Rackspace</span>
                                        CDN
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <h4>Data</h4>
                        <div class="product-wrap twelve columns">
                            <div class="primary three columns icon databases">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Databases
                                    </a>
                                </h3>
                            </div>
                            <div class="nine columns icon big-data">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Big Data
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <h4>Infrastructure & Developer Tools</h4>
                        <div class="product-wrap twelve columns">    
                            <div class="three columns icon primary backup">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Backup
                                    </a>
                                </h3>
                            </div>
                            <div class="three columns icon monitoring">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Monitoring
                                    </a>
                                </h3>
                            </div>
                            <div class="three columns icon orchestration">
                                <h3>
                                    <a href="#">
                                        <span>Cloud</span>
                                        Orchestration
                                    </a>
                                </h3>
                            </div>
                            <div class="three columns icon auto-scale">
                                <h3>
                                    <a href="#">
                                        <span>Rackspcae</span>
                                        Auto Scale
                                    </a>
                                </h3>
                            </div>
                            <div class="twleve primary columns icon intelligence">
                                <h3>
                                    <a href="#">
                                        <span>Rackspace</span>
                                        Intelligence
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <h4>Rackspace Private Cloud</h4>
                        <div class="product-wrap twelve columns">
                             <div class="four columns primary icon private">
                                    <h3>
                                        <a href="#">
                                            <span>Rackspace Private Cloud</span>
                                            Powered by Microsoft Cloud Platform
                                        </a>
                                    </h3>
                            </div>
                            <div class="five columns icon private">
                                    <h3>
                                        <a href="#">
                                            <span>Rackspace Private Cloud</span>
                                            Powered by OpenStack
                                        </a>
                                    </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row content home inactive" id="office-display">
                    <div class="product-type-email">
                        <div class="three columns icon email">
                            <h3>
                                <a href="#">
                                    <span>Rackspace</span>
                                    Email
                                </a>
                            </h3>
                        </div>
                        <div class="three columns icon skype">
                            <h3>
                                <a href="#">
                                    <span>Microsoft</span>
                                    Skype for Business
                                </a>
                            </h3>
                        </div>
                        <div class="three columns icon exchange">
                            <h3>
                                <a href="#">
                                    <span>Microsoft</span>
                                    Exchange
                                </a>
                            </h3>
                        </div>
                        <div class="three columns icon sharepoint">
                            <h3>
                                <a href="#">
                                    <span>Microsoft</span>
                                    Sharepoint
                                </a>
                            </h3>
                        </div>
                        <div class="ten columns offset-by-one email-wizard">
                            <h4>Email Setup Wizard</h4>
                            <p>Setup your email client with just a few easy steps using our Email Setup Wizard!</p>
                            <aside class="cta">
                                <p class="button">
                                    <a href="#" id="email-button" class="banner-button">Get Started</a>
                                </p>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row content home inactive" id="get-start-display">
                    <div id="inf-guide-callout">
                        <h4>Read the Cloud Infrastructure User Guide</h4>
                        <p>Discover the services at the heart of the Rackspace cloud: Servers, Networks, Images, Storage, Files. Understand how they work together to help you perform the tasks essential to your business. Learn how to interact with these core services and how the Rackspace cloud gives you a new way to get your work done.</p>
                        <aside class="cta">
                            <p class="button">
                                 <a href="#" class="banner-button">Read the User Guide</a>
                            </p>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row content home inactive" id="sdks-display">
                    <div class="product-type-sdks">
                        <div class="six columns primary">
                            <p>Speed up development by leveraging an SDK with the language of your choice. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a href="#">Link to documentation goes here</a>
                        </div>
                        <div class="six columns">
                            <ul id="sdk-list">
                                <a href="#"><li><i class="icon-java-bold"></i>Java</li></a>
                                <a href="#"><li><i class="icon-nodejs"></i>Node</li></a>
                                <a href="#"><li><i class="icon-looking"></i>Go</li></a>
                                <a href="#"><li><i class="icon-shell"></i>CLI</li></a>
                                <a href="#"><li><i class="icon-ruby"></i>Ruby</li></a>
                                <a href="#"><li><i class="icon-python"></i>Python</li></a>
                                <a href="#"><li><i class="icon-mobile-device"></i>.Net</li></a>
                                <a href="#"><li><i class="icon-php"></i>php</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="river">
                <div class="container">
                    <div class="row content home contact">
                        <h2>Contact Support</h2>
                        <div class="one-half column">
                            <h3><span>Cloud Hosting</span>1-800-961-4454   Intl.: +1-210-581-0407</h3>
                            <h3><span>Dedicated Managed Hosting</span>1-800-961-4454   Intl.: +1-210-312-4600</h3>
                        </div>
                        <div class="one-half column">
                            <h3><span>Cloud Office</span>1-800-961-4454   Intl.: +1-210-312-4600</h3>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
        <a class="" href=""></a>
        
        {% include footer.html %}
    </body>
</html>