<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}
        <article>
            <div class="container">
                <div class="row">
                    <div class="three columns sidebar">
                        
                        <h3>Areas of Interest</h3>
                        <ul class="area">
                            <li><a href="{{ '../getting-started'  | prepend: site.baseurl }}">Getting Started</a></li>
                            <li><a href="{{ '../faq'  | prepend: site.baseurl }}">FAQs</a></li>
                        </ul>
                        
                        <hr />
                        <h3>Developer Documentation</h3>                        
                        <ul>
                            <li><a href="">Release Notes</a></li>
                            <li><a href="">Product Quick Start</a></li>
                            <li><a href="">SDK Quick Start</a></li>
                            <li><a href="">Developer Guide</a></li>
                            <li><a href="">API Reference</a></li>
                        </ul>
                        
                        <h3>Have Feedback?</h3>
                        <p>We love customer feedback. Help us improve our products and service by <a href="">leaving yours</a>.</p>                        
                    </div>
                    <div class="nine columns content article-list">
                        <ul class="breadcrumbs">
                            <li><a href="{{ '../home'  | prepend: site.baseurl }}">Knowledge Center</a></li>
                            <li>Cloud Servers</li>
                        </ul>
                        
                        <h2>{{ page.title }}</h2>
                                                
                        {{ content }}
                        
                        <h4><a href="#">Cloud Servers with Managed Operations support for Linux</a></h4>
                        <ul class="meta">
                            <li>By: <a href="">Rackspace Support</a></li>
                            <li>On: Dec 3, 2015</li>
 <!--                           <li>
                                <dl>
                                    <dt>Tags:</dt>
                                    <dd><a href="">Tags go here</a></dd>
                                    <dd><a href="">Try to keep</a></dd>
                                    <dd><a href="">Three tags max</a></dd>
                                </dl>
                            </li> -->
                        </ul>
                        
                        <h4><a href="#">ObjectRocket for Redis</a></h4>
                        <ul class="meta">
                            <li>By: <a href="">Rackspace Support</a></li>
                            <li>On: Dec 3, 2015</li>
 <!--                             <li>
                                <dl>
                                    <dt>Tags:</dt>
                                    <dd><a href="">Apache</a></dd>
                                    <dd><a href="">High Availability</a></dd>
                                </dl>
                            </li> -->
                        </ul>
                        
                        <h4><a href="#">Creating a CentOS 6.5 image for the Rackspace open cloud</a></h4>
                        <ul class="meta">
                            <li>By: <a href="">Rackspace Support</a></li>
                            <li>On: Dec 3, 2015</li>
 <!--                             <li>
                                <dl>
                                    <dt>Tags:</dt>
                                    <dd><a href="">Apache</a></dd>
                                    <dd><a href="">High Availability</a></dd>
                                </dl>
                            </li> -->
                        </ul>
                        
                        <h4><a href="#">Preparing an image for import into the Rackspace OpenCloud</a></h4>
                        <ul class="meta">
                            <li>By: <a href="">Rackspace Support</a></li>
                            <li>On: Dec 3, 2015</li>
    <!--                          <li>
                                <dl>
                                    <dt>Tags:</dt>
                                    <dd><a href="">Apache</a></dd>
                                    <dd><a href="">High Availability</a></dd>
                                </dl>
                            </li> -->
                        </ul>
                        
                        <h4><a href="#">Choosing a virtualization mode (PV versus PVHVM)</a></h4>
                        <ul class="meta">
                            <li>By: <a href="">Rackspace Support</a></li>
                            <li>On: Dec 3, 2015</li>
 <!--                             <li>
                                <dl>
                                    <dt>Tags:</dt>
                                    <dd><a href="">Apache</a></dd>
                                    <dd><a href="">High Availability</a></dd>
                                </dl>
                            </li> -->
                        </ul>
                        
                        <h4><a href="#">New features in General Purpose and work-optimized Cloud Servers</a></h4>
                        <ul class="meta">
                            <li>By: <a href="">Rackspace Support</a></li>
                            <li>On: Dec 3, 2015</li>
<!--                              <li>
                                <dl>
                                    <dt>Tags:</dt>
                                    <dd><a href="">Apache</a></dd>
                                    <dd><a href="">High Availability</a></dd>
                                </dl>
                            </li> -->
                        </ul>
                        
                        <ul class="pagination">
                            <li><a href="" class="active">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="">6</a></li>
                            <li><a href="">7</a></li>
                            <li><a href="">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        
        <a class="" href=""></a>
        
        {% include footer.html %}
    </body>
</html>