<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="9VicGSui2u8w9ndu-B2blKwq6OQbcBC6_7xi-Ng4GTU" />

        <title>{{ title }}</title>
        {% if excerpt %}<meta name="description" content="{{ excerpt | striptags | truncate(160) }}" />{% endif %}
        {% if deconst.content.envelope.meta.noindex == true %}<meta name="robots" content="noindex">{% endif %}

        <link rel="canonical" href="{{ siteUrl }}">
        <link rel="stylesheet" href="{{ cssUrl }}">
        {% include "_includes/gtm-script.html" %}
        <script src="{{ deconst.assets.assets_support_rackspace_com_dist_js_raxheaderservice_min_js }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% endblock %}
</head>
<body>
  {% include "_includes/gtm-noscript.html" %}
  {% block body %}{% endblock %}
</body>
</html>
