{% extends "_layouts/sidebar-right.html" %}

{% set metaDescription = deconst.content.envelope.meta.metaDescription %}
{% set metaTitle = deconst.content.envelope.meta.metaTitle %}
{% set ogDescription = deconst.content.envelope.meta.ogDescription %}
{% set ogImage = deconst.content.envelope.meta.ogImage %}
{% set ogTitle = deconst.content.envelope.meta.ogTitle %}
{% set twitterCreator = deconst.content.envelope.meta.twitterCreator %}
{% set twitterDescription = deconst.content.envelope.meta.twitterDescription %}
{% set twitterTitle = deconst.content.envelope.meta.twitterTitle %}

{% block metaDescription %}{{ metaDescription|fallback(deconst.content.envelope.body, super())|striptags|truncate(160) }}{% endblock %}
{% block metaTitle %}{{ metaTitle|fallback(deconst.content.envelope.title, super())}}{% endblock %}
{% block ogDescription %}{{ ogDescription|fallback(metaDescription, deconst.content.envelope.body, super())|striptags|truncate(160) }}{% endblock %}
{% block ogTitle %}{{ ogTitle|fallback(metaTitle, deconst.content.envelope.title, super()) }}{% endblock %}
{% block ogImage %}{{ ogImage|fallback(super()) }}{% endblock %}
{% block twitterCreator %}{{ twitterCreator|fallback(super()) }}{% endblock %}
{% block twitterDescription %}{{ twitterDescription|fallback(ogDescription, metaDescription, deconst.content.envelope.body, super())|striptags|truncate(160) }}{% endblock %}
{% block twitterTitle %}{{ twitterTitle|fallback(ogTitle, metaTitle, super()) }}{% endblock %}

{% set headline = 'Technical Blog' %}
{% set tagline = 'Technical and Product News and Insights from Rackspace' %}

{% block bodyClass %}blog{% endblock %}

{% block content %}
    {% set post = deconst.content.envelope %}
    <section class="blog-post single" data-ng-non-bindable>
        <div>
            <h1 class="post-title">{{ post.title }}</h1>
            <div class="post-info">
                <div class="post-avatar{% if post.meta.authorIsRacker %} racker{% endif %}">
                    {% if post.meta.authorAvatar %}
                        <img src="{{ post.meta.authorAvatar }}" alt="{{ post.author }}">
                    {% else %}
                        <img src="{{ deconst.content.assets.assets_dist_img_avatar_default_svg }}" alt="Placeholder Avatar">
                    {% endif %}
                </div>
                <div class="post-byline"><a href="/blog/authors/{{ post.author|lower|replace(' ', '-') }}" class="post-author">{{ post.author }}</a> | <time datetime="{{ post.meta.date|date('YYYY-MM-DD') }}">{{ post.meta.date|date('MMMM D, YYYY') }}</time></div>

                {% if post.categories.length > 0 %}
                <ul class="post-categories">
                    {% for category in post.categories %}
                        <li><a href="/blog/categories/{{ category|replace(' ', '-') }}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {{ post.body }}
            {% if post.bio %}
            <div class="author-bio">
                <div class="avatar racker">
                    {% if post.meta.authorAvatar %}
                        <img src="{{ post.meta.authorAvatar }}" alt="{{ post.author }}">
                    {% else %}
                        <img src="https://randomuser.me/api/portraits/lego/1.jpg" alt="Placeholder Avatar">
                    {% endif %}
                </div>
                <div class="author-info">
                    <span class="name">{{ post.author }}</span>
                    <div class="bio">{{ post.bio }}</div>
                </div>
            </div>
            {% endif %}
            {% include "_includes/share-bar.html" %}
        </div>
    </section>
{% endblock %}
{% block sidebar %}
    <div class="blog-sidebar" data-ng-controller="BlogSidebarCtrl">
        {% include "_includes/blog-popular-posts.html" %}
        {#<section class="related-posts">
            <h5>Related Reading</h5>
            <div class="post">
                <a href="" class="title">Built an App on OpenStack at QCon NY 2015</a>
                <div class="preview">Last week I went to QCon NY 2015 to be both a student and a teacher in their tutorial track&hellip;</div>
                <a href="" class="read-more">Read More</a>
            </div>
            <div class="post">
                <a href="" class="title">Built an App on OpenStack at QCon NY 2015</a>
                <div class="preview">Last week I went to QCon NY 2015 to be both a student and a teacher in their tutorial track&hellip;</div>
                <a href="" class="read-more">Read More</a>
            </div>
            <div class="post">
                <a href="" class="title">Built an App on OpenStack at QCon NY 2015</a>
                <div class="preview">Last week I went to QCon NY 2015 to be both a student and a teacher in their tutorial track&hellip;</div>
                <a href="" class="read-more">Read More</a>
            </div>
        </section>#}
        {% include "_includes/blog-popular-categories.html" %}
    </div>
{% endblock %}
