{% extends "_layouts/base.html" %}

{% block metaTitle %}{{ deconst.content.envelope.title }} | {{ super() }}{% endblock %}
{% block ogTitle %}{{ deconst.content.envelope.title }} | {{ super() }}{% endblock %}
{% block metaDescription %}{{ deconst.content.envelope.metaDescription if deconst.content.envelope.metaDescription else super() }}{% endblock %}
{% block ogDescription %}{{ deconst.content.envelope.ogDescription if deconst.content.envelope.ogDescription else super() }}{% endblock %}
{% block ogImage %}{{ deconst.content.envelope.ogImage if deconst.content.envelope.ogImage else super() }}{% endblock %}

{% block content %}
    <div class="title-header">
      <div class="inner">
        <span class="headline">Developer Blog</span>
      </div>
    </div>
    <div class="container body-container">
      <div class="row">
        <div class="col-md-9 col-md-push-3 blog-post bodycontent">
            {{ deconst.content.envelope.body }}
        </div>
        <div class="col-md-3 col-md-pull-9 sidebar">
          {% include "_includes/sidebar.html" %}
          {% include "_includes/sidebar-footer.html" %}
        </div>
      </div>
    </div>

{% endblock %}
