{% extends "_layouts/base.html" %}

{% block metaTitle %}Data and Database Technologies | {{ super() }}{% endblock %}
{% block ogTitle %}{{ deconst.content.envelope.title }} | {{ super() }}{% endblock %}
{% block metaDescription %}{{ deconst.content.envelope.metaDescription if deconst.content.envelope.metaDescription else super() }}{% endblock %}
{% block ogDescription %}{{ deconst.content.envelope.ogDescription if deconst.content.envelope.ogDescription else super() }}{% endblock %}
{% block ogImage %}{{ deconst.content.envelope.ogImage if deconst.content.envelope.ogImage else super() }}{% endblock %}

{% block content %}
    <div class="title-header">
      <div class="inner">
        <span class="headline">Data and Database Technologies</span>
      </div>
    </div>

    <div class="container body-container">
      {{ deconst.content.envelope.body }}
    </div>
{% endblock %}
