{% extends "_layouts/sidebar-left.html" %}

{% set metaDescription = deconst.content.envelope.title + " - Rackspace Developer Portal" %}
{% set metaTitle = deconst.content.envelope.title + " - Rackspace Developer Portal" %}
{% set ogDescription = deconst.content.envelope.meta.ogDescription %}
{% set ogImage = deconst.content.envelope.meta.ogImage %}
{% set ogTitle = deconst.content.envelope.meta.ogTitle %}
{% set twitterCreator = deconst.content.envelope.meta.twitterCreator %}
{% set twitterDescription = deconst.content.envelope.meta.twitterDescription %}
{% set twitterTitle = deconst.content.envelope.meta.twitterTitle %}

{% block metaDescription %}{{ metaDescription|fallback(super()) }}{% endblock %}
{% block metaTitle %}{{ metaTitle|fallback(super()) }}{% endblock %}
{% block ogDescription %}{{ ogDescription|fallback(metaDescription, super()) }}{% endblock %}
{% block ogTitle %}{{ ogTitle|fallback(metaTitle, super()) }}{% endblock %}
{% block ogImage %}{{ ogImage|fallback(super()) }}{% endblock %}
{% block twitterCreator %}{{ twitterCreator|fallback(super()) }}{% endblock %}
{% block twitterDescription %}{{ twitterDescription|fallback(ogDescription, metaDescription, super()) }}{% endblock %}
{% block twitterTitle %}{{ twitterTitle|fallback(ogTitle, metaTitle, super()) }}{% endblock %}

{% block bodyClass %}docs active-language-override{% endblock %}

{% set headlineTag = 'h1' %}
{% set headline = 'Developer Docs' %}
{% set tagline = 'Let’s Build Something Powerful Together!' %}

{% block sidebar %}
    <div class="sidebar-container" data-drc-sticky data-offset-top="321" data-drc-flex-height data-flex-bottom="443" data-drc-scroll-indicator data-use-attribute="id" data-drc-collapsible-nav>
        {% if deconst.content.envelope.meta.github_issues_url or deconst.content.envelope.meta.github_edit_url %}
          {% if deconst.content.envelope.meta.preferGithubIssues %}
            {% set githubLinkUrl = deconst.content.envelope.meta.github_issues_url %}
            {% set githubLinkText = 'Submit an issue' %}
          {% else %}
            {% set githubLinkUrl = deconst.content.envelope.meta.github_edit_url %}
            {% set githubLinkText = 'Edit on GitHub' %}
          {% endif %}
          <a href="{{ githubLinkUrl }}" target="_blank" class="github-link">
            <span class="icon fa fa-github"></span>
            <span class="link-text">{{ githubLinkText }}</span>
          </a>
        {% endif %}
        {{ deconst.content.envelope.toc }}
    </div>
{% endblock %}

{% block content %}
    <section class="docs-section" data-ng-non-bindable>
      {{ deconst.content.envelope.body }}
    </section>

    <!-- share bar -->
    <section>
      <div id="share-page" itemprop="bar">
      {% include "_includes/share-bar.html" %}
      </div>
    </section>
{% endblock %}
