{% extends "_layouts/base.html" %}

{% block metaTitle %}{{ deconst.content.envelope.title }} | {{ super() }}{% endblock %}
{% block ogTitle %}{{ deconst.content.envelope.title }} | {{ super() }}{% endblock %}
{% block metaDescription %}{{ deconst.content.envelope.metaDescription if deconst.content.envelope.metaDescription else super() }}{% endblock %}
{% block ogDescription %}{{ deconst.content.envelope.ogDescription if deconst.content.envelope.ogDescription else super() }}{% endblock %}
{% block ogImage %}{{ deconst.content.envelope.ogImage if deconst.content.envelope.ogImage else super() }}{% endblock %}

{% block content %}
<div class="title-header">
  <div class="inner">
    <span class="headline">{{ deconst.content.envelope.title }}</span>
  </div>
</div>
<div class="language-bar">
  <div class="container">
   <div class="row">
     <div class="col-md-9 col-md-offset-3">
       <ul class="language-list">
         <li class="prefix">I'm Coding In:</li>
         <li data-class="highlight-go" data-query="go" data-ga-click="event" data-category="interaction" data-action="click" data-label="language-button-go" class="lang-btn">Go</li>
         <li data-class="highlight-java" data-query="java" data-ga-click="event" data-category="interaction" data-action="click" data-label="language-button-java" class="lang-btn">Java</li>
         <li data-class="highlight-csharp" data-query=".net" data-ga-click="event" data-category="interaction" data-action="click" data-label="language-button-net" class="lang-btn">.Net</li>
         <li data-class="highlight-javascript" data-query="node.js" data-ga-click="event" data-category="interaction" data-action="click" data-label="language-button-node" class="lang-btn">Node.js</li>
         <li data-class="highlight-php" data-query="php" data-ga-click="event" data-category="interaction" data-action="click" data-label="language-button-php" class="lang-btn">PHP</li>
         <li data-class="highlight-python" data-query="python" data-ga-click="event" data-category="interaction" data-action="click" data-label="language-button-python" class="lang-btn">Python</li>
         <li data-class="highlight-ruby" data-query="ruby" data-ga-click="event" data-category="interaction" data-action="click" data-label="language-button-ruby" class="lang-btn">Ruby</li>
         <li data-class="highlight-sh" data-query="shell" data-ga-click="event" data-category="interaction" data-action="click" data-label="language-button-shell" class="lang-btn">Shell</li>
       </ul>
     </div>
   </div>
  </div>
</div>
<div class="container body-container">
  <div class="row">
    <div class="col-md-9 col-md-push-3 docs-content bodycontent">
      {{ deconst.content.envelope.body }}
    </div>
    <div class="col-md-3 col-md-pull-9 sidebar">
        {% include "_includes/docs-sidebar.html" %}
        {% include "_includes/sidebar-footer.html" %}
    </div>
  </div>
</div>
{% endblock %}
