{% extends "_layouts/base.html" %}

{% block metaTitle %}{{ ['Search', super()]|join(' - ') }}{% endblock %}
{% block bodyClass %}search{% endblock %}

{% set headlineTag = 'h2' %}
{% set headlineAccent = 'Rackspace' %}
{% set headline = 'Developer Center' %}

{% block bodyContent %}
  <div class="search-container">
    <div class="search-input">
      <div data-drc-search-box data-load-initial="1" data-focus="1"></div>
    </div>
    <div class="search-results">

    </div>
  </div>
{% endblock %}
