{% extends "_layouts/sidebar-left.html" %}

{% set bodyClass = "docs-samples" %}
{% set headline = 'Developer Documentation' %}
{% set tagline = 'Let’s Build Something Powerful Together!' %}
{% set stickyNavOffsetTop = 332 %}

{% block sidebar %}
<div class="sidebar-container" data-drc-sticky data-offset-top="{{ stickyNavOffsetTop }}" data-drc-flex-height data-flex-bottom="412">
<a href="https://github.com/rackerlabs/docs-quickstart/edit/master/cloud-servers/getting-started/index.rst" target="_blank" class="github-link"><span class="icon fa fa-github"></span>Edit On Github</a>
<ul>
    <li data-drc-scroll-indicator="list-servers">
        <a href="#list-servers">List Servers</a>
        <ul>
            <li data-drc-scroll-indicator="list-api-request"><a href="#list-api-request">API Request</a></li>
            <li data-drc-scroll-indicator="list-api-response"><a href="#list-api-response">API Response</a></li>
        </ul>
    </li>
    <li data-drc-scroll-indicator="create-server">
        <a href="#create-server">Create a Server</a>
        <ul>
            <li data-drc-scroll-indicator="create-api-request"><a href="#create-api-request">API Request</a></li>
            <li data-drc-scroll-indicator="create-api-response"><a href="#create-api-response">API Response</a></li>
            <li data-drc-scroll-indicator="create-checking-progress"><a href="#create-checking-progress">Checking Progress</a></li>
            <li data-drc-scroll-indicator="create-more-information"><a href="#create-more-information">More Information</a></li>
        </ul>
    </li>
    <li data-drc-scroll-indicator="update-server">
        <a href="#update-server">Update a Server</a>
        <ul>
            <li data-drc-scroll-indicator="update-api-request"><a href="#update-api-request">API Request</a></li>
            <li data-drc-scroll-indicator="update-api-response"><a href="#update-api-response">API Response</a></li>
        </ul>
    </li>
    <li data-drc-scroll-indicator="delete-server">
        <a href="#delete-server">Delete a Server</a>
        <ul>
            <li data-drc-scroll-indicator="delete-api-request"><a href="#delete-api-request">API Request</a></li>
            <li data-drc-scroll-indicator="delete-api-response"><a href="#delete-api-response">API Response</a></li>
        </ul>
    </li>
</ul>
</div>
{% endblock %}
{% block content %}
<ul class="language-selector" data-drc-sticky data-offset-top="322.5">
    <li><a href="" data-drc-language-selector="cli"><span>CLI</span></a></li>
    <li><a href="" data-drc-language-selector="curl"><span>cURL</span></a></li>
    <li><a href="" data-drc-language-selector="go"><span>Go</span></a></li>
    <li><a href="" data-drc-language-selector="java"><span>Java</span></a></li>
    <li><a href="" data-drc-language-selector="cs"><span>.NET</span></a></li>
    <li><a href="" data-drc-language-selector="node"><span>Node.js</span></a></li>
    <li><a href="" data-drc-language-selector="php"><span>PHP</span></a></li>
    <li><a href="" data-drc-language-selector="python"><span>Python</span></a></li>
    <li><a href="" data-drc-language-selector="ruby"><span>Ruby</span></a></li>
</ul>
<header class="docs-section docs-intro">
    <div class="description">
        <h1>Cloud Servers</h1>
        <div class="revision-date">Revised On: <time datetime="2015-06-05">6/5/15</time></div>
        <ul class="tags">
            <li><a href="">Tag One</a></li>
            <li><a href="">Tag Two</a></li>
            <li><a href="">Tag Three</a></li>
        </ul>
        <div class="contents-summary">
            <h5>Contents</h5>
            <ul>
                <li><a href="#overview">List Servers</a></li>
                <li><a href="#overview">Create a Server</a></li>
                <li><a href="#overview">Update a Server</a></li>
                <li><a href="#overview">Delete a Server</a></li>
            </ul>
        </div>
    </div>
</header>
<section class="docs-section">
    <div class="description">
        <h2 id="list-servers" data-drc-scroll-milestone="list-servers">
            List Servers
            <a href="#list-servers" class="headerlink">#</a>
        </h2>
        <p>You can list the servers in a particular region in summary form, with only the name and ID returned, or in detailed form, with all available fields returned.</p>

    </div>
    <div class="code"></div>
</section>
<section class="docs-section">
    <div class="description">
        <h3 id="list-api-request" data-drc-scroll-milestone="list-api-request">
            API Request
            <a href="#list-api-request" class="headerlink">#</a>
        </h3>
        <p>To retrieve a summary list of servers in a particular region, send a <code>GET</code> HTTP request to <code>/v2/{tenantId}/servers</code>, replacing <code>{tenantId}</code> with your <a href="">tenant ID</a>.</p>
        <p>To retrieve a detailed list of servers in a particular region, send a <code>GET</code> HTTP request to <code>/v2/{tenantId}/servers/detail</code>, replacing <code>{tenantId}</code> with your <a href="">tenant ID</a>.</p>
        <p>Various filters may be applied to either the summary or detailed lists by appending any of the following query string parameters to the request:</p>

        <table>
            <caption>Filter Parameters</caption>
            <thead>
                <tr>
                    <th>Parameter Key</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>image</code></td>
                    <td>Only list servers with this image ID. For a list of images, see <a href="">Section 2.7.1, “List Images”</a>.</td>
                </tr>
                <tr>
                    <td><code>flavor</code></td>
                    <td>Only list servers with this flavor ID. For a list of flavors, see <a href="">Section 2.6.1, “List Flavors”</a>.</td>
                </tr>
                <tr>
                    <td><code>name</code></td>
                    <td>Only list servers with this name.</td>
                </tr>
                <tr>
                    <td><code>status</code></td>
                    <td>Only list servers with this status. See <a href="">Server Status Values</a>.</td>
                </tr>
                <tr>
                    <td><code>marker</code></td>
                    <td>The ID of the last item in the previous page of entries. See <a href="">Section 1.6, “Paginated Collections”</a>.</td>
                </tr>
                <tr>
                    <td><code>limit</code></td>
                    <td>The number of servers to show in a single page.</td>
                </tr>
                <tr>
                    <td><code>changes-since</code></td>
                    <td>Only show servers that have changed since this date/time. See <a href="">Section 1.7, “Efficient Polling with the <code>Changes-Since</code> Parameter”</a>.</td>
                </tr>
                <tr>
                    <td><code>RAX-SI:image_schedule</code></td>
                    <td>Whether scheduled images are enabled or not. If the value is the boolean keyword <code>TRUE</code>, the list contains all servers that have an image schedule resource set on them. If the value is the boolean keyword <code>FALSE</code>, the list contains all servers that do not have an image schedule. (This URI parameter is added by the Rackspace Scheduled Images API Extension. See <a href="">Section 3.5, “Scheduled Images Extension”</a>).</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="code">
        <h3>
            API Request
        </h3>
        <h5>Request Headers: Summary</h5>
        <div class="highlight"><pre>
GET /v2/123456/servers
X-Auth-Token: your_auth_token
Accept: application/json
        </pre></div>
        <h5>Request Headers: Detail</h5>
        <div class="highlight"><pre>
GET /v2/123456/servers/detail
X-Auth-Token: your_auth_token
Accept: application/json
        </pre></div>
        <h5>Request Headers: with Filters</h5>
        <div class="highlight"><pre>
GET /v2/123456/servers/detail?status=SUSPENDED
X-Auth-Token: your_auth_token
Accept: application/json
        </pre></div>
    </div>
</section>
<section class="docs-section">
    <div class="description">
        <h3 data-drc-scroll-milestone="list-api-response" id="list-api-response">
            API Response
            <a href="#list-api-response" class="headerlink">#</a>
        </h3>
        <p>The API will respond with a JSON document that has a single property named <code>servers</code>. This property will contain an array of objects, each of which represents a single server.</p>
    </div>
    <div class="code">
        <h3>API Response
        </h3>
        <div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;servers&quot;</span><span class="p">:</span> <span class="p">[</span>
        <span class="p">{</span>
            <span class="nt">&quot;status&quot;</span><span class="p">:</span> <span class="s2">&quot;ACTIVE&quot;</span><span class="p">,</span>
            <span class="nt">&quot;updated&quot;</span><span class="p">:</span> <span class="s2">&quot;2015-07-17T13:54:56Z&quot;</span><span class="p">,</span>
            <span class="nt">&quot;hostId&quot;</span><span class="p">:</span> <span class="s2">&quot;0b192345b527aa1d97ea4e989aeeff8582fd404e9c50f65b97a32834&quot;</span><span class="p">,</span>
            <span class="nt">&quot;addresses&quot;</span><span class="p">:</span> <span class="p">{</span>
                <span class="nt">&quot;public&quot;</span><span class="p">:</span> <span class="p">[</span>
                    <span class="p">{</span>
                        <span class="nt">&quot;version&quot;</span><span class="p">:</span> <span class="mi">4</span><span class="p">,</span>
                        <span class="nt">&quot;addr&quot;</span><span class="p">:</span> <span class="s2">&quot;64.49.226.119&quot;</span>
                    <span class="p">},</span>
                    <span class="p">{</span>
                        <span class="nt">&quot;version&quot;</span><span class="p">:</span> <span class="mi">6</span><span class="p">,</span>
                        <span class="nt">&quot;addr&quot;</span><span class="p">:</span> <span class="s2">&quot;2001:4800:7810:512:be76:4eff:fe04:f021&quot;</span>
                    <span class="p">}</span>
                <span class="p">],</span>
                <span class="nt">&quot;private&quot;</span><span class="p">:</span> <span class="p">[</span>
                    <span class="p">{</span>
                        <span class="nt">&quot;version&quot;</span><span class="p">:</span> <span class="mi">4</span><span class="p">,</span>
                        <span class="nt">&quot;addr&quot;</span><span class="p">:</span> <span class="s2">&quot;10.181.1.71&quot;</span>
                    <span class="p">}</span>
                <span class="p">]</span>
            <span class="p">},</span>
            <span class="nt">&quot;links&quot;</span><span class="p">:</span> <span class="p">[</span>
                <span class="p">{</span>
                    <span class="nt">&quot;href&quot;</span><span class="p">:</span> <span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/v2/123456/servers/39e6d789-52be-448a-b949-9b6f4b5865e2&quot;</span><span class="p">,</span>
                    <span class="nt">&quot;rel&quot;</span><span class="p">:</span> <span class="s2">&quot;self&quot;</span>
                <span class="p">},</span>
                <span class="p">{</span>
                    <span class="nt">&quot;href&quot;</span><span class="p">:</span> <span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/123456/servers/39e6d789-52be-448a-b949-9b6f4b5865e2&quot;</span><span class="p">,</span>
                    <span class="nt">&quot;rel&quot;</span><span class="p">:</span> <span class="s2">&quot;bookmark&quot;</span>
                <span class="p">}</span>
            <span class="p">],</span>
            <span class="nt">&quot;key_name&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&quot;image&quot;</span><span class="p">:</span> <span class="p">{</span>
                <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;3afe97b2-26dc-49c5-a2cc-a2fc8d80c001&quot;</span><span class="p">,</span>
                <span class="nt">&quot;links&quot;</span><span class="p">:</span> <span class="p">[</span>
                    <span class="p">{</span>
                        <span class="nt">&quot;href&quot;</span><span class="p">:</span> <span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/123456/images/3afe97b2-26dc-49c5-a2cc-a2fc8d80c001&quot;</span><span class="p">,</span>
                        <span class="nt">&quot;rel&quot;</span><span class="p">:</span> <span class="s2">&quot;bookmark&quot;</span>
                    <span class="p">}</span>
                <span class="p">]</span>
            <span class="p">},</span>
            <span class="nt">&quot;RAX-PUBLIC-IP-ZONE-ID:publicIPZoneId&quot;</span><span class="p">:</span> <span class="s2">&quot;695c1e46fe17571fe18fe724680b1ee21ecc3c9846561e7b00755941&quot;</span><span class="p">,</span>
            <span class="nt">&quot;OS-EXT-STS:task_state&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
            <span class="nt">&quot;OS-EXT-STS:vm_state&quot;</span><span class="p">:</span> <span class="s2">&quot;active&quot;</span><span class="p">,</span>
            <span class="nt">&quot;flavor&quot;</span><span class="p">:</span> <span class="p">{</span>
                <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;2&quot;</span><span class="p">,</span>
                <span class="nt">&quot;links&quot;</span><span class="p">:</span> <span class="p">[</span>
                    <span class="p">{</span>
                        <span class="nt">&quot;href&quot;</span><span class="p">:</span> <span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/123456/flavors/2&quot;</span><span class="p">,</span>
                        <span class="nt">&quot;rel&quot;</span><span class="p">:</span> <span class="s2">&quot;bookmark&quot;</span>
                    <span class="p">}</span>
                <span class="p">]</span>
            <span class="p">},</span>
            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;39e6d789-52be-448a-b949-9b6f4b5865e2&quot;</span><span class="p">,</span>
            <span class="nt">&quot;user_id&quot;</span><span class="p">:</span> <span class="s2">&quot;90422bda06e645b081afa9c96d6e6eea&quot;</span><span class="p">,</span>
            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;test-server&quot;</span><span class="p">,</span>
            <span class="nt">&quot;created&quot;</span><span class="p">:</span> <span class="s2">&quot;2015-07-17T13:50:51Z&quot;</span><span class="p">,</span>
            <span class="nt">&quot;tenant_id&quot;</span><span class="p">:</span> <span class="s2">&quot;123456&quot;</span><span class="p">,</span>
            <span class="nt">&quot;OS-DCF:diskConfig&quot;</span><span class="p">:</span> <span class="s2">&quot;AUTO&quot;</span><span class="p">,</span>
            <span class="nt">&quot;accessIPv4&quot;</span><span class="p">:</span> <span class="s2">&quot;64.49.226.119&quot;</span><span class="p">,</span>
            <span class="nt">&quot;accessIPv6&quot;</span><span class="p">:</span> <span class="s2">&quot;2001:4800:7810:512:be76:4eff:fe04:f021&quot;</span><span class="p">,</span>
            <span class="nt">&quot;progress&quot;</span><span class="p">:</span> <span class="mi">100</span><span class="p">,</span>
            <span class="nt">&quot;OS-EXT-STS:power_state&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
            <span class="nt">&quot;config_drive&quot;</span><span class="p">:</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
            <span class="nt">&quot;metadata&quot;</span><span class="p">:</span> <span class="p">{}</span>
        <span class="p">}</span>
    <span class="p">]</span>
<span class="p">}</span>
</pre></div>
    </div>
</section>
<section class="docs-section">
    <div class="description">
        <p>Servers may have a variety of statuses during their lifecycle:</p>
        <table>
            <caption>Server Statuses</caption>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>ACTIVE</code></td>
                    <td>The server is active and ready to use.</td>
                </tr>
                <tr>
                    <td><code>BUILD</code></td>
                    <td>The server is being built.</td>
                </tr>
                <tr>
                    <td><code>DELETED</code></td>
                    <td>The server was deleted. The list servers API operation does not show servers with a status of DELETED. To list deleted servers, use the changes-since parameter. See Section 1.7, “Efficient Polling with the Changes-Since Parameter”.</td>
                </tr>
                <tr>
                    <td><code>ERROR</code></td>
                    <td>The requested operation failed and the server is in an error state.</td>
                </tr>
                <tr>
                    <td><code>HARD_REBOOT</code></td>
                    <td>The server is going through a hard reboot. A hard reboot power cycles your server, which performs an immediate shutdown and restart. See Section 2.4.2, “Reboot Server”.</td>
                </tr>
                <tr>
                    <td><code>MIGRATING</code></td>
                    <td>The server is being moved from one physical node to another physical node. Server migration is a Rackspace extension.</td>
                </tr>
                <tr>
                    <td><code>PASSWORD</code></td>
                    <td>The password for the server is being changed. See Section 2.4.1, “Change Administrator Password”.</td>
                </tr>
                <tr>
                    <td><code>REBOOT</code></td>
                    <td>The server is going through a soft reboot. During a soft reboot, the operating system is signaled to restart, which allows for a graceful shutdown and restart of all processes. See Section 2.4.2, “Reboot Server”.</td>
                </tr>
                <tr>
                    <td><code>REBUILD</code></td>
                    <td>The server is being rebuilt from an image. See Section 2.4.3, “Rebuild Server”.</td>
                </tr>
                <tr>
                    <td><code>RESCUE</code></td>
                    <td>The server is in rescue mode. Rescue mode is a Rackspace extension. See Section 3.3, “Rescue Mode Extension”.</td>
                </tr>
                <tr>
                    <td><code>RESIZE</code></td>
                    <td>The server is being resized and is inactive until the resize operation completes. See Section 2.4.4, “Resize Server”.</td>
                </tr>
                <tr>
                    <td><code>REVERT_RESIZE</code></td>
                    <td>A resized or migrated server is being reverted to its previous size. The destination server is being cleaned up and the original source server is restarting. For a server that was resized, see Section 2.4.4, “Resize Server”. Server migration is a Rackspace extension.</td>
                </tr>
                <tr>
                    <td><code>SUSPENDED</code></td>
                    <td>The server is inactive, either by request or necessity. Review support tickets or contact Rackspace support to determine why the server is in this state.</td>
                </tr>
                <tr>
                    <td><code>UNKNOWN</code></td>
                    <td>The server is in an unknown state. Contact Rackspace support.</td>
                </tr>
                <tr>
                    <td><code>VERIFY_RESIZE</code></td>
                    <td>The server is waiting for the resize operation to be confirmed so that the original server can be removed.</td>
                </tr>
            </tbody>
        </table>
        <table>
            <caption>Error Response Codes</caption>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>400</code></td>
                    <td>Bad Request. Typically caused by a parameter of the wrong type.</td>
                </tr>
                <tr>
                    <td><code>401</code></td>
                    <td>Unauthorized. Typically caused by an invalid authentication token or tenant ID.</td>
                </tr>
                <tr>
                    <td><code>403</code></td>
                    <td>Forbidden.</td>
                </tr>
                <tr>
                    <td><code>405</code></td>
                    <td>Method Not Allowed. Caused by sending a request with an invalid HTTP verb. For listing servers, <code>GET</code> is the only valid request type.</td>
                </tr>
                <tr>
                    <td><code>413</code></td>
                    <td>Over Limit. You have exceeded your limit for API requests of this type.</td>
                </tr>
                <tr>
                    <td><code>503</code></td>
                    <td>Service Unavailable. An internal error is is preventing the API from serving requests.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="code"></div>
</section>
<section class="docs-section">
    <div class="description">
        <h2 data-drc-scroll-milestone="create-server" id="create-server">
            Create a Server
            <a href="#create-server" class="headerlink">#</a>
        </h2>
        <p>This operation asynchronously provisions a new server. After submitting a JSON document with configuration details for the new server, the API will provide a progress URL that can be polled to monitor the server's creation status.</p>
    </div>
</section>
<section class="docs-section">
    <div class="description">
        <h3 data-drc-scroll-milestone="create-api-request" id="create-api-request">
            API Request <a href="#create-api-request" class="headerlink">#</a>
        </h3>
        <p>To create a server, send a <code>POST</code> HTTP request to <code>/v2/{tenantId}/servers</code>, where <code>{tenantId}</code> is the <a href="http://docs.rackspace.com/loadbalancers/api/v1.0/clb-getting-started/content/Generating_Auth_Token.html">tenant ID</a> for which you would like to create the server.</p>
        <p>Your request body should be a JSON document with a single object named <code>server</code>, containing several properties that will determine what kind of server you will create.</p>
        <table>
            <caption>API Request Fields</caption>
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>name</code></td>
                    <td>string</td>
                    <td>The name of your server</td>
                </tr>
                <tr>
                    <td><code>imageRef</code></td>
                    <td>string</td>
                    <td>The <code>id</code> of the image you want to use when creating your server. This is often referred to as the operating system.</td>
                </tr>
                <tr>
                    <td><code>flavorRef</code></td>
                    <td>string</td>
                    <td>The <code>id</code> of the flavor you want to use when creating your server. This is often referred to as the size of the instance.</td>
                </tr>
                <tr>
                    <td>
                <code>key_name</code><br><em>optional</em>
                </td>
                    <td>string</td>
                    <td>The <code>name</code> of the SSH Key to use when creating your server. The <code>name</code> must already exist. See <a href="" rel="noreferrer">creating SSH keys</a> for more information.<br><code>key_name</code> is <strong>required</strong> if the <code>flavorRef</code> is an OnMetal flavor.<br><br>
                </td>
                </tr>
                <tr>
                    <td>
                <code>metadata</code><br><em>optional</em>
                </td>
                    <td>object</td>
                    <td>Key/Value pairs for metadata to attach to your server.</td>
                </tr>
                <tr>
                    <td>
                <code>networks</code><br><em>optional</em>
                </td>
                    <td>array</td>
                    <td>One or more <code>object</code> with the key <code>uuid</code> and value of the network <code>id</code> to attach to this instance. See <a href="" rel="noreferrer">using networks when creating a server</a> for more information.</td>
                </tr>
                <tr>
                    <td>
                <code>personality</code><br><em>optional</em>
                </td>
                    <td>array</td>
                    <td>One or more <code>object</code> with the <code>path</code> of the file to create and <code>contents</code> (Base64 encoded) of the file contents. See <a href="" rel="noreferrer">using personality when creating a server</a> for more information.</td>
                </tr>
                <tr>
                    <td>
                <code>user_data</code><br><em>optional</em>
                </td>
                    <td>string</td>
                    <td>The base64 contents of a file to be created.</td>
                </tr>
                <tr>
                    <td>
                <code>OS-DCF:diskConfig</code><br><em>optional</em>
                </td>
                    <td>string</td>
                    <td>
                        Used to set the disk configuration to <code>MANUAL</code>. Default is set to <code>AUTO</code>. See more details about <a href="" rel="noreferrer">disk configuration</a>.
                    </td>
                </tr>
                <tr>
                    <td>
                <code>config_drive</code><br><em>optional</em>
                </td>
                    <td>boolean</td>
                    <td>If set to <code>true</code>, the system will use data in one or both of <code>user_data</code> and <code>personality</code> to configure the server. Defaults to <code>false</code>.</td>
                </tr>
            </tbody>
        </table>
        <div class="admonition warning">
            <p>If an image has <code>OS-DCF:diskConfig</code> value of <code>MANUAL</code>, you cannot create a server from that image with a <code>OS-DCF:diskConfig</code> value of <code>AUTO</code>.</p>
        </div>
        <div class="admonition warning">
            <div class="admonition-title">Important</div>
            <p>OnMetal servers must be created using an ssh key pair. Thus you should ignore the administrator password returned by a Create Server operation because it does not allow access to the OnMetal server. See <a href="">Section 2.2, “Server Key Pairs”</a> for more information about key pairs.</p>
        </div>
    </div>
    <div class="code">
        <h3>API Request</h3>
        <h5>Request Headers</h5>
        <div class="highlight">
            <pre>
POST /v2/123456/servers

X-Auth-Token: your_auth_token
Content-Type: application/json
Accept: application/json

            </pre>
        </div>
        <h5>
            Request Body
        </h5>
        <div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;server&quot;</span> <span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;name&quot;</span> <span class="p">:</span> <span class="s2">&quot;api-test-server-1&quot;</span><span class="p">,</span>
        <span class="nt">&quot;imageRef&quot;</span> <span class="p">:</span> <span class="s2">&quot;3afe97b2-26dc-49c5-a2cc-a2fc8d80c001&quot;</span><span class="p">,</span>
        <span class="nt">&quot;flavorRef&quot;</span> <span class="p">:</span> <span class="s2">&quot;2&quot;</span><span class="p">,</span>
        <span class="nt">&quot;key_name&quot;</span><span class="p">:</span><span class="s2">&quot;name_of_keypair&quot;</span><span class="p">,</span>
        <span class="nt">&quot;config_drive&quot;</span><span class="p">:</span> <span class="kc">true</span><span class="p">,</span>
        <span class="nt">&quot;OS-DCF:diskConfig&quot;</span> <span class="p">:</span> <span class="s2">&quot;AUTO&quot;</span><span class="p">,</span>
        <span class="nt">&quot;metadata&quot;</span> <span class="p">:</span> <span class="p">{</span>
            <span class="nt">&quot;My Server Name&quot;</span> <span class="p">:</span> <span class="s2">&quot;API Test Server 1&quot;</span>
        <span class="p">},</span>
        <span class="nt">&quot;networks&quot;</span><span class="p">:</span> <span class="p">[</span>
            <span class="p">{</span>
                <span class="nt">&quot;uuid&quot;</span><span class="p">:</span> <span class="s2">&quot;4ebd35cf-bfe7-4d93-b0d8-eb468ce2245a&quot;</span>
            <span class="p">},</span>
            <span class="p">{</span>
                <span class="nt">&quot;uuid&quot;</span><span class="p">:</span> <span class="s2">&quot;00000000-0000-0000-0000-000000000000&quot;</span>
            <span class="p">},</span>
            <span class="p">{</span>
                <span class="nt">&quot;uuid&quot;</span><span class="p">:</span> <span class="s2">&quot;11111111-1111-1111-1111-111111111111&quot;</span>
            <span class="p">}</span>
        <span class="p">],</span>
        <span class="nt">&quot;personality&quot;</span> <span class="p">:</span> <span class="p">[</span>
            <span class="p">{</span>
                <span class="nt">&quot;path&quot;</span> <span class="p">:</span> <span class="s2">&quot;/etc/banner.txt&quot;</span><span class="p">,</span>
                <span class="nt">&quot;contents&quot;</span> <span class="p">:</span> <span class="s2">&quot;ICAgICAgDQoiQSBjbG91ZCBkb2VzIG5vdCBrbm93IHdoeSBpdCBtb3ZlcyBpbiBqdXN0IHN1Y2ggYSBkaXJlY3Rpb24gYW5kIGF0IHN1Y2ggYSBzcGVlZC4uLkl0IGZlZWxzIGFuIGltcHVsc2lvbi4uLnRoaXMgaXMgdGhlIHBsYWNlIHRvIGdvIG5vdy4gQnV0IHRoZSBza3kga25vd3MgdGhlIHJlYXNvbnMgYW5kIHRoZSBwYXR0ZXJucyBiZWhpbmQgYWxsIGNsb3VkcywgYW5kIHlvdSB3aWxsIGtub3csIHRvbywgd2hlbiB5b3UgbGlmdCB5b3Vyc2VsZiBoaWdoIGVub3VnaCB0byBzZWUgYmV5b25kIGhvcml6b25zLiINCg0KLVJpY2hhcmQgQmFjaA==&quot;</span>
            <span class="p">}</span>
        <span class="p">],</span>
        <span class="nt">&quot;config_drive&quot;</span><span class="p">:</span> <span class="kc">true</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>

    </div>
</section>
<section class="docs-section">
    <div class="description">
        <h3 data-drc-scroll-milestone="create-api-response" id="create-api-response">
            API Response
            <a href="#create-api-response" class="headerlink">#</a>
        </h3>
        <p>Although the API will respond immediately with some information, the process of actually creating the server will take some time. The initial response from the API gives you all the information you need in order to check on the server's status while it's being created.</p>
        <p>The full URL to the newly created server is returned through the <code>Location</code> header and is available as a self and bookmark link in the server representation. See <a href="">Links and References</a>.</p>
        <p>When you create a server, only the server ID, its links, and the administrator password are guaranteed to be returned in the request.</p>

        <h4>Status Codes</h4>
        <p>The API will respond with the status code <code>202 Accepted</code> if the creation request was successful. Any other status code indicates an error.</p>
        <table>
            <caption>Error Response Codes</caption>
            <thead>
                <tr>
                    <th>Status Code</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>400</code></td>
                    <td>Bad Request. Often as a result of invalid arguments.</td>
                </tr>
                <tr>
                    <td><code>401</code></td>
                    <td>Unauthorized. Check your <code>Auth-Token</code>. See <a href="" rel="noreferrer">Authentication</a> for more on Authentication Tokens.</td>
                </tr>
                <tr>
                    <td><code>403</code></td>
                    <td>Forbidden.</td>
                </tr>
                <tr>
                    <td><code>404</code></td>
                    <td>Item not found.</td>
                </tr>
                <tr>
                    <td><code>405</code></td>
                    <td>Method not allowed.</td>
                </tr>
                <tr>
                    <td><code>413</code></td>
                    <td>Over limit. You may need to request increased limits for your account. See <a href="" rel="noreferrer">limits</a> for more on resource limits.</td>
                </tr>
                <tr>
                    <td><code>415</code></td>
                    <td>Bad media type.</td>
                </tr>
                <tr>
                    <td><code>500</code></td>
                    <td>Compute fault.</td>
                </tr>
                <tr>
                    <td><code>503</code></td>
                    <td>Service unavailable.</td>
                </tr>
                <tr>
                    <td><code>503</code></td>
                    <td>Server capacity unavailable. This is an exceptional error that may only occur when region capacity has been exhausted.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="code">
        <h3>API Response</h3>
        <h5>Response Headers</h5>
        <div class="highlight">
            <pre>
202 Accepted
Content-Type: application/json
Location: https://dfw.servers.api.rackspacecloud.com/010101/servers/ed5c7754-29b6-45fa-96cb-ab64958c8c0a

            </pre>
        </div>
        <h5>
            Response Body
        </h5>
        <div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;server&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;id&quot;</span><span class="p">:</span><span class="s2">&quot;2f881cd9-44c5-4178-a176-1bc07eb1cfb9&quot;</span><span class="p">,</span>
        <span class="nt">&quot;adminPass&quot;</span><span class="p">:</span><span class="s2">&quot;PkJ68cNqoQP2&quot;</span><span class="p">,</span>
        <span class="nt">&quot;OS-DCF:diskConfig&quot;</span><span class="p">:</span><span class="s2">&quot;AUTO&quot;</span><span class="p">,</span>
        <span class="nt">&quot;links&quot;</span><span class="p">:</span> <span class="p">[</span>
            <span class="p">{</span>
                <span class="nt">&quot;href&quot;</span><span class="p">:</span><span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/010101/servers/ed5c7754-29b6-45fa-96cb-ab64958c8c0a&quot;</span><span class="p">,</span>
                <span class="nt">&quot;rel&quot;</span><span class="p">:</span><span class="s2">&quot;self&quot;</span>
            <span class="p">},</span>
            <span class="p">{</span>
                <span class="nt">&quot;href&quot;</span><span class="p">:</span><span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/010101/servers/ed5c7754-29b6-45fa-96cb-ab64958c8c0a&quot;</span><span class="p">,</span>
                <span class="nt">&quot;rel&quot;</span><span class="p">:</span><span class="s2">&quot;bookmark&quot;</span>
            <span class="p">}</span>
        <span class="p">]</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>


    </div>
</section>
<section class="docs-section">
    <div class="description">
        <h3 data-drc-scroll-milestone="create-checking-progress" id="create-checking-progress">
            Checking Progress
            <a href="#create-checking-progress" class="headerlink">#</a>
        </h3>
        <p>After a successful request to create a server, the API will provide a URL that can be used to monitor the server creation process. You can check the progress of your server build by sending a <code>GET</code> request to the new server's URI.</p>
        <p>The <code>progress</code> property will be an integer between 0 and 100, indicating the completion percentage.</p>
        <p>The <code>status</code> property will be <code>"BUILD"</code> until the build has either succeeded or failed. If the build was successful, this property will change to <code>"ACTIVE"</code>. If the build failed, this property will change to <code>"ERROR"</code></p>
        <p>Several other properties of the server object may not be populated until the server has completed building.</p>
        <div class="admonition tip">
            <p class="first admonition-title">Tip</p>
            <p>For OnMetal server builds, even after the status is ACTIVE, wait a few additional moments for the network configuration to complete. Once the new OnMetal server pings successfully, you may begin to use it.</p>
        </div>
    </div>
    <div class="code">
        <h3>Checking Progress</h3>
        <h5>Request Headers</h5>
        <div class="highlight">
            <pre>
GET /v2/123456/servers/d54891dd-584f-43c4-9c7a-e95815392f7d

X-Auth-Token: your_auth_token
Accept: application/json
            </pre>
        </div>
        <h5>
            Response Body
        </h5>
        <div class="highlight">
            <pre><span class="p">{</span>
    <span class="nt">&quot;server&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;status&quot;</span><span class="p">:</span> <span class="s2">&quot;BUILD&quot;</span><span class="p">,</span>
        <span class="nt">&quot;updated&quot;</span><span class="p">:</span> <span class="s2">&quot;2015-07-16T21:22:38Z&quot;</span><span class="p">,</span>
        <span class="nt">&quot;hostId&quot;</span><span class="p">:</span> <span class="s2">&quot;73f8f30edf612f5bd28637e3fab0edbcc3dd87faf1f3d81aa9c9f83b&quot;</span><span class="p">,</span>
        <span class="nt">&quot;addresses&quot;</span><span class="p">:</span> <span class="p">{},</span>
        <span class="nt">&quot;links&quot;</span><span class="p">:</span> <span class="p">[</span>
            <span class="p">{</span>
                <span class="nt">&quot;href&quot;</span><span class="p">:</span> <span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/v2/123456/servers/d54891dd-584f-43c4-9c7a-e95815392f7d&quot;</span><span class="p">,</span>
                <span class="nt">&quot;rel&quot;</span><span class="p">:</span> <span class="s2">&quot;self&quot;</span>
            <span class="p">},</span>
            <span class="p">{</span>
                <span class="nt">&quot;href&quot;</span><span class="p">:</span> <span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/123456/servers/d54891dd-584f-43c4-9c7a-e95815392f7d&quot;</span><span class="p">,</span>
                <span class="nt">&quot;rel&quot;</span><span class="p">:</span> <span class="s2">&quot;bookmark&quot;</span>
            <span class="p">}</span>
        <span class="p">],</span>
        <span class="nt">&quot;key_name&quot;</span><span class="p">:</span> <span class="kc">null</span><span class="p">,</span>
        <span class="nt">&quot;image&quot;</span><span class="p">:</span> <span class="p">{</span>
            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;3afe97b2-26dc-49c5-a2cc-a2fc8d80c001&quot;</span><span class="p">,</span>
            <span class="nt">&quot;links&quot;</span><span class="p">:</span> <span class="p">[</span>
                <span class="p">{</span>
                    <span class="nt">&quot;href&quot;</span><span class="p">:</span> <span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/123456/images/3afe97b2-26dc-49c5-a2cc-a2fc8d80c001&quot;</span><span class="p">,</span>
                    <span class="nt">&quot;rel&quot;</span><span class="p">:</span> <span class="s2">&quot;bookmark&quot;</span>
                <span class="p">}</span>
            <span class="p">]</span>
        <span class="p">},</span>
        <span class="nt">&quot;RAX-PUBLIC-IP-ZONE-ID:publicIPZoneId&quot;</span><span class="p">:</span> <span class="s2">&quot;695c1e46fe17571fe18fe724680b1ee21ecc3c9846561e7b00755941&quot;</span><span class="p">,</span>
        <span class="nt">&quot;OS-EXT-STS:task_state&quot;</span><span class="p">:</span> <span class="s2">&quot;spawning&quot;</span><span class="p">,</span>
        <span class="nt">&quot;OS-EXT-STS:vm_state&quot;</span><span class="p">:</span> <span class="s2">&quot;building&quot;</span><span class="p">,</span>
        <span class="nt">&quot;flavor&quot;</span><span class="p">:</span> <span class="p">{</span>
            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;2&quot;</span><span class="p">,</span>
            <span class="nt">&quot;links&quot;</span><span class="p">:</span> <span class="p">[</span>
                <span class="p">{</span>
                    <span class="nt">&quot;href&quot;</span><span class="p">:</span> <span class="s2">&quot;https://dfw.servers.api.rackspacecloud.com/123456/flavors/2&quot;</span><span class="p">,</span>
                    <span class="nt">&quot;rel&quot;</span><span class="p">:</span> <span class="s2">&quot;bookmark&quot;</span>
                <span class="p">}</span>
            <span class="p">]</span>
        <span class="p">},</span>
        <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="s2">&quot;d54891dd-584f-43c4-9c7a-e95815392f7d&quot;</span><span class="p">,</span>
        <span class="nt">&quot;user_id&quot;</span><span class="p">:</span> <span class="s2">&quot;904224da0696454081afa9c96d69699a&quot;</span><span class="p">,</span>
        <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;api-test-server-1&quot;</span><span class="p">,</span>
        <span class="nt">&quot;created&quot;</span><span class="p">:</span> <span class="s2">&quot;2015-07-16T21:22:33Z&quot;</span><span class="p">,</span>
        <span class="nt">&quot;tenant_id&quot;</span><span class="p">:</span> <span class="s2">&quot;123456&quot;</span><span class="p">,</span>
        <span class="nt">&quot;OS-DCF:diskConfig&quot;</span><span class="p">:</span> <span class="s2">&quot;AUTO&quot;</span><span class="p">,</span>
        <span class="nt">&quot;accessIPv4&quot;</span><span class="p">:</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
        <span class="nt">&quot;accessIPv6&quot;</span><span class="p">:</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
        <span class="nt">&quot;progress&quot;</span><span class="p">:</span> <span class="mi">30</span><span class="p">,</span>
        <span class="nt">&quot;OS-EXT-STS:power_state&quot;</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
        <span class="nt">&quot;config_drive&quot;</span><span class="p">:</span> <span class="s2">&quot;&quot;</span><span class="p">,</span>
        <span class="nt">&quot;metadata&quot;</span><span class="p">:</span> <span class="p">{}</span>
    <span class="p">}</span>
<span class="p">}</span>
            </pre>
        </div>
    </div>
</section>
<section class="docs-section">
    <div class="description">
        <h3 data-drc-scroll-milestone="create-more-information" id="create-more-information">
            More Information
            <a href="#create-more-information" class="headerlink">#</a>
        </h3>
        <p>You can get additional attributes by issuing a GET requests on the server. See <a href="">Section 2.1.4, “Get Server Details”</a>.</p>
        <p>See <a href="">Section 3.8, “Config Drive Extension”</a> for details about using config_drive when creating servers.</p>
    </div>
    <div class="code"></div>
</section>
<section class="docs-section">
    <div class="description">
        <h3 data-drc-scroll-milestone="update-server" id="update-server">
            Update a Server
            <a href="#update-server" class="headerlink">#</a>
        </h3>
    </div>
    <div class="code"></div>
</section>
<section class="docs-section">
    <div class="description">
        <h4 id="update-api-request" data-drc-scroll-milestone="update-api-request">
            API Request
            <a href="#update-api-request" class="headerlink">#</a>
        </h4>
    </div>
    <div class="code"></div>
</section>
<section class="docs-section">
    <div class="description">
        <h4 id="update-api-response" data-drc-scroll-milestone="update-api-response">
            API Response
            <a href="#update-api-response" class="headerlink">#</a>
        </h4>
    </div>
    <div class="code"></div>
</section>
<section class="docs-section">
    <div class="description">
        <h3 data-drc-scroll-milestone="delete-server" id="delete-server">
            Delete a Server
            <a href="#delete-server" class="headerlink">#</a>
        </h3>
    </div>
    <div class="code"></div>
</section>
<section class="docs-section">
    <div class="description">
        <h4 id="delete-api-request" data-drc-scroll-milestone="delete-api-request">
            API Request
            <a href="#delete-api-request" class="headerlink">#</a>
        </h4>
    </div>
    <div class="code"></div>
</section>
<section class="docs-section">
    <div class="description">
        <h4 id="delete-api-response" data-drc-scroll-milestone="delete-api-response">
            API Response
            <a href="#delete-api-response" class="headerlink">#</a>
        </h4>
    </div>
    <div class="code"></div>
</section>
{% endblock %}
