{% extends "_layouts/sidebar-left.html" %}

{% set metaDescription = deconst.content.envelope.title + " - Rackspace Developer Portal" %}
{% set metaTitle = deconst.content.envelope.title + " - Rackspace Developer Portal" %}
{% set ogDescription = deconst.content.envelope.meta.ogDescription %}
{% set ogImage = deconst.content.envelope.meta.ogImage %}
{% set ogTitle = deconst.content.envelope.meta.ogTitle %}
{% set twitterCreator = deconst.content.envelope.meta.twitterCreator %}
{% set twitterDescription = deconst.content.envelope.meta.twitterDescription %}
{% set twitterTitle = deconst.content.envelope.meta.twitterTitle %}

{% block metaDescription %}{{ metaDescription|fallback(super()) }}{% endblock %}
{% block metaTitle %}{{ metaTitle|fallback(super()) }}{% endblock %}
{% block ogDescription %}{{ ogDescription|fallback(metaDescription, super()) }}{% endblock %}
{% block ogTitle %}{{ ogTitle|fallback(metaTitle, super()) }}{% endblock %}
{% block ogImage %}{{ ogImage|fallback(super()) }}{% endblock %}
{% block twitterCreator %}{{ twitterCreator|fallback(super()) }}{% endblock %}
{% block twitterDescription %}{{ twitterDescription|fallback(ogDescription, metaDescription, super()) }}{% endblock %}
{% block twitterTitle %}{{ twitterTitle|fallback(ogTitle, metaTitle, super()) }}{% endblock %}


{% block bodyClass %}docs{% endblock %}

{% set headlineTag = 'h1' %}
{% set headlineAccent = 'Rackspace' %}
{% set headline = 'Developer Docs' %}
{% set tagline = 'Let’s Build Something Powerful Together!' %}

{% block sidebar %}
  <div data-drc-global-sidebar>
    <div class="sidebar-container" data-drc-sticky data-offset-top="321" data-drc-flex-height data-flex-bottom="443">
      {{ deconst.content.globals.toc|unwrap('div')|limitListDepth(3) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <section class="docs-section">
    {{ deconst.content.envelope.body }}
    <footer class="docs-footer">
      <div class="previous-next-links">
        <div class="previous">
          {% if deconst.content.envelope.previous %}
            <span class="label">Previous</span>
            <a href="{{ deconst.content.envelope.previous.url }}">{{ deconst.content.envelope.previous.title }}</a>
          {% endif %}
        </div>
        <div class="next">
          {% if deconst.content.envelope.next %}
            <span class="label">Next</span>
            <a href="{{ deconst.content.envelope.next.url }}">{{ deconst.content.envelope.next.title }}</a>
          {% endif %}
        </div>
      </div>
    </footer>
  </section>
{% endblock %}
