{% extends "_layouts/narrow-sidebar.html" %}

{% block metaTitle %}{{ [deconst.content.envelope.title, super()]|join(' | ') }}{% endblock %}
{% block header %}
<div class="col-md-12 title-header">
    <h1 class="headline">{{ deconst.content.envelope.title }}</h1>
</div>
{% endblock %}
{% block leftColumn %}
    {{ deconst.content.globals.toc }}
{% endblock %}
{% block rightColumn %}
    <div class="body">
        {{ deconst.content.envelope.body }}
    </div>
    <div class="serial-links clearfix">
        <div class="previous">
            {% if deconst.content.envelope.previous %}
                <a href="{{ deconst.content.envelope.previous.url }}" data-ga-click="event" data-category="navigation" data-action="click" data-label="after-user-guide-previous">
                    {{ deconst.content.envelope.previous.title|safe }}
                </a>
            {% endif %}
        </div>
        <div class="next">
            {% if deconst.content.envelope.next %}
                <a href="{{ deconst.content.envelope.next.url }}" data-ga-click="event" data-category="navigation" data-action="click" data-label="after-user-guide-next">
                    {{ deconst.content.envelope.next.title|safe }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
